<div class="glownyDiv">
  <div class="czesc"></div>
  <div class="czesc">
    <button class="przyciskPlatnosci" (click)="nowaPlatnosc()">
      Wpłać pieniądze na konto
    </button>
    <button class="przyciskPlatnosci" (click)="aktywacjaKonta()">Aktywuj konto</button>
  </div>
  <div class="czesc">
    <table>
      <tr>
        <td>
          <span class="statusTytul"> Status konta: </span>
        </td>
        <td>
          <span class="status">
            <span *ngIf=" dane.status == -1">Testowe</span>
       <span *ngIf=" dane.status == 1">Aktywne</span>
            <span *ngIf=" dane.status == 0">Nieaktywne</span>
          </span>
        </td>
      </tr>


      <tr>
        <td class="statusTytul">Konto:</td>
        <td class="status">{{dane.konto / 100 }} zł</td>
      </tr>
      <tr>
        <td class="statusTytul">Pakiet:</td>
        <td class="status">Zielony</td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="opis">
            <b>System aktywny do:</b> {{ dane.aktywneDo | date : "dd.MM.yyyy"}}
            <br/>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
