.glownyDiv {
  width: 100%;
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .czesc {
    height: 200px;
    float: left;
    $czesc1Szerokowcs: 400px;
    $czesc3Szerokowcs: 450px;

    &:nth-of-type(1) {
      width: $czesc1Szerokowcs;
      @media (max-width: 900px) {
        width: auto;
      }
    }

    &:nth-of-type(2) {
      @media (max-width: 900px) {
        display: none;
      }
      width: calc(100% - $czesc1Szerokowcs - $czesc3Szerokowcs);
    }

    &:nth-of-type(3) {
      width: $czesc3Szerokowcs;
      @media (max-width: 900px) {
        width: auto;
      }

      .statusTytul {
        font-size: 29px;
        padding-right: 10px;
        font-weight: bolder;
      }

      .status {
        font-size: 28px;
        padding-right: 10px;
      }

      .opis {
        font-size: 22px;
      }
    }
  }
}

.przyciskPlatnosci {
}

.tabelaUslug {
  font-size: 17px;
}
