.glownyDiv {
  width: 100%;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .czesc3 {
    button {

      @media (max-width: 900px) {
        margin-right: 10px;
      }
    }
  }

  .czesc {
    padding: 10px;

    float: left;
    $czesc1Szerokowcs: 400px;
    $czesc3Szerokowcs: 450px;

    &:nth-of-type(1) {
      width: $czesc1Szerokowcs;
      @media (max-width: 900px) {
        width: auto;
      }
    }

    &:nth-of-type(2) {
      @media (max-width: 900px) {
        display: none;
      }
      width: calc(100% - $czesc1Szerokowcs - $czesc3Szerokowcs);
    }

    &:nth-of-type(3) {
      width: $czesc3Szerokowcs;
      @media (max-width: 900px) {
        width: auto;
      }

      .statusTytul {
        font-size: 18px;
        padding-right: 10px;
        font-weight: bolder;
        @media (max-width: 900px) {
          font-size: 15px;
        }
      }

      .status {
        font-size: 16px;
        padding-right: 10px;
        @media (max-width: 900px) {
          font-size: 11px;
        }
      }

      .opis {
        font-size: 14px;
        @media (max-width: 900px) {
          font-size: 10px;
        }
      }
    }
  }
}

.przyciskPlatnosci {
}

.tabelaUslug {
  font-size: 17px;
  @media (max-width: 900px) {

    font-size: 12px;
  }
}

.dodawanieOdejmowaniePracownikow {
  button {
    background: transparent;
    border: none;
    font-size: 20px;
    @media (max-width: 900px) {
      font-size: 14px;
    }

    &:nth-child(1):hover {
      color: green;
    }

    &:nth-child(2):hover {
      color: red;
    }
  }
}
