<div class="glownyDiv">
  <div class="czesc"></div>
  <div class="czesc">
    <button class="przyciskPlatnosci" (click)="nowaPlatnosc()">
      Aktywuj pełną wersję
    </button>
    <button class="przyciskPlatnosci">>Przydłuż ważność konta</button>
  </div>
  <div class="czesc">
    <table>
      <tr>
        <td>
          <span class="statusTytul"> Status konta: </span>
        </td>
        <td>
          <span class="status">
            {{ dane?.aktywne }}
          </span>
        </td>
      </tr>
      <tr>
        <td class="statusTytul">Pakiet:</td>
        <td class="status">Zielony</td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="opis">
            <b>System aktywny do:</b> {{ dane?.aktywneDo | date : "dd.MM.yyyy"
            }}<br />
            <b>Dni do końca aktywności:</b> {{ dane?.dniDoKoncaAktywnosci }}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
