<div class="glownyDiv">
  <div class="czesc">
    <table class="tabelaUslug">
      <tr>
        <th colspan="3">Dodatki:</th>
      </tr>
      <tr class="dodawanieOdejmowaniePracownikow">
        <td>Miejsca na pracowników</td>
        <td>
          <button (click)="DodajPracownika()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          zajęte {{ podreczne_.danePodreczneObiekt.returnActiveWorkers() }} z
          {{ dane.iloscPracownikow }}
          <button (click)="OdejmijPracownika()">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </td>
      </tr>
      <!--
            <tr>
              <td style="font-weight: bolder">Usługa email</td>
              <td style="color: #0e7908; font-weight: bolder">Włączona</td>
            </tr>
            <tr>
              <td>Darmowe:</td>
              <td>wykorzystano 54 z <i>nielimitowane</i></td>
            </tr>-->
    </table>
  </div>
  <div class="czesc">
    <app-wykres-stanu-konta></app-wykres-stanu-konta>
  </div>
  <div class="czesc czesc3">
    <table>
      <tr>
        <td>
          <span class="statusTytul"> Status konta: </span>
        </td>
        <td>
          <span class="status">
            <span *ngIf="dane.status == -1" style="color: #00b0ff">Testowe</span>
            <span *ngIf="dane.status == 1" style="color: green">Aktywne</span>
            <span *ngIf="dane.status == 0" style="color: red">Nieaktywne</span>
          </span>
        </td>
      </tr>

      <tr>
        <td class="statusTytul">Konto:</td>
        <td class="status">{{ dane.konto / 100 }} zł</td>
      </tr>
      <tr>
        <td class="statusTytul">Pakiet:</td>
        <td class="status">Zielony</td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="opis">
            <b>System aktywny do:</b>
            {{ dane.aktywneDo | date : 'dd.MM.yyyy   HH:MM' }}
            <br />
          </span>
        </td>
      </tr>
    </table>
    <button (click)="nowaPlatnosc()" class="domyslnyButtonZapisz">Wpłać pieniądze na konto</button>
    <button (click)="aktywacjaKonta()" *ngIf="dane.status == -1 || dane.status == 0" class="domyslnyButton2">
      Aktywuj konto
    </button>
    <button (click)="wstrzymajKonto()" *ngIf="dane.status == 1" class="domyslnyButtonUsun">Wstrzymaj</button>
  </div>
</div>
