<table [ngClass]="{ tablicaLoading: lista_.ladowanieDanych }" class="tablica">
  <tr>
    <th>Nr</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Adres e-mail</th>
    <th>Numer telefonu</th>
    <th>Wizyty</th>
    <th style="width: 125px">Zarządzanie</th>
  </tr>
  <tr *ngFor="let klient of lista_.listaKlientow; let index = index">
    <td>{{ paggination.indexCount(index) }}</td>
    <td>{{ klient.imie }}</td>
    <td>{{ klient.nazwisko }}</td>
    <td>{{ klient.email }}</td>
    <td>{{ klient.numerTelefonu }}</td>
    <td>{{ klient.wizyty.length }}</td>
    <td>
      <div container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>

        <div ngbDropdownMenu>
          <button (click)="wyswietlInformacje(klient)" ngbDropdownItem>Wyświetl wizyty</button>
          <button ngbDropdownItem>Usuń</button>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor="let k of [].constructor(Math.abs(lista_.pageSize - lista_.listaKlientow.length))">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<app-table-pagination
  #paggination
  (pageChange)="lista_.pobierzDane()"
  [(page)]="lista_.page"
  [collectionSize]="lista_.iloscKlientow"
  [pageSize]="lista_.pageSize"></app-table-pagination>
