<app-table
  (changeData)="lista_.pobierzDane()"
  [collectionSize]="lista_.iloscKlientow"
  [data]="lista_.listaKlientow"
  [loading]="lista_.ladowanieDanych"
  [search]="true"
  [title]="'Lista klientów:'">
  <ng-template TemplateId="thead">
    <th>Nr</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Ostatnia wizyta</th>
    <th class="NotInMobile">Adres e-mail</th>
    <th class="NotInMobile">Numer telefonu</th>
    <th>Wizyty</th>
    <th class="menageButton">Zarządzanie</th>
  </ng-template>

  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td>{{ obj.firstName }}</td>
    <td>{{ obj.lastName }}</td>
    <td>{{ obj.dataOstatniejWizyty() | date : 'dd.MM.yyyy' }}</td>
    <td class="NotInMobile">{{ obj.email }}</td>
    <td class="NotInMobile">{{ obj.phone }}</td>
    <td>
      <span class="wizytyKlientaWZakladzie"> {{ obj.wizyty.length }}</span>
      <span *ngIf="obj.wizyty.length != obj.wizytWZakladzie.length" class="sumaWizytKlientaWZakladzie"
        >(suma {{ obj.wizytWZakladzie.length }})</span
      >
    </td>
    <td class="small">
      <div container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>

        <div ngbDropdownMenu>
          <button (click)="wyswietlInformacje(obj)" ngbDropdownItem>Wyświetl wizyty</button>
          <button ngbDropdownItem>Usuń</button>
        </div>
      </div>
    </td>
  </ng-template>
</app-table>
