<div class="stopka">
  <div class="panel">
  <table>
    <tr>
      <td>Kontakt:</td>
    </tr>
    <tr>
      <td>E-mail: korneliamushak@gmail.com</td>
    </tr>
    <tr>
      <td>Tel: +48 788 830 720</td>
    </tr>
  </table>
  </div>
  <div class="panel">
System:<br>
    <b>Cennik</b><br>
    <b>Sprawność systemu</b><br>
    <b>www.sracz.pl</b>
  </div>  <div class="panel">
Co nowego? <b>Historia zmian</b><br>
  Zgłoś brakującą funkcję: <b>Zgłoś</b>
</div>
  <div class="panel">
Informacje:<br>
    <b>  RODO<br>
    Regulamin
    </b>
  </div>
</div>
