<div class="bannerShadowTmp"></div>
<div class="bannerShadowTmpBlank"></div>
<div [attr.data-aos-duration]="animation_.animationTimeBanner" class="banner" data-aos="fade-down" data-aos-delay="">
  <div class="logoINazwaZakladu">
    <div class="logo">
      <img [src]="env.linkDoLogaStronyReklamowej | zdjecie | identyfikator" alt="logo zakładu" />
    </div>
    <div class="nazwa">
      <h1>{{ danePodstawowe.danePodstawowe.nazwa }}</h1>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.rejestracja)">Rejestracja</li>
      <li (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.ONas)">O nas</li>
      <li (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.pracownicy)">Pracownicy</li>
      <li (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.mapa)">Mapa</li>
    </ul>
  </div>
  <div class="napiszDoNasPrzycisk">
    <button (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.napiszNam)" class="napiszDoNasButton">
      Napisz do nas
    </button>
  </div>
  <app-hamburger-button #hamburger></app-hamburger-button>
</div>
