.bannerShadowTmpBlank {
  background: white;
  height: 65px;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 109;
  @media (max-width: 500px) {
    display: none;
  }
}

.bannerShadowTmp {
  background: transparent;
  height: 65px;
  width: 100%;
  pointer-events: none;

  z-index: 108;
  position: absolute;
  transition: top 400ms;
  top: -20px;

  &.bannerShadow {
    top: 0px;
    box-shadow: 0 0px 1px 2px #858181;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.banner {
  width: 100vw;
  height: 65px;
  float: left;
  display: flex;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  z-index: 110;

  @media (max-width: 800px) {
    justify-content: space-between;
  }
  @media (max-width: 500px) {
    height: 50px;
  }

  .logoINazwaZakladu {
    width: calc(100% - 160px - 430px);
    height: 100%;
    float: left;
    @media (max-width: 1200px) {
      width: calc(100vw - 65px);
    }

    .logo {
      width: 64px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;

      img {
        width: max-content;
        height: max-content;
        max-height: 99%;
      }
    }

    .nazwa {
      float: left;
      width: calc(100% - 64px);
      height: 100%;
      box-sizing: border-box;
      display: flex;
      padding-left: 10px;
      align-items: center;

      h1 {
        font-family: math;
        margin: 0;
        color: #00009c;
        text-shadow: 0px 0px 1px black;

        font-size: clamp(17px, 1rem + 0.7vw, 25px);
      }
    }
  }

  .menu {
    width: 430px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px) {
      display: none;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;

      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-weight: bolder;
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #101080;
        text-shadow: 0px 1px 1px white;
        font-size: 18px;
        font-family: math;
        border-bottom: transparent 3px solid;

        &:hover {
          cursor: pointer;
          background-color: rgba(245, 246, 246, 0.91);
          border-bottom: #ce2525 3px solid;
        }
      }
    }
  }

  .napiszDoNasPrzycisk {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 800px) {
      display: none;
    }

    .napiszDoNasButton {
      margin-right: 10px;
      border: 2px solid #d40000;
      width: 150px;
      height: 40px;
      border-radius: 30px;
      background-color: transparent;
      color: #d40000;
      font-size: 15px;
      font-weight: bold;
      text-shadow: 0px 0px 1px #817b7b;
      font-family: math;
      transition: 200ms;

      &:hover {
        color: white;
        background-color: #d40000;
        cursor: pointer;
      }
    }
  }
}
