<div class="banner">
  <div class="logoINazwaZakladu">
    <div class="logo">
      <img src="assets/logoZakladu.jpg">
    </div>
    <div class="nazwa"><h1>Fryzjernia "Słoneczna"</h1></div>
  </div>
  <div class="menu">
    <ul>
      <li (click)="przeniesDoPanelu('pracownicy')">
        Pracownicy
      </li>
      <li (click)="przeniesDoPanelu('stopka')">
        O nas
      </li>
    </ul>
  </div>
  <div class="napiszDoNasPrzycisk">
    <button class="napiszDoNasButton" (click)="przeniesDoPanelu('napiszNam')">Napisz do nas</button>
  </div>
</div>
