$borderSelect: 2px inset #4096e3;

@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  margin: 0;
}

.glider.draggable {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.pizenka {
  width: 50px;
  height: 50px;
}

.ng-select.selectPracownicy {
  width: 200px;
}

.ng-select.selectPracownicy .ng-select-container {
  width: 280px;
  height: 25px;
  font-size: 18px;
  border: 2px inset #2491f9;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .ng-placeholder {
    color: silver;
    font-size: 14px;
    padding-left: 5px;
  }

  .ng-option {
  }
}

.ng-select.selectPracownicy ng-dropdown-panel.ng-select-top {
  width: 280px !important;
  border: $borderSelect;
  border-bottom: none;
}

.ng-select.selectPracownicy ng-dropdown-panel.ng-select-bottom {
  width: 280px !important;
  border: $borderSelect;
  border-top: none;
}

.ng-select.selectPracownicy .ng-value-label {
  color: #404040;
  font-weight: bold;
  font-family: math;
  text-shadow: 0px 0px 1px black;
  font-size: 18px !important;
}

.ng-select.selectPracownicy .ng-dropdown-panel-items {
  width: 100%;
}

.ng-select.selectPracownicy div.ng-option {
  // width: 273px !important;

  .ng-option-label {
    font-size: 20px;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
