$borderSelect: 2px inset #4096e3;

@import '~@ng-select/ng-select/themes/default.theme.css';
.__se__solid {
  opacity: 1 !important;
  width: 100% !important;
}

html {
  height: 100dvh;
}

.tekst p {
  width: 100%;
}

body {
  margin: 0;
}

.glider.draggable {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.pizenka {
  width: 50px;
  height: 50px;
}

.ng-select.selectPracownicy {
  width: 200px;
}

.ng-select.selectPracownicy .ng-select-container {
  width: 280px;
  height: 25px;
  font-size: 18px;
  border: 2px inset #2491f9;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 500px) {
    width: 200px;
  }
  @media (max-width: 400px) {
    width: 170px;
  }

  .ng-placeholder {
    color: silver;
    font-size: 14px;
    padding-left: 5px;
  }

  .ng-option {
  }
}

.ng-select.selectPracownicy ng-dropdown-panel.ng-select-top {
  width: 280px !important;
  border: $borderSelect;
  border-bottom: none;
}

.ng-select.selectPracownicy ng-dropdown-panel.ng-select-bottom {
  width: 280px !important;
  border: $borderSelect;
  border-top: none;
  @media (max-width: 500px) {
    border-top: solid;
    width: min-content !important;
  }
}

.ng-select.selectPracownicy .ng-value-label {
  color: #404040;
  font-weight: bold;
  font-family: math;
  text-shadow: 0px 0px 1px black;
  font-size: 18px !important;
  @media (max-width: 900px) {
    font-size: 16px !important;
  }
  @media (max-width: 700px) {
    font-size: 15px !important;
  }
  @media (max-width: 600px) {
    font-size: 14px !important;
  }
  @media (max-width: 500px) {
    font-size: 12px !important;
  }
  @media (max-width: 400px) {
    font-size: 11px !important;
  }
}

.ng-select.selectPracownicy .ng-dropdown-panel-items {
  width: 100%;
}

.ng-select.selectPracownicy div.ng-option {
  // width: 273px !important;

  .ng-option-label {
    font-size: 20px;
  }
}

.domyslnyButton2 {
  background: #8a0327;
}

.domyslnyButton3 {
  background: #00a0c4;
}

.domyslnyButton3,
.domyslnyButton2 {
  font-size: 14px;
  color: #f3f3f3;
  padding: 4px 6px 4px 6px;
  font-weight: bolder;
  border-radius: 8px;
  transition: box-shadow 0.05s;
  letter-spacing: 3px;

  &.small {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 2px 3px 2px 3px;
  }

  //  box-shadow: 0px 0px 1px 1px inset #8d8a8a;
  //
  &:hover:enabled {
    box-shadow: 0px 0px 2px 2px inset rgba(72, 72, 72, 0.49);
    color: white;
    cursor: pointer;
  }

  &:disabled {
    box-shadow: none;
    background: #8d8d8d;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
