.disabled {
  pointer-events: none;
}

.paggination {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
}
