<div class="paggination">
  <ngb-pagination [page]="page" [maxSize]="7"
                  (pageChange)="pageChange.emit($event)"
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"

                  [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  <select [(ngModel)]="pageSize" (change)="pageSizeChange.emit(pageSize)">
    <option *ngFor="let k of [10, 20, 50, 100]">{{ k }}</option>
  </select>
  <span class="tekst">sracz Wyświetlono {{ page }} z {{ pageCount() }} stron. </span>
</div>

