<div class="paggination">
  <ngb-pagination
    (pageChange)="pageChange.emit($event)"
    [boundaryLinks]="true"
    [collectionSize]="collectionSize"
    [maxSize]="7"
    [pageSize]="pageSize"
    [page]="page"
    [rotate]="true"></ngb-pagination>
  <select (change)="pageSizeChange.emit(pageSize); ngAfterViewInit()" [(ngModel)]="pageSize">
    <option *ngFor="let k of pageSizeArray">{{ k }}</option>
  </select>
  <span class="tekst">Wyświetlono {{ page }} z {{ pageCount() }} stron. </span>
</div>
