<!--<h2>Wysyłanie pliku:</h2>-->
<div class="mainContainerFile">
  <section [ngSwitch]="status" class="pInfo">
    <p *ngSwitchCase="'uploading'" class="send">
      ⏳Wysyłanie...
      <fa-icon [icon]="faGear" animation="spin" class="gear" />
    </p>
    <p *ngSwitchCase="'success'" class="success">✅Udane!</p>
    <p *ngSwitchCase="'fail'" class="fail">❌Błąd!</p>
    <p *ngSwitchDefault class="wait">&nbsp;</p>
  </section>
  <div class="sendFileContainer">
    <input #fileUpload (change)="onChange($event); readURL($event)" class="file-input" type="file" />
    <button (click)="fileUpload.click()" class="sendFileButton">Wybierz plik</button>
    <button (click)="onUpload(fileUpload)" *ngIf="file" [disabled]="status == 'uploading'" class="uploadFile">
      Wyślij
    </button>
    <img [src]="imageSrc || 'http://placehold.it/30'" alt="your image" id="blah" />
  </div>
  <!--  <div *ngIf="file" class="fileInfoContainer">-->
  <!--    <span>{{ file.name | maxDlugosc : 20 }}</span>-->
  <!--    <section class="file-info">Size: {{ Math.round(file.size * 0.0001) / 100 }}Mb</section>-->
  <!--  </div>-->
</div>
