<h2>Wysyłanie pliku:</h2>
<input #fileUpload (change)="onChange($event)" class="file-input" type="file" />

<div *ngIf="file" class="">
  <section class="file-info">
    <!-- File details:
  <ul>
 <li>Name: {{file.name |maxDlugosc:20}}</li>
    </ul>
    <li>Type: {{file.type}}</li>-->
    <button (click)="onUpload(fileUpload)" [disabled]="status == 'uploading'">Upload the file</button>
    Size: {{ Math.round(file.size * 0.000001) }}Mb
  </section>

  <section [ngSwitch]="status" class="pInfo">
    <p *ngSwitchCase="'uploading'" class="send">
      ⏳Wysyłanie...
      <fa-icon [icon]="faGear" animation="spin" class="gear" />
    </p>
    <p *ngSwitchCase="'success'" class="success">✅Udane!</p>
    <p *ngSwitchCase="'fail'" class="fail">❌Błąd!</p>
    <p *ngSwitchDefault class="wait">Oczekiwanie na wysłanie...</p>
  </section>
</div>
