:host {
  position: relative;
  display: block;
}

.leftRightContainer {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;

  .leftContainer {
    flex-grow: 10;

    ::ng-deep table,
    table {
      tr {
        th,
        th label {
          padding-right: 10px;
        }
      }
    }
  }

  .rightContainer {
    flex-grow: 1;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1202px) {
    flex-wrap: wrap;
  }

  table {
    max-width: 500px;
    height: min-content;
    border-collapse: separate;
    border-spacing: 4px;
  }
}

.buttonZapiszZmodyfikuj {
  width: 70px;
  height: 70px;
  font-size: 13px;
}

.naglowki1form {
  font-size: 16px;
}

.naglowki2form {
  font-size: 16px;
}

.wyswietlanieDanych {
  padding-left: 20px;
  padding-right: 30px;
}

.pracownikZdjecie {
  max-height: 250px;
  max-width: 190px;
  height: min-content;
  width: max-content;
}

.tableDiv {
  display: flex;
}

.modal-footer {
  margin-top: 20px;
}
