img {
  width: 250px;
  max-height: 200px;
  float: left;
  box-shadow: 2px 2px 2px 2px #044d30;
  border-top: 1px solid green;
  border-left: 1px solid green;
}

.imieNazwisko {
  font-weight: bolder;
  font-size: 35px;
  color: #0c0874;
  text-shadow: 2px 2px 4px #ffffff;
  letter-spacing: 1px;

}
