<table>
  <tr>
    <td colspan="2" class="maszPytanie"> Masz jakieś pytanie? Pisz śmiało</td>
  </tr>
  <tr>
    <td><input class="inputNapiszDoNas" placeholder="Imię"></td>
    <td><input class="inputNapiszDoNas" placeholder="Nazwisko"></td>
  </tr>
  <tr>

  </tr>
  <tr>
    <td><input class="inputNapiszDoNas" placeholder="E-mail"></td>

    <td><input class="inputNapiszDoNas" placeholder="Numer telefonu"></td>
    <td class="wpiszNumerEmail">Wpisz swój numer telefonu lub e-mail <br>Żebyśmy mogli z tobą skontaktować</td>
  </tr>
  <tr>
    <td colspan="2"><textarea style="width: 465px; height: 200px; border-radius:10px; resize: none"
                              class="inputNapiszDoNas"
                              placeholder="Treść"></textarea></td>
  </tr>
  <tr>
    <td>
      <button class="buttonReset" type="reset">Reset</button>
    </td>
    <td>
      <button class="buttonWyslij">Wyślij</button>
    </td>
  </tr>
</table>
