
.wpiszNumerEmail {
  font-size: 20px;
  color: green;
}

.buttonWyslij, .buttonReset {
  width: 150px;
  height: 30px;
  background: #e3f9f6;
  border: 1px solid #01570a;
  color: green;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  transition: 200ms;

  &:hover {
    box-shadow: 0px 0px 2px 2px #d1d9d1;
    cursor: pointer;
    color: white;
    background: #01570a;
  }
}

.buttonReset {
  border: 1px solid #a10808;
  color: #a10808;


  &:hover {
    color: white;
    background: #a10808;
  }
}

.maszPytanie {
  letter-spacing: 1px;
  font-size: 30px;
  color: #011679;
  font-weight: bolder;
  text-shadow: 0px 0px 1px white;
}

.inputNapiszDoNas {
  border: 2px inset #3c78b7;
  border-radius: 20px;
  width: 220px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

