
.spanTytul {
  font-size: 19px;
  font-family: math;
  color: #013a70;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
  letter-spacing: 1px;
}

.uslugiSpan {
  font-family: math;
  font-size: 19px;
  font-weight: bold;
  color: #0e61b4;
  text-shadow: 0px 0px 1px #ececec;
}

.chekboxUsluga {
  scale: 1.55555;
}

input {
  border-radius: 20px;
}

.niedostepnaUsluga {


  td {
    color: #969696 !important;
  }

}

.spanNiedostepna {
  cursor: help;
}
