<div class="naglowek">
  <span>Wybierz usługę/usługi</span>
</div>

<div class="uslugi">
  <table>
    <tr class="spanTytul">
      <th>Nr</th>
      <th>Usługa</th>
      <th>Cena</th>
      <th>Wybierz</th>
    </tr>
    <tr *ngFor="let usluga of uslugi();let index = index" [ngClass]="{'niedostepnaUsluga':!czyWykonuje(usluga)}">
      <td class="uslugiSpan" style="min-width: 80px">{{index + 1}}.</td>
      <td class="uslugiSpan" style="min-width: 550px;">{{usluga.nazwa}}</td>
      <td class="uslugiSpan" style="min-width: 100px">{{usluga.cena}} złotych</td>

      <td style="min-width: 100px; text-align: center">

        <input class="chekboxUsluga" type="checkbox" [(ngModel)]="usluga.wybrane" *ngIf="czyWykonuje(usluga)"/>
        <span class="spanNiedostepna" *ngIf="!czyWykonuje(usluga)"
              title="Ta usługa jest nieobsługiwana przez wybranego pracownika, wybierz innego pracownika">Niedostępne</span>
      </td>
    </tr>
  </table>

</div>
<div class="divNaPrzycisk">
  <span class="czerwone" *ngIf="niewybranaUsluga">Wybierz usługę,aby przejść dalej</span>
  <button class="buttonDalej" (click)="przejdzDalej()">Dalej</button>
  <button class="buttonCofnij" (click)="cofnij()">Cofnij</button>
</div>
