<div class="naglowek">
  <span>Wybierz usługę/usługi</span>
</div>

<div class="uslugi">
  <table>
    <tr class="spanTytul">
      <th>Nr</th>
      <th>Usługa</th>
      <th>Cena</th>
      <th>Wybierz</th>
    </tr>
    <tr *ngFor="let usluga of uslugi(); let index = index" [ngClass]="{ niedostepnaUsluga: !czyWykonuje(usluga) }">
      <td class="uslugiSpan" class="td1" style="">{{ index + 1 }}.</td>
      <td class="uslugiSpan" class="td2" style="">{{ usluga.nazwa }}</td>
      <td class="uslugiSpan" class="td3" style="">{{ usluga.cena }} złotych</td>

      <td class="td4">
        <input *ngIf="czyWykonuje(usluga)" [(ngModel)]="usluga.wybrane" class="chekboxUsluga" type="checkbox" />
        <span
          *ngIf="!czyWykonuje(usluga)"
          class="spanNiedostepna"
          title="Ta usługa jest nieobsługiwana przez wybranego pracownika, wybierz innego pracownika"
          >Niedostępne</span
        >
      </td>
    </tr>
  </table>
  <span *ngIf="niewybranaUsluga" class="czerwone"><br />Wybierz usługę,aby przejść dalej</span>
</div>
<div class="divNaPrzycisk">
  <button (click)="przejdzDalej()" class="buttonDalej">Dalej</button>
  <button (click)="cofnij()" class="buttonCofnij">Cofnij</button>
</div>
