<div class="naglowek">
  <span>Wybierz usługę/usługi</span>
</div>

<div class="uslugi">
  <table #tablica>
    <tr class="spanTytul">
      <th>Nr</th>
      <th>Usługa</th>
      <th *ngIf="danePodstawowe.danePodstawowe.wyswietlaneDane.uslugiCzyWyswietlic">Cena</th>
      <th>Wybierz</th>
    </tr>
    <tr
      *ngFor="let usluga of uslugi() | slice : (strona - 1) * max : strona * max; let index = index"
      [ngClass]="{ niedostepnaUsluga: !czyWykonuje(usluga) }">
      <td class="td1">{{ index + (strona - 1) * max + 1 }}.</td>
      <td class="td2">{{ usluga.nazwa }}</td>
      <td *ngIf="danePodstawowe.danePodstawowe.wyswietlaneDane.uslugiCzyWyswietlic" class="td3">
        {{ usluga.cena }} złotych
      </td>

      <td class="td4">
        <input *ngIf="czyWykonuje(usluga)" [(ngModel)]="usluga.wybrane" class="chekboxUsluga" type="checkbox" />
        <span
          *ngIf="!czyWykonuje(usluga)"
          class="spanNiedostepna"
          title="Ta usługa jest nieobsługiwana przez wybranego pracownika, wybierz innego pracownika"
          >Niedostępne</span
        >
      </td>
    </tr>
    <tr *ngFor="let k of [].constructor(ilePustych())" style="opacity: 0">
      <td>null</td>
      <td></td>
      <td></td>
      <td><input class="chekboxUsluga" type="checkbox" /></td>
    </tr>
  </table>
  <div class="pagginationWyborZakladu">
    <ngb-pagination
      [(page)]="strona"
      [boundaryLinks]="true"
      [collectionSize]="danePodstawowe.danePodstawowe.uslugi.length"
      [maxSize]="5"
      [pageSize]="max"
      [rotate]="true"></ngb-pagination>
  </div>
  <span *ngIf="niewybranaUsluga" class="czerwone"><br />Wybierz usługę, aby przejść dalej</span>
</div>
<div class="divNaPrzycisk">
  <button (click)="przejdzDalej()" class="buttonDalej">Dalej</button>
  <button (click)="cofnij()" class="buttonCofnij">Cofnij</button>
</div>
