<div class="divNaTytulIIconke">
  <div class="tytul">
    <h1 class="h1dlaTytuluPaneluZaklad">
      Zarejestruj swój zakład

    </h1>
    <fa-icon class="iconWroc"
             [icon]="fontAwesome.powrotIconka"
             (click)="powrotOJedenKrok()"
    ></fa-icon>
  </div>
</div>


<div class="formularzRejestracji">
  <app-rejestracja-udana
    *ngIf="rejestracjaUdana"></app-rejestracja-udana>

  <div class="formularz" *ngIf="!rejestracjaUdana">
    <form class="tablica1">
      <table>
        <tr>
          <th colspan="2">
            <h2 class="naglowekWformularzu">Dane zakładu:</h2>
          </th>
        </tr>
        <tr>
          <td>
            <label class="naglowekDwaWformularzu" for="nazwaZakladu">
              Nazwa zakładu*</label
            >
          </td>
          <td>
            <input
              id="nazwaZakladu"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.nazwaZakladu"
              [ngClass]="{ wpiszDane: !daneRejestracji.nazwaZakladuPoprawne }"
              class="logInput"
            />
          </td>

        </tr>
        <tr>
          <th colspan="2">
            <h2 class="naglowekWformularzu">Adres zakładu:</h2>
          </th>
        </tr>
        <tr>
          <td>
            <label for="wojewodztwo" class="naglowekDwaWformularzu"
            >Województwo*</label
            >
          </td>
          <td>
            <select
              style="height: 35px; width: 250px; background: white;"
              id="wojewodztwo"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.wojewodztwo"
              [ngClass]="{ wpiszDane: !daneRejestracji.wojewodztwoPoprawne }"
              class="logInput"
            >
              <option value="dolnoslaskie">Dolnośląskie</option>
              <option value="kujawsko-pomorskie">Kujawsko-pomorskie</option>
              <option value="lubelskie">Lubelskie</option>
              <option value="lubuskie">Lubuskie</option>
              <option value="lodzkie">Łódzkie</option>
              <option value="malopolskie">Małopolskie</option>
              <option value="mazowieckie">Mazowieckie</option>
              <option value="opolskie">Opolskie</option>
              <option value="podkarpackie">Podkarpackie</option>
              <option value="podlaskie">Podlaskie</option>
              <option value="pomorskie">Pomorskie</option>
              <option value="slaskie">Śląskie</option>
              <option value="swietokrzyskie">Świętokrzyskie</option>
              <option value="warminsko-mazurskie">Warmińsko-mazurskie</option>
              <option value="wielkopolskie">Wielkopolskie</option>
              <option value="zachodniopomorskie">Zachodniopomorskie</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ulica" class="naglowekDwaWformularzu">Ulica*</label>
          </td>
          <td>
            <input
              id="ulica"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.ulica"
              [ngClass]="{ wpiszDane: !daneRejestracji.ulicaPoprawna }"
              class="logInput"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="nrDomu" class="naglowekDwaWformularzu"
            >Nr domu*<span class="znaczek">/</span>lokalu</label
            >
          </td>
          <td>
            <input
              id="nrDomu"
              size="4"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.nrDomu"
              [ngClass]="{ wpiszDane: !daneRejestracji.nrDomuPoprawny }"
              class="logInput"
              style="width: 80px"
            /> <span class="znaczek">/</span>
            <input
              size="4"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.nrLokalu"
              class="logInput"
              style="width: 80px"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="kodPocztowy" class="naglowekDwaWformularzu"
            >Kod pocztowy*</label
            >
          </td>
          <td>
            <input
              id="kodPocztowy"
              size="2"
              maxlength="2"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.kodPocztowy1"
              [ngClass]="{ wpiszDane: !daneRejestracji.kodPocztowy1Poprawny }"
              class="logInput"
              style="width: 80px"
            /><span class="znaczek">-</span>
            <input
              size="5"
              maxlength="3"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.kodPocztowy2"
              [ngClass]="{ wpiszDane: !daneRejestracji.kodPocztowy2Poprawny }"
              class="logInput"
              style="width: 80px"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2" class="miastoCzyWies">Miasto

          </td>
          <td>
            <button class="buttonWybierz" *ngIf="czyMiasto != 1" (click)="czyMiasto =1">Wybierz</button>
          </td>
        </tr>
        <tr>
          <td>
            <label for="miasto" class="naglowekDwaWformularzu"> Miasto</label>
          </td>
          <td>
            <input
              id="miasto"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.miasto"
              class="logInput"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2" class="miastoCzyWies">Wieś

          </td>
          <td>
            <button *ngIf="czyMiasto != 2" (click)="czyMiasto =2">Wybierz</button>
          </td>
        </tr>

        <tr>
          <td>
            <label class="naglowekDwaWformularzu" for="powiat">Powiat</label>
          </td>
          <td><input class="logInput" id="powiat" type="text"
                     [(ngModel)]="daneRejestracji.powiat" [disabled]="czyMiasto == 1|| czyMiasto == 0"
                     [ngClass]="{ wpiszDane: !daneRejestracji.powiatPoprawne }"
                     [ngModelOptions]="{ standalone: true}">

          </td>
        </tr>
        <tr>
          <td>
            <label class="naglowekDwaWformularzu" for="wies">Wieś</label>
          </td>
          <td><input class="logInput" id="wies" type="text"
                     [(ngModel)]="daneRejestracji.wies" [disabled]="czyMiasto == 1 || czyMiasto == 0"
                     [ngClass]="{ wpiszDane: !daneRejestracji.wiesPoprawne }"
                     [ngModelOptions]="{ standalone: true }"></td>
        </tr>


      </table>
    </form>


    <form class="tablica2">
      <table>
        <tr>
          <td colspan="2">
            <h2 class="naglowekWformularzu">Dane właściciela:</h2>
          </td>
        </tr>
        <tr>
          <td>
            <label for="imie" class="naglowekDwaWformularzu">Imię*</label>
          </td>
          <td>
            <input
              id="imie"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.imie"
              [ngClass]="{ wpiszDane: !daneRejestracji.imiePoprawne }"
              class="logInput"
              [ngClass]="{ wpiszDane: !daneRejestracji.miastoPoprawne }"
            />
          </td>

        </tr>
        <tr>
          <td>
            <label for="nazwisko" class="naglowekDwaWformularzu"
            >Nazwisko*</label
            >
          </td>
          <td>
            <input
              id="nazwisko"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.nazwisko"
              [ngClass]="{ wpiszDane: !daneRejestracji.nazwiskoPoprawne }"
              class="logInput"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="e-mail" class="naglowekDwaWformularzu">E-mail*</label>
          </td>
          <td>
            <input
              id="e-mail"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.email"
              [ngClass]="{ wpiszDane: !daneRejestracji.emailPoprawny }"
              class="logInput"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="numerTelefonu" class="naglowekDwaWformularzu"
            >Numer telefonu*</label
            >
          </td>
          <td>
            <select class="logInput logInputPrefiksTelefonu" [(ngModel)]="daneRejestracji.prefiksTelefonu"
                    [ngModelOptions]="{ standalone: true } ">
              <option>
                +48
              </option>
              <option>
                +380
              </option>
            </select>
            <input
              id="numerTelefonu"
              type="text"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.numerTelefonu"
              [ngClass]="{ wpiszDane: !daneRejestracji.numerTelefonuPoprawny }"
              class="logInput"
              style="width: 176px;
margin-left: 2px"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h2 class="naglowekWformularzu" style="position: relative">
              Utwórz hasło
              <fa-icon
                style="position: absolute; top: -2px"
                [tp]="wymaganiaHasla"
                tpVariation="popper"
                class="zapytajnik"
                [tpTrigger]="'mouseenter'"
                [tpClassName]="'wymaganiaHasla'"
                [icon]="fontAwesome.znakZapytajnika"
              ></fa-icon>
            </h2>
          </td>
        </tr>
        <tr>
          <td>
            <label for="haslo1" class="naglowekDwaWformularzu">Hasło*</label>
          </td>
          <td>
            <input
              id="haslo1"
              [type]="!this.podgladWlaczJeden ? 'password' : 'text'"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.haslo1"
              [ngClass]="{
                wpiszDane:
                  !daneRejestracji.czyHaslaTakieSame_ ||
                  !daneRejestracji.haslo1poprawne
              }"
              class="logInput"
            />
          </td>
          <fa-icon
            [icon]="
              this.podgladWlaczJeden
                ? fontAwesome.oczkoZamkniete
                : fontAwesome.oczko
            "
            (click)="this.podgladWlaczJeden = !this.podgladWlaczJeden"
            class="Podglad"
          ></fa-icon>
        </tr>
        <tr>
          <td>
            <label for="haslo2" class="naglowekDwaWformularzu"
            >Powtórz hasło*</label
            >
          </td>
          <td>
            <input
              id="haslo2"
              [type]="!this.podgladWlaczDwa ? 'password' : 'text'"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.haslo2"
              [ngClass]="{
                wpiszDane:
                  !daneRejestracji.czyHaslaTakieSame_ ||
                  !daneRejestracji.haslo2poprawne
              }"
              class="logInput"
            />
          </td>
          <fa-icon
            [icon]="
              this.podgladWlaczDwa
                ? fontAwesome.oczkoZamkniete
                : fontAwesome.oczko
            "
              (click)="this.podgladWlaczDwa = !this.podgladWlaczDwa"
              class="Podglad"
            ></fa-icon>
          </td>

        </tr>


        <tr>
          <td style="position: relative" colspan="2">
            <input
              type="checkbox"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.rodo"
              [ngClass]="{ rodoIregulamin: !daneRejestracji.rodoPoprawne }"
            />
            <label class="naglowekRodoIRegulamin">&nbsp;-&nbsp; RODO</label>
            <br>


            <input
              type="checkbox"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="daneRejestracji.regulamin"
              [ngClass]="{ rodoIregulamin: !daneRejestracji.regulaminPoprawny }"
            />
            <label class="naglowekRodoIRegulamin"> &nbsp;-&nbsp; Regulamin </label>
            <button style="position: absolute; right: 1px;top:20px"
                    (click)="zarejestruj()"
                    class="ButtonZarejestrujIzaloguj"
                    [disabled]="!daneRejestracji.przyciskAktywny"
            >
              Zarejestruj
            </button>

          </td>
        </tr>

        <tr *ngIf="!daneRejestracji.czyHaslaTakieSame_; else puste">
          <td colspan="2" class="czerwoneKomunikaty">
            <b>Hasła są różne, wpisz jednakowe hasło</b>
          </td>
        </tr>
        <tr *ngIf="!daneRejestracji.hasloSpelniaWymagania">
          <td colspan="2" class="czerwoneKomunikaty">
            <b>Hasło nie spełnia wymagań</b>
          </td>
        </tr>
        <tr *ngIf="daneRejestracji.emailWykorzystany">
          <td colspan="2" class="czerwoneKomunikaty">
            <b>Adres email jest już zarejestrowany</b>
          </td>
        </tr>
        <tr *ngIf="daneRejestracji.nmumerTelefonuWykorzystany">
          <td colspan="2" class="czerwoneKomunikaty">
            <b>Numer telefonu jest już zarejestrowany</b>
          </td>
        </tr>
        <tr *ngIf="!daneRejestracji.rejestracjaUdana">
          <td colspan="2" class="czerwoneKomunikaty">
            <b
            >Rejestracja nieudana, <br/>
              skontaktuj się z administratorem!</b
            ><br>
        </span>


              <span *ngIf="!daneRejestracji.czyWszystkoPoprawne " class="czerwoneKomunikaty">

            <b> Wypełnij wszystkie pola zaznaczone na czerwono!</b><br>
        </span>
            </div>
          </td>
        <tr>
          <td colspan="2" style="text-align: right"><h3 class="naglowekTlumaczenie">* oznacza że pole jest wymagane</h3>
          </td>

        </tr>


        <tr>
          <td colspan="2" style="text-align: right"><h3 class="naglowekTlumaczenie">! oznacza że pole nie spełnia
            wymagań</h3></td>

        </tr>
      </table>

    </form>
    <a style="padding-top: 20px"
       class="chceszSieZalogowacLubZarejestrowac"
       [routerLink]="['../logowanie']"
    >
      Logowanie do zarejestrowanego konta</a
    >
  </div>

</div>

<ng-template #wymaganiaHasla let-hide>
  <h6
    style="
      font-size: 20px;
      color: darkblue;
      margin-top: 0;
      font-weight: bolder;
      margin-bottom: 0;
      font-family: math;
    "
  >
    Takie wymagania powinno spełniać hasło:
  </h6>
  <ul style="font-size: 18px; color: #07579b">
    <li>Musi zawierać minimum 8 znaków;</li>
    <li>Może zawierać maksymalnie 100 znaków;</li>
    <li>Musi zawierać przynajmniej jedną dużą i jedną małą literę;</li>
    <li>Musi zawierać przynajmniej jedną cyfrę;</li>
    <li>Musi zawierać minimum jeden znak specjalny;</li>
    <li>Nie może zawierać spację.</li>
  </ul>
</ng-template>
