<!--
<h3>Podsumowanie:</h3>
-->
<!--
<div class="kontenerNaTabele">
  <div class="podsumowanieTable">
    <table class="">
      <tr>
        <th>Ilość klientów</th>
        <td>{{ lista_.iloscKlientow }}</td>
      </tr>
      <tr>
        <th>Najczęstszy klient</th>
        <td>Lorem ipsum.</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Lorem ipsum.</th>
        <td>Lorem ipsum.</td>
      </tr>
      <tr>
        <th>Lorem ipsum.</th>
        <td>Lorem ipsum.</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Lorem ipsum.</th>
        <td>Lorem ipsum.</td>
      </tr>
      <tr>
        <th>Lorem ipsum.</th>
        <td>Lorem ipsum.</td>
      </tr>
    </table>
  </div>
</div>
-->
<div class="blockContainer">
  <app-information-div-for-schedule [last]="true" [value]="lista_.iloscKlientow" smallText="" titile="Ilość klientów" />
</div>
