<div
  #element
  (click)="wybierzTermin()"
  [ngClass]="{ wybranyTermin: wybrany() }"
  [ngStyle]="{ top: top, height: sprawdzWysokosc() + 'px' }"
  class="termin">
  <h3
    *ngIf="wybrany() || (element.clientHeight > 25 && element.clientWidth > 120)"
    [ngStyle]="{ 'font-size': setFontSize(element) }">
    <span>{{ termin.start | date: 'HH:mm' }}</span> <span class="kreska">-</span>
    <span>{{ termin.end | date: 'HH:mm' }}</span>
  </h3>

  <!--<div *ngIf="!wybrany()" class="wybierz">Wybierz</div>-->
  <div *ngIf="wybrany() && element.clientHeight > 53" class="anuluj">Anuluj</div>
</div>
