.termin {
  width: 100%;
  height: 50px;
  background: rgba(182, 182, 182, 0.89);
  position: absolute;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000;

  .wybierz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

  }

  transition: scale 500ms ease-in-out, color 1200ms ease-in-out;

  &:hover {
    border: 2px solid #b20000;
    cursor: pointer;
    background: whitesmoke;
    scale: 1.051;

    background: rgba(203, 203, 203, 0.89);

    .wybierz {
      color: green;
    }
  }
}

h3 {
  text-align: center;
  width: 100%;
  font-size: 18px;
  text-shadow: 1px 1px 1px black;
}
