<div class="naglowek">
  <span> Wpisz swoje podstawowe dane</span>
</div>
<form>
  <div class="wpisanieDanych">
    <table>
      <tr>
        <td>
          <input
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.imie"
            [ngClass]="{
              czerwoneInputy: ZarejestrujSieService.DaneKlientaClass.imiePuste
            }"
            [ngModelOptions]="{ standalone: true }"
            class="inputyFormularz"
            placeholder="Imię" />
        </td>
        <td>
          <input
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.nazwisko"
            [ngClass]="{
              czerwoneInputy: ZarejestrujSieService.DaneKlientaClass.nazwiskoPuste
            }"
            [ngModelOptions]="{ standalone: true }"
            class="inputyFormularz"
            placeholder="Nazwisko" />
        </td>
      </tr>
      <tr>
        <td>
          <select
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.prefiksTelefonu"
            [ngModelOptions]="{ standalone: true }"
            class="prefiks">
            <option>+48</option>
            <option>+380</option>
          </select>

          <input
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.numerTelefonu"
            [ngClass]="{
              czerwoneInputy: ZarejestrujSieService.DaneKlientaClass.numerTelefonuPusty
            }"
            [ngModelOptions]="{ standalone: true }"
            class="inputyFormularz poSelect"
            placeholder="Numer telefonu" />
        </td>
        <td>
          <input
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.email"
            [ngClass]="{
              czerwoneInputy: ZarejestrujSieService.DaneKlientaClass.adresEmailPusty
            }"
            [ngModelOptions]="{ standalone: true }"
            class="inputyFormularz"
            placeholder="Email" />
        </td>
      </tr>
      <tr *ngIf="ZarejestrujSieService.DaneKlientaClass.daneNieWyslane; else puste">
        <td>Dane nie zostały wysłane! Skontaktuj się z administratorem</td>
      </tr>
      <ng-template #puste>
        <tr>
          <td class="czerwone" style="visibility: hidden">k</td>
        </tr>
      </ng-template>
    </table>
  </div>
  <div class="divNaPrzycisk">
    <span *ngIf="!ZarejestrujSieService.DaneKlientaClass.czyWszystkoUzupelnione" class="czerwone"
      >Wprowadź wszystkie dane!</span
    >
    <button (click)="przejdzDalej()" [disabled]="ZarejestrujSieService.butonDisabled_wyslijDane" class="buttonDalej">
      Dalej
    </button>
    <button (click)="cofnij()" class="buttonCofnij">Cofnij</button>
  </div>
</form>
