.inputyFormularz {
  width: 280px;
  height: 29px;
  font-size: 18px;
  border: 2px inset #2491f9;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px 4px 4px 0;
  @media (max-width: 700px) {
    width: 45vw;

  }
}

.inputyFormularz.poSelect {
  @media (max-width: 700px) {

    width: calc(45vw - 80px) !important;

  }
}

.czerwoneInputy {
  border: 2px inset #d30505 !important;
}

.prefiks {
  width: 70px;
  font-size: 16px;
  border: 2px inset #2491f9;
  border-radius: 20px;
}
