<div class="naglowek">
  <span> Wpisz swoje podstawowe dane</span>
</div>
<form>
  <div class="wpisanieDanych">
    <table>
      <tr>
        <td>
          <input
            [ngClass]="{
              czerwoneInputy: ZarejestrujSieService.DaneKlientaClass.imiePuste
            }"
            class="inputyFormularz"
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.imie"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Imię"
          />
        </td>
        <td>
          <input
            [ngClass]="{
              czerwoneInputy:
                ZarejestrujSieService.DaneKlientaClass.nazwiskoPuste
            }"
            class="inputyFormularz"
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.nazwisko"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nazwisko"
          />
        </td>
      </tr>
      <tr>
        <td>
          <select
            class="prefiks"
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.prefiksTelefonu"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>+48</option>
            <option>+380</option>
          </select>

          <input
            [ngClass]="{
              czerwoneInputy:
                ZarejestrujSieService.DaneKlientaClass.numerTelefonuPusty
            }"
            style="width: 205px; margin-left: 5px"
            class="inputyFormularz"
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.numerTelefonu"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Numer telefonu"
          />
        </td>
        <td>
          <input
            [ngClass]="{
              czerwoneInputy:
                ZarejestrujSieService.DaneKlientaClass.adresEmailPusty
            }"
            class="inputyFormularz"
            [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.email"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Email"
          />
        </td>
      </tr>
      <tr
        *ngIf="!ZarejestrujSieService.DaneKlientaClass.czyWszystkoUzupelnione"
      >
        <td>Wprowadź wszystkie dane!</td>
      </tr>
      <tr *ngIf="ZarejestrujSieService.DaneKlientaClass.daneNieWyslane">
        <td>Dane nie zostały wysłane! Skontaktuj się z administratorem</td>
      </tr>
    </table>
  </div>
  <div class="divNaPrzycisk">
    <button class="buttonDalej" (click)="przejdzDalej()">Dalej</button>
  </div>
</form>
