.margines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parallax {
  background-image: url('../../assets/tlo1.png');
  height: 80px;
  width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media (max-width: 900px) {
    height: 70px;
  }
  @media (max-width: 700px) {
    height: 60px;
  }
  @media (max-width: 600px) {
    height: 40px;
  }
  @media (max-width: 500px) {
    height: 30px;
  }
  @media (max-width: 400px) {
    height: 15px;
  }
}

.parallax2 {
  background-image: url('../../assets/tlo3.png');
  height: 20px;
  width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax3 {
  background-image: url('../../assets/tlo2.png');
  height: 20px;
  filter: hue-rotate(1turn);
  width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
