<span id="poczatek" style="height: 0;width: 0;"></span>
<app-banner></app-banner>
<app-zdjecie-zakladu></app-zdjecie-zakladu>
<app-informacja-onas></app-informacja-onas>
<div class="margines">
  <app-ogloszenia></app-ogloszenia>
  <app-wyswietlane-pracownicy></app-wyswietlane-pracownicy>
  <app-informacja-ojednym-pracowniku></app-informacja-ojednym-pracowniku>
  <app-zarejestruj-sie></app-zarejestruj-sie>
  <app-napisz-nam></app-napisz-nam>
</div>

<app-mapa></app-mapa>
<app-stopka></app-stopka>

<app-strzalka></app-strzalka>
