<span id="poczatek" style="height: 0; width: 0"></span>
<app-banner></app-banner>
<app-zdjecie-zakladu></app-zdjecie-zakladu>
<app-zarejestruj-sie #komponentZarejestrujSie></app-zarejestruj-sie>
<div class="parallax" id="rejestracjaFormularz"></div>
<app-formularz-zarejestruj-sie
  *ngIf="komponentZarejestrujSie.pokazFormularz == true"
></app-formularz-zarejestruj-sie>
<div class="parallax3"></div>
<app-informacja-onas></app-informacja-onas>
<app-wyswietlane-pracownicy></app-wyswietlane-pracownicy>
<app-informacja-ojednym-pracowniku
  *ngIf="false"
></app-informacja-ojednym-pracowniku>
<app-formularz-zarejestruj-sie *ngIf="false"></app-formularz-zarejestruj-sie>
<div class="parallax2"></div>
<app-napisz-nam></app-napisz-nam>

<app-stopka></app-stopka>

<app-strzalka></app-strzalka>
