<div class="stopka" id="stopka">
  <div *ngIf="danePodstawowe.danePodstawowe.wyswietlaneDane.mapaCzyWyswietlic" class="mapaDiv">
    <div class="naglowekMapa">
      <h5>Tutaj nas znajdziesz:</h5>
    </div>
    <div (leafletMapReady)="onMapReady($event)" [leafletOptions]="options" class="mapa" leaflet></div>
  </div>

  <div *ngIf="danePodstawowe.danePodstawowe.opisZakladuWStopce"
       [innerHTML]="reformat(danePodstawowe.danePodstawowe.opisZakladuWStopce) | htmlSanitizer" class="tekst">
    <h3 class="tytul">Lorem ipsum dolor sit amet.</h3>
    <p style="text-indent: 50px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci aperiam, eaque esse expedita explicabo
      fugit incidunt ipsam nam numquam obcaecati omnis qui quidem repellendus repudiandae ut. Ipsam, quisquam.<br />
    </p>
    <p style="text-indent: 50px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto culpa, dolorem, dolores enim error
      exercitationem itaque perspiciatis placeat possimus quos tenetur voluptas. A autem fugit iusto quas sequi
      voluptatum.
    </p>
  </div>
  <div class="tabela">
    <h3 class="tytul">Informacje</h3>
    <table>
      <tr>
        <td>Adres:</td>
        <td>Czarnieckiego 16/5 <br />Jarosław 37-500</td>
      </tr>
      <tr>
        <td>Rodo:</td>
        <td><a href="http://fenek.tech:3000/pliki/publiczne/rodo.pdf" target="_blank">wyświetl</a></td>
      </tr>
      <tr>
        <td>Regulamin:</td>
        <td><a href="http://fenek.tech:3000/pliki/publiczne/regulamin.pdf" target="_blank">wyświetl</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="createNote">
  <span> &copy; Copyright {{ data | date : 'yyyy' }} </span>
  <span>
    Wykonane przez:
    <a href="www.mojzaklad.pl" target="_blank">www.mojzaklad.pl</a>
  </span>
</div>
