.stopka {
  width: 100%;
  height: 400px;
  background: #282828;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  .informacje {
    width: 60%;
    height: 100%;
    float: left;


  }

  .mapaDiv {
    width: 40%;
    height: 100%;
    float: left;

    .naglowekMapa {
      width: 100%;
      height: 10%;
      float: left;
    }

    .mapa {
      width: 100%;
      height: 90%;
      float: left;
    }
  }
}



