.dev {
  position: fixed;
  bottom: -7px;
  left: 10px;
  z-index: 1000;
  color: rgba(255, 0, 0, 0.73);
  opacity: 0.3;
  font-weight: bolder;
  font-size: 50px;
  user-select: none;
  user-focus: none;
}
