<app-table
  [async]="false"
  [collectionSize]="listaPlatnosci.length"
  [data]="listaPlatnosci"
  [subTableOpenVariable]="'czyRozwiniete'"
  [title]="'Historia opłat:'">
  <ng-template TemplateId="thead">
    <th>Nr.</th>
    <th>Nazwa</th>
    <th>Data utworzenia</th>
    <th>Data końca aktywności</th>
    <th>Kwota</th>
    <th>Status</th>
  </ng-template>

  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td>{{ obj.opis|maxDlugosc:30 }}
      <button [ngbPopover]="obj.opis" class="questionDescription" container="body" placement="top" popoverTitle="Opis:">
        ?
      </button>
    </td>
    <td>{{ obj.dataUtworzenia | date : 'dd.MM.yyyy  HH:mm' }}</td>
    <td>{{ obj.dataKonca | date : 'dd.MM.yyyy  HH:mm' }}</td>
    <td>{{ obj.amount / 100 }}zł</td>
    <td *ngIf="obj.status == 0" style="font-weight: bolder; color: darkred">Nieudane</td>
    <td *ngIf="obj.status == 1" style="font-weight: bolder; color: #0e7908">Udane</td>
  </ng-template>
</app-table>
