.historiaTransakcjiH3 {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;

}


.questionDescription {
  border: 2px solid #606060;
  background: transparent;
  width: 18px;
  height: 18px;
  line-height: 0px;
  border-radius: 50%;
  color: black;
  font-weight: bolder;
  margin-left: 5px;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
