table {
  th {
    padding-right: 20px;
  }
}

h4 {
  font-size: 20px;
}

table {
  font-size: 13px;
}

.h4canceled {
  margin: 0px;
  color: red;
}

p.h4canceled {
  line-height: 14px;
  padding-bottom: 10px;
}

.visitNotCompleted {
  color: red;
  font-weight: bold;
}

.visitCompleted {
  color: #0b7006;
  font-weight: bold;
}

.visitCompletedUndefined {
  color: saddlebrown;
  font-weight: bold;
}

::ng-deep .confirmDisconfirmDiv {
  position: absolute;
  left: 0;
  bottom: 0;
}

.blur {
  filter: blur(4px);
}
