<table #table class="tabelka">
  <tr #k>
    <td *ngFor="let k of [].constructor(returnCalendarTimeTd()); let index = index" class="godzina">
      {{ zwrocGodzine(index) }}
    </td>
  </tr>
  <tr #tr>
    <td *ngFor="let k of [].constructor(returnCalendarTimeTd()); let index = index" class="podzial">
      <ng-container *ngIf="index == 0">
        <app-harmonogram-dnia-termin
          *ngFor="let termin of visitCompleted(); let index2 = index"
          [godzinaRozpoczecia]="godzinaRozpoczecia"
          [godzinaZakonczenia]="godzinaZakonczenia"
          [id]="index2"
          [wizyta]="termin"></app-harmonogram-dnia-termin>

        <app-harmonogram-dnia-aktualna-godzina
          [godzinaRozpoczecia]="godzinaRozpoczecia"
          [godzinaZakonczenia]="godzinaZakonczenia"
          [szerokosc]="table.clientWidth"></app-harmonogram-dnia-aktualna-godzina>
      </ng-container>
    </td>
  </tr>
</table>
