<div class="tabelaDane tabelaRamka">
  <table>
    <tr>
      <td colspan="2" class="informacjeOnasTytul">
        Nasz kontakt
        <fa-icon class="iconkaKontakt"
                 [icon]="faIcons.telefon"></fa-icon>
      </td>
    </tr>
    <tr *ngIf="danePodstawowe_.danePodstawowe.wyswietlaneDane.telefonCzyWyswietlic">
      <td class="informacjaNaglowek1">Numer telefonu</td>
      <td class="informacjaNaglowek2">
        {{ danePodstawowe_.danePodstawowe.numerTelefonuOgolny }}
      </td>
    </tr>
    <tr *ngIf="danePodstawowe_.danePodstawowe.wyswietlaneDane.emailCzyWyswietlic">
      <td class="informacjaNaglowek1">E-mail</td>
      <td class="informacjaNaglowek2">
        {{ danePodstawowe_.danePodstawowe.emailOgolny }}
      </td>
    </tr>
  </table>

</div>
