<div class="tabelaDane tabelaRamka">
  <table>
    <tr>
      <td class="informacjeOnasTytul" colspan="2">
        Nasz kontakt
        <fa-icon [icon]="faIcons.telefon" class="iconkaKontakt"></fa-icon>
      </td>
    </tr>
    <tr>
      <td class="informacjaNaglowek1" style="width: 200px">Numer telefonu:&nbsp;</td>
      <td class="informacjaNaglowek2">
        {{ danePodstawowe_.danePodstawowe.numerTelefonuOgolny }}
      </td>
    </tr>
    <tr *>
      <td class="informacjaNaglowek1">E-mail:&nbsp;</td>
      <td class="informacjaNaglowek2">
        {{ danePodstawowe_.danePodstawowe.emailOgolny }}
      </td>
    </tr>
  </table>
</div>
