<table class="tabelaDane">
  <tr>
    <td colspan="2" class="informacjeOnasTytul">Nasz kontakt
      <img style="width: 23px;height: 35px;position: relative;top: 8px;left: 10px;"
           src="assets/smartphone-icon%20(1).png"></td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Numer telefonu</td>
    <td class="informacjaNaglowek2"> +48 7 888 30 720</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">E-mail</td>
    <td class="informacjaNaglowek2">kornelia@gmail.com</td>
  </tr>
</table>
