<link href="uslugi.component.scss" rel="stylesheet" />
<form>
  <div class="uslugi">
    <div class="naglowekZolty">
      <span class="naglowek1Wzoltym"
        >Uzupełnij formularz danymi o usługach, jakie oferuje Twój zakład i przypisz do nich pracowników
      </span>
    </div>
    <div class="uslugiDiv">
      <div [ngClass]="{ disabled: service_.ladoowanieDanych }" class="divPlus">
        <fa-icon (click)="dodajWiersz()" [icon]="fontAwesome.plusWKolku" class="buttonPlus"></fa-icon>
      </div>

      <div class="daneZakladuTab">
        <table>
          <tr>
            <th></th>
            <th class="thClass">Nr.</th>
            <th class="thClass">Usługa</th>
            <th class="thClass">Cena(zł)</th>
            <th class="thClass">Czas (minuty)</th>
            <th class="thClass">Kategoria</th>
            <th class="thClass" colspan="2">Opcje</th>
          </tr>

          @for (service of service_.listaUslug; track service.id) {

          <tr app-service [index]="$index" [usluga]="service"></tr>

          }
        </table>
      </div>
      <div class="divButton">
        <button (click)="service_.zapisz()" [disabled]="service_.ladoowanieDanych" class="buttonZapisz">Zapisz</button>
      </div>
    </div>
  </div>
</form>
