<link href="uslugi.component.scss" rel="stylesheet" />
<form>
  <div class="uslugi">
    <div class="naglowekZolty">
      <span class="naglowek1Wzoltym"
        >Uzupełnij formularz danymi o usługach, jakie oferuje Twój zakład i przypisz do nich pracowników
      </span>
    </div>
    <div class="uslugiDiv">
      <div [ngClass]="{ disabled: ladoowanieDanych }" class="divPlus">
        <fa-icon (click)="dodajWiersz()" [icon]="fontAwesome.plusWKolku" class="buttonPlus"></fa-icon>
      </div>

      <div class="daneZakladuTab">
        <table>
          <tr>
            <th></th>
            <th class="thClass">Nr.</th>
            <th class="thClass">Usługa</th>
            <th class="thClass">Cena(zł)</th>
            <th class="thClass">Czas (minuty)</th>
            <th class="thClass">Kategoria</th>
            <th class="thClass" colspan="2">Opcje</th>
          </tr>
          <ng-container *ngFor="let usluga of listaUslug; let index = index">
            <tr>
              <td>
                <fa-icon (click)="usunWiersz(index)" [icon]="fontAwesome.minusWKolku" class="buttonMinus"></fa-icon>
              </td>
              <td class="zlotyID">{{ index + 1 }}.</td>
              <td>
                <input
                  [(ngModel)]="usluga.nazwa"
                  [ngModelOptions]="{ standalone: true }"
                  class="logInputZaklad input1" />
              </td>
              <td>
                <input
                  [(ngModel)]="usluga.cena"
                  [ngModelOptions]="{ standalone: true }"
                  class="logInputZaklad input2"
                  min="0.00"
                  step="0.01"
                  type="number" />
              </td>
              <td>
                <input
                  [(ngModel)]="usluga.czas"
                  [ngModelOptions]="{ standalone: true }"
                  class="logInputZaklad input3"
                  type="number" />
              </td>
              <td class="pracownicyTd">
                <input
                  [(ngModel)]="usluga.category"
                  [ngModelOptions]="{ standalone: true }"
                  [ngbTypeahead]="search"
                  class="logInputZaklad categorieInput"
                  id="typeahead-format"
                  type="text" />
              </td>
              <td class="pracownicyTd">
                <fa-icon
                  (click)="modyfikacjaPracownikow(usluga)"
                  [icon]="fontAwesome.czlowieczek"
                  class="iconkaUser"></fa-icon>
                <span class="counter">{{ usluga.pracownicy.length }}</span>
              </td>
              <td>
                <fa-icon (click)="modyfikacjaPracownikow(usluga)" [icon]="faBook" class="descritpion"></fa-icon>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div class="divButton">
        <button (click)="zapisz()" [disabled]="ladoowanieDanych" class="buttonZapisz">Zapisz</button>
      </div>
    </div>
  </div>
</form>
