$kolor: #e8e8e8;
.clock {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 100;
  right: -77px;
  bottom: -60px;
}

.clock:after {
  background: rgb(44, 44, 44);
  border-radius: 50%;
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);

  width: 10px;
  height: 10px;
  z-index: 101;
}

.hours,
.minutes,
.seconds {
  box-shadow: 0 0 1px 1px rgba(189, 189, 189, 0.56);
}

.minutes-container,
.hours-container,
.seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .hours {
    background: $kolor;
    height: 30px;
    left: 147px;
    position: absolute;
    top: 122px;
    transform-origin: 50% 100%;
    width: 2.5%;
  }

  .minutes {
    background: $kolor;
    height: 48px;
    position: absolute;
    top: 102px;
    transform-origin: 50% 100%;
    width: 6px;
    left: 149px;
  }

  .seconds {
    background: $kolor;
    height: 71px;
    right: 149px;
    position: absolute;
    top: 90px;
    left: 50.1%;
    transform-origin: 59% 80%;
    width: 3px;
    z-index: 8;
  }
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.seconds-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}
