<div class="naglowekZolty">
  <span class="naglowek1Wzoltym">Tu będą informacje o stronie prezentacyjnej</span>
</div>
<div class="panelZakladu">
  <div class="left">
    <app-strona-reprezentacyjna-ustawienia (odswiez)="OdswiezPodglad()"></app-strona-reprezentacyjna-ustawienia>
  </div>
  <div class="right">
    <h3>Podgląd strony reklamowej:</h3>
    <div class="iframe-container">
      <iframe *ngIf="linkDoPodlgadu.length > 6" [src]="bezpiecznyLink" frameborder="0"></iframe>
    </div>
  </div>
</div>
