<div class="panelZakladu">
  <div class=naglowekZolty>
    <span
      class="naglowek1Wzoltym">Tu będą informacje o stronie prezentacyjnej</span>
  </div>
  <div class="tabelka">
    <tr>
      <td><label for="link">Link do strony reprezentacyjnej: </label></td>
      <td id="link"><a href="http://kroliczek.localhost:8008">Link do strony</a></td>
    </tr>
    <tr>
      <td>Status strony reprezentacyjnej</td>
      <td>
        <ui-switch
          class="przelacznikPublicznePrywatne"
          checkedLabel="Włączona"
          uncheckedLabel="Wyłączona"
        ></ui-switch>
      </td>
    </tr>

  </div>
</div>
