<div class="parallax1"></div>
<section>
    <header>
        <h1>Odwołanie wizyty</h1>
    </header>
    <div class="tresc">
        <div [ngComponentOutlet]="wybranyKomponent" *ngIf="wybranyKomponent != null"></div>

        <table *ngIf="wybranyKomponent == null">
            <tr>
                <th>Imię nazwisko</th>
                <td>{{wizyta.imie + ' ' + wizyta.nazwisko}}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{wizyta.poczatek | date: 'dd.MM.YYYY'}}</td>
            </tr>
            <tr>
                <th>Godzina</th>
                <td>{{wizyta.poczatek | date: 'HH:mm'}}</td>
            </tr>
            <tr>
                <th>Usługi</th>
                <td>
                    <ul>
                        <li *ngFor="let usluga of wizyta.uslugiTab">{{usluga.nazwa}}</li>
                    </ul>
                </td>
            </tr>

        </table>
    </div>
    <footer *ngIf="wybranyKomponent == null">
        <button (click)="anuluj()" [disabled]="przyciskDisabled">Anuluj</button>
        <button (click)="potwierdz()" [disabled]="przyciskDisabled">Odwołaj</button>
    </footer>
</section>
<div class="parallax"></div>
