.informacja {
  width: 100%;

  h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    @media (max-width: 750px) {
      font-size: 20px;
    }
  }
}

.logowanie {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .formularz {
    width: 500px;
    height: 400px;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 550px) {
      width: 90%;
      height: auto;
      .logInput {
        width: 90%;
      }
    }

    form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (max-width: 550px) {
        table {
          width: 100%;
        }
      }
    }

    .logowanieMarginButton {
      width: 100%;
      margin-top: 20px;
      text-align: center;

      .niePamietaszHasla {
        display: block;
        margin-top: 8px;
      }

      .chceszSieZalogowacLubZarejestrowac {
        display: block;
        margin-top: 8px;
      }
    }
  }
}

.logInput {
  &:first-child {
    margin: 30px 0 0 0;
  }

  &:focus,
  &:focus-visible {
    border: 4px inset transparent;
  }

  &::placeholder {
    color: #000000;
  }
}

.czerwoneKomunikaty {
  padding-top: 20px;
  @media (max-width: 550px) {
    padding-top: 10px;
  }
}
