.pracownicy {

  .Divtabelka {
    width: 100%;
    height: min-content;
    min-height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .divNaPrzycisk {
    .DodajPracownikaButton {
    }
  }

}
