.pracownicy {

  .Divtabelka {
    width: 100%;
    height: min-content;
    min-height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .divNaPrzycisk {
    width: 100%;
    display: flex;
    justify-content: center;


    .DodajPracownikaButton {
      position: relative;
      text-align: center;
    }
  }

}
