@import "./../../../assets/style/colors";

$MenuWidth: 250px;

.menuTresc {
  width: 100%;
  height: 100vh;

  @media (max-width: 1500px) {
    height: calc(100dvh - 49px - 7px - 31px);
  }
  float: left;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  //border-top: 1px solid #000;
  display: flex;
  @media (max-width: 1500px) {
    .menu {
      display: none;
    }
  }

  .menu {
    width: $MenuWidth;
    height: 100%;
    float: left;
    background: $panelBackGround;
    // border-right: 1px solid rgba(0, 0, 0, 0.55);

    position: relative;

    .menuDiv {
      height: calc(100% - 38px);
      overflow-y: auto;
    }


  }

  .tresc {
    width: calc(100vw - $MenuWidth);
    height: 100vh;
    flex-direction: column;
    display: flex;
    float: left;
    background: #fbfeff;
    overflow-y: auto;
    @media (max-width: 1500px) {
      width: 100vw;
      height: calc(100vh - 50px);
    }


  }
}

.offcanvas-header {
  margin-bottom: 210px;
}
