<div
  [ngStyle]="{
    height: height
  }"
  class="imageContainer">
  <div #myDrop="ngbDropdown" (click)="getData()" class="FileSelect" container="body" ngbDropdown>
    <button class="fileSelectButton" id="dropdownForm1" ngbDropdownToggle type="button">Wybierz zdjęcie</button>
    <div aria-labelledby="dropdownForm1" class="dropDownDiv" ngbDropdownMenu>
      <h4>Wybierz zdjęcie:</h4>
      <div class="dropdown-divider"></div>
      <input [(ngModel)]="finder" class="finder" placeholder="Wyszukiwarka" />
      <div class="dropdown-divider"></div>
      <div class="selectImageBlockContainer">
        @if (files_.fileLoading) {
        <h6>Ładowanie zdjęć....</h6>
        } @for (image of Finder(files_.filesData); track image.id) {
        <div (click)="changeImage(image.id, myDrop)" class="selectImageBlock">
          <span> {{ image.nazwa | maxDlugosc : 25 }}</span>
          <div class="imageDiv">
            <img [src]="env.api + '/pliki/image/' + image.id" alt="Image" class="miniImg" />
          </div>
        </div>
        }
      </div>
      <button
        (click)="changeImage(0, myDrop)"
        (mouseenter)="mouseInto()"
        (mouseleave)="mouseOuto()"
        [disabled]="imageId == 0"
        class="deleteImage">
        <fa-icon [icon]="faX" />
      </button>
    </div>
  </div>
  <div class="previewImageDiv">
    <img [src]="env.api + '/pliki/image/' + imageId" alt="Image" class="previewImage" />
  </div>
</div>
