<div class="modal-header">
  <h4 class="modal-title">Wpłata środków na wirtualne konto:</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body">
  <h5>Wybierz kwotę jaką chcesz wpłacić na swoje wirtualne konto zakładu.</h5>
  <table>
    <tr>
      <td><label>Kwota doładowania (Netto)</label></td>
      <td><input [(ngModel)]="kwota" [min]="30" step="1" type="number" />zł</td>
    </tr>
    <tr>
      <th>Netto:</th>
      <td>{{ kwota - kwota * 0.23 }}zł</td>
    </tr>
    <tr>
      <th>Podatek:</th>
      <td>23%</td>
    </tr>
    <tr>
      <th>Kwota do zapłaty (Brutto):</th>
      <td>{{ kwota * 1.23 }}zł</td>
    </tr>

    <tr>
      <td colspan="2">
        <input [(ngModel)]="regulamin" type="checkbox" /> Akceptacja regulaminu
        <a [href]="environment.linkDoRegulaminu">(link do regulaminu)</a>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button (click)="zaplac()" [disabled]="!regulamin" class="domyslnyButtonZapisz">Wpłać</button>
</div>
