.modal-footer {

  position: relative;
  height: 70px;
}

h5 {
  font-size: 14px;
}

label {
  font-size: 18px;
}

.logInput {
  width: 200px;
  margin-left: 10px;
}

.zapisz {
  &:disabled {
    filter: grayscale(0.5);
  }
}
