<div class="modal-header">
  <h4 class="modal-title">Zakup </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <table>
    <tr>
      <td><label>Wybierz czas subskrypcji:</label></td>
      <td>
        <select class="logInput">
          <option value="1tydzien">1 tydzień</option>
          <option value="1miesiac">1 miesiąc</option>
          <option value="2miesiac">2 miesiące</option>
          <option value="4miesiac">4 miesiące</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Kwota</label></td>
      <td>50zł</td>
    </tr>
    <tr>
      <td><label>Początek subskrypcji</label></td>
    </tr>
    <tr>
      <td>
        <label>Koniec subskrypcji</label>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button [disabled]="ZaplacNieAktywne" (click)="zaplac()" class="buttonZapiszZmodyfikuj"> Zapłać</button>
</div>

