<div
  class="formularz"
  style="flex-direction: column; justify-content: flex-start"
>
  <h2
    style="
        font-size: 32px;
        text-align: center;
        color: #020c5d;
        width: 100%;
        height: 70px;
        float: left;
      "
  >
    Na Twoją pocztę wysłaliśmy e-mail z linkiem podtwierdzającym rejestracje
    zakładu!
  </h2>
  <span
    style="
        color: #031091;
        text-align: center;
        font-size: 28px;
        width: 100%;
        float: left;
      "
  >
      Sprawdź pocztę aby dokończyć swoją rejestracje.
    </span>

  <a
    [routerLink]="['../logowanie']"
    style="
        width: 100%;
        text-align: center;
        font-size: 25px;
        padding-top: 70px;
        font-weight: bolder;
      "
  >Przejdź do panelu logowania</a
  >
</div>
