<div *ngIf="token_.czyWlasciciel()" class="filtry">
  <div class="switchButtonDiv">
    <button
      (click)="lista_.filter = 0; lista_.pobierzDane()"
      [ngClass]="{ switchButtonAktywny: lista_.filter == 0 }"
      class="switchButton">
      Zakładu
    </button>
    <button
      (click)="lista_.filter = podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id; lista_.pobierzDane()"
      [ngClass]="{
        switchButtonAktywny: lista_.filter == podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id
      }"
      class="switchButton">
      Zalogowanego użytkownika
    </button>
    <select
      (change)="lista_.ustawFilter($event); lista_.pobierzDane()"
      [ngClass]="{
        switchButtonAktywny: [0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(lista_.filter) == -1
      }"
      [ngStyle]="{
        width: [0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(lista_.filter) != -1 ? '105px' : ''
      }"
      class="switchButton">
      <option
        [disabled]="true"
        [selected]="[0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(lista_.filter) != -1">
        Wybierz
      </option>
      <ng-container *ngFor="let pracownik of podreczne_.danePodreczneObiekt.pracownicy">
        <option
          *ngIf="pracownik.id != podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id"
          [selected]="pracownik.id == lista_.filter"
          [value]="pracownik.id">
          {{ pracownik.firstname }} {{ pracownik.lastname }}
        </option>
      </ng-container>
    </select>
  </div>
</div>
