::ng-deep {
  ::ng-deep {
    /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
      height: 140px;
      overflow-y: scroll;
    }

    .NgxEditor__Content {
      min-height: 140px; /* make all of the editor area clickable */
    }
  }
}

.maxLength {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.3;

  &.max {
    opacity: 0.45;
    color: red;
    font-weight: bold;
  }
}

.NgxEditor__Wrapper {
  position: relative;
}
