<td>
  <fa-icon (click)="usunWiersz(index)" [icon]="faMinusCircle" class="buttonMinus"></fa-icon>
</td>
<td class="zlotyID mobileHide">{{ index + 1 }}.</td>
<td>
  <input [(ngModel)]="usluga.title" [ngModelOptions]="{ standalone: true }" class="logInputZaklad input1" />
</td>
<td>
  <input
    [(ngModel)]="usluga.price"
    [ngModelOptions]="{ standalone: true }"
    class="logInputZaklad input2"
    min="0.00"
    step="0.01"
    type="number" />
</td>
<td>
  <input
    [(ngModel)]="usluga.time"
    [ngModelOptions]="{ standalone: true }"
    class="logInputZaklad input3"
    type="number" />
</td>

<td class="pracownicyTd">
  <fa-icon (click)="modyfikacjaPracownikow(usluga)" [icon]="faPerson" class="iconkaUser" />
  <span class="counter">{{ usluga.workers.length }}</span>
</td>
<td>
  <fa-icon (click)="modifyDescription(usluga)" [icon]="faBook" class="descritpion" />
</td>
