<div class="modal-header">
  <h4 class="modal-title">
    Zarządzanie:
    <div class="filtry">
      <div class="switchButtonDiv">
        <button
          (click)="filter = 'przerwa'"
          class="switchButton"
          [ngClass]="{ switchButtonAktywny: filter == 'przerwa' }">
          przerwą
        </button>
        <button (click)="filter = 'dzien'" class="switchButton" [ngClass]="{ switchButtonAktywny: filter == 'dzien' }">
          dniem wolnym
        </button>
      </div>
    </div>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Nie')"></button>
</div>
<ng-container *ngIf="filter == 'przerwa'">
  <app-kalendarz-przerwa-przerwa
    [godzinaRozpoczecia]="godzinaRozpoczecia"
    [godzinaZakonczenia]="godzinaZakonczenia"></app-kalendarz-przerwa-przerwa>
</ng-container>
<ng-container *ngIf="filter == 'dzien'">
  <app-kalendarz-przerwa-dzien-wolny
    [godzinaRozpoczecia]="godzinaRozpoczecia"
    [godzinaZakonczenia]="godzinaZakonczenia"></app-kalendarz-przerwa-dzien-wolny>
</ng-container>
