<div class="modal-header">
  <h4 class="modal-title">
    Zarządzanie:
    <div class="filtry">
      <div class="switchButtonDiv">
        <button
          (click)="filter = 'przerwa'"
          [ngClass]="{ switchButtonAktywny: filter == 'przerwa' }"
          class="switchButton">
          przerwą
        </button>
        <button (click)="filter = 'dzien'" [ngClass]="{ switchButtonAktywny: filter == 'dzien' }" class="switchButton">
          dniem wolnym
        </button>
      </div>
    </div>
  </h4>
  <button (click)="activeModal.dismiss('Nie')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<ng-container *ngIf="filter == 'przerwa'">
  <app-kalendarz-przerwa-przerwa
    [data]="data | date : 'yyyy-MM-dd'"
    [godzinaRozpoczecia]="godzinaRozpoczecia | date : 'HH:mm'"
    [godzinaZakonczenia]="godzinaZakonczenia | date : 'HH:mm'"></app-kalendarz-przerwa-przerwa>
</ng-container>
<ng-container *ngIf="filter == 'dzien'">
  <app-kalendarz-przerwa-dzien-wolny [data]="data | date : 'yyyy-MM-dd'"></app-kalendarz-przerwa-dzien-wolny>
</ng-container>
