<app-back-arrow />
<div class="modal-body">
  <div class="top">
    <h6>Dane klienta:</h6>
    <table class="informacjeOKliencie">
      <tr>
        <th>Klient:</th>
        <td>{{ klient.firstName + ' ' + klient.lastName }}</td>
        <th>Suma wizyt:</th>
        <td>{{ klient.wizytWZakladzie.length + klient.wizyty.length }}</td>
      </tr>
      <tr>
        <th>Kontakt:</th>
        <td>{{ klient.phone }}<br />{{ klient.email }}</td>
        <th>Suma opłaty:</th>
        <td>{{ sumaOplat() }}zł</td>
      </tr>
    </table>
    <table class="informacjeOKliencie">
      <tr>
        <th>Pierwsza wizyta</th>
        <td>{{ pierwszaWizyta() | date: 'dd.MM.yyyy' }}</td>
      </tr>
      <tr>
        <th>Ostatnia wizyta</th>
        <td>{{ ostatniaWizyta() | date: 'dd.MM.yyyy' }}</td>
      </tr>
    </table>
  </div>
  <app-informacje-okliencie-tabela-pracownika
    [employee]="employeeName"
    [klient]="klient"></app-informacje-okliencie-tabela-pracownika>
  <app-informacje-okliencie-tabela-zakladu [klient]="klient"></app-informacje-okliencie-tabela-zakladu>
</div>
