<div class="pracownikIFilter">
  <div class="pracownikSelectAndLabel">
    <label>Filtrowanie danych:</label>
    <app-select-dotyczy
      (dotyczyChange)="Kalendarz_.wybranyPracownik.next($event);Kalendarz_.pobierzDane()"></app-select-dotyczy>
  </div>
  <div class="sterowanie">
    <button class="jakiTydzienButton teraz" (click)="teraz()" *ngIf="licznikPrzyciskow != 0">Teraz</button> &nbsp;
    &nbsp; &nbsp;
    <button class="jakiTydzienButton" (click)="WLEWO()">Poprzedni tydzień</button>
    <div class="jakiMiesiacDiv">
      <span> {{ Kalendarz_.miesiace[miesiac() - 1] }} - Tydzień: {{ tydzien() }}</span>
    </div>
    <button class="jakiTydzienButton" (click)="WPrawo()">Następny tydzień</button>
  </div>
</div>
