<div class="pracownikIFilter">
  <div class="pracownikSelectAndLabel">
    <label for="pracownikSelect">Filtrowanie danych:</label>
    <select id="pracownikSelect" [(ngModel)]="Kalendarz_.wybranyPracownik" (change)="Kalendarz_.pobierzDane()">
      <option [value]="pracownik.id" *ngFor="let pracownik of Kalendarz_.pracownicy">
        <span *ngIf="pracownik.id != Kalendarz_.zalogowanyUzytkownikId; else zalogowanyUzytkownik">
          {{ pracownik.imie + ' ' + pracownik.nazwisko }}
        </span>
        <ng-template #zalogowanyUzytkownik>
          <span> Zalogowany użytkownik </span>
        </ng-template>
      </option>
    </select>
  </div>
  <div class="sterowanie">
    <button class="jakiTydzienButton teraz" (click)="teraz()" *ngIf="licznikPrzyciskow != 0">Teraz</button> &nbsp;
    &nbsp; &nbsp;
    <button class="jakiTydzienButton" (click)="WLEWO()">Poprzedni tydzień</button>
    <div class="jakiMiesiacDiv">
      <span> {{ Kalendarz_.miesiace[miesiac() - 1] }} - Tydzień: {{ tydzien() }}</span>
    </div>
    <button class="jakiTydzienButton" (click)="WPrawo()">Następny tydzień</button>
  </div>
</div>
