.filtry {
  text-align: center;
  width: 100%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
    row-gap: 10px;
  }

  .switchButtonDiv {
    margin-left: 10px;
    margin-right: 10px;
  }
}
