<div class="filtry">
  <div class="switchButtonDiv">
    <button
      (click)="tabelaPrzerw_.filterRegularnosci.next('regularne')"
      [ngClass]="{ switchButtonAktywny: tabelaPrzerw_.filterRegularnosci.value == 'regularne' }"
      class="switchButton">
      Regularne
    </button>
    <button
      (click)="tabelaPrzerw_.filterRegularnosci.next('jednorazowe')"
      [ngClass]="{ switchButtonAktywny: tabelaPrzerw_.filterRegularnosci.value == 'jednorazowe' }"
      class="switchButton">
      Jednorazowe
    </button>
  </div>

  <div class="switchButtonDiv">
    <button
      (click)="tabelaPrzerw_.filter.next('przerwy')"
      [ngClass]="{ switchButtonAktywny: tabelaPrzerw_.filter.value == 'przerwy' }"
      class="switchButton">
      Przerwy
    </button>
    <button
      (click)="tabelaPrzerw_.filter.next('dniwolne')"
      [ngClass]="{ switchButtonAktywny: tabelaPrzerw_.filter.value == 'dniwolne' }"
      class="switchButton">
      Dni wolne
    </button>
  </div>

  <div class="switchButtonDiv">
    <button
      (click)="Kalendarz_.wybranyPracownik.next(0)"
      [ngClass]="{ switchButtonAktywny: Kalendarz_.wybranyPracownik.value == 0 }"
      class="switchButton">
      Zakładu
    </button>
    <button
      (click)="Kalendarz_.wybranyPracownik.next(podreczne_.danePodreczneObiekt.returnZalogowanyPracownik().id)"
      [ngClass]="{
        switchButtonAktywny:
          Kalendarz_.wybranyPracownik.value == podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id
      }"
      class="switchButton">
      Zalogowanego użytkownika
    </button>
    <select
      (change)="ustawFilter($event)"
      *ngIf="podreczne_.token_.czyWlasciciel()"
      [ngClass]="{
        switchButtonAktywny:
          [0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(Kalendarz_.wybranyPracownik.value) == -1
      }"
      [ngStyle]="{
        width:
          [0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(Kalendarz_.wybranyPracownik.value) != -1
            ? '105px'
            : ''
      }"
      class="switchButton">
      <option
        [disabled]="true"
        [selected]="
          [0, podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id].indexOf(Kalendarz_.wybranyPracownik.value) != -1
        ">
        Wybierz
      </option>
      <ng-container *ngFor="let pracownik of podreczne_.danePodreczneObiekt.pracownicy">
        <option
          *ngIf="pracownik.id != podreczne_.danePodreczneObiekt.zalogowanyUzytkownik?.id"
          [selected]="pracownik.id == Kalendarz_.wybranyPracownik.value"
          [value]="pracownik.id">
          {{ pracownik.firstname }} {{ pracownik.lastname }}
        </option>
      </ng-container>
    </select>
  </div>
</div>
