<div class="pracownicy">
  <table class="pracownicyTable">
    <tr>
      <td class="naglowki1form" colspan="2">Wybierz pracowników:</td>
    </tr>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Widoczność</th>
    </tr>
    <tr *ngFor="let pracownik of pracownicy.listaPracownikow">
      <td>{{ pracownik.firstname }}</td>
      <td>{{ pracownik.lastname }}</td>
      <td>
        <ui-switch
          [(ngModel)]="pracownik.widocznosc"
          [disabled]="!czyWidoczne"
          checkedLabel="Widoczny"
          class="przelacznikWidocznyNiewidoczny"
          uncheckedLabel="Niewidoczny"></ui-switch>
      </td>
    </tr>
  </table>
</div>
