<div class="pracownicy">
  <table class="pracownicyTable">
    <tr>
      <td class="naglowki1form" colspan="2">
        Wybierz, jakie pracowniki mają być <br> wyświetlane na stronie zakładu
      </td>
      <td>
        <ui-switch class="przelacznikPublicznePrywatne" [disabled]="!czyWidoczne"
                   [(ngModel)]="pracownicy.widocznoscOgolna"
                   checkedLabel="Publiczne" uncheckedLabel="Prywatne"
        ></ui-switch>
      </td>

    </tr>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Widoczność</th>
    </tr>
    <tr *ngFor="let pracownik of pracownicy.listaPracownikow">
      <td>{{pracownik.imie}}</td>
      <td>{{pracownik.nazwisko}}</td>
      <td>
        <ui-switch [disabled]="!czyWidoczne" [(ngModel)]="pracownik.widocznosc" class="przelacznikWidocznyNiewidoczny"
                   checkedLabel="Widoczny"
                   uncheckedLabel="Niewidoczny"></ui-switch>
      </td>
    </tr>
  </table>
</div>
