.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "imieNazwiskoIzdjecie pytanie pytanie"
    "opis kontakt adresZapraszam";
}

.imieNazwiskoIzdjecie {
  grid-area: imieNazwiskoIzdjecie;
}

.pytanie {
  grid-area: pytanie;
}

.opis {
  grid-area: opis;
}

.kontakt {
  grid-area: kontakt;
}

.adresZapraszam {
  grid-area: adresZapraszam;
}


.zdjzaproszenie {
  grid-area: zdjzaproszenie;
  display: flex;
  align-items: center;

  span {
    width: calc(100% - 150px);
    text-align: center;
  }
}
