.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "imieNazwiskoIzdjecie kontakt"
    " opis adresZapraszam";
}

.imieNazwiskoIzdjecie {
  grid-area: imieNazwiskoIzdjecie;
}

.opis {
  grid-area: opis;
}

.kontakt {
  grid-area: kontakt;
}

.adresZapraszam {
  grid-area: adresZapraszam;
}
