.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.1fr 1.7fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 98vw;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #ceefc3;
  grid-template-areas:
    "ImieNazwisko informacjeOgloszenia SkontaktujSie"
    "zdj informacjeOgloszenia SkontaktujSie"
    "opis uslugiCennik uslugiCennik"
    "adres formularzPytanie formularzPytanie"
    "zdjzaproszenie formularzPytanie formularzPytanie";
}

.ImieNazwisko {
  grid-area: ImieNazwisko;
  display: flex;
  justify-content: center;
  align-items: center;

  .imieNazwisko {
    font-weight: bolder;
    font-size: 35px;
    color: #0c0874;
    text-shadow: 2px 2px 4px #ffffff;
    letter-spacing: 1px;

  }
}

.zdj {
  margin-top: 5px;
  grid-area: zdj;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 250px;
    max-height: 200px;
    float: left;
    box-shadow: 2px 2px 2px 2px #044d30;
    border-top: 1px solid green;
    border-left: 1px solid green;
  }
}

.adres, .opis, .zdjzaproszenie {
  padding-left: 150px;

}

.opis {
  grid-area: opis;
  display: flex;

  text-align: left;

  .opisP {
    font-size: 20px;
    color: #00105c;
    font-weight: bolder;
    text-shadow: 0px 1px 1px black;

  }
}

.uslugiCennik {
  grid-area: uslugiCennik;
}

.informacjeOgloszenia {
  grid-area: informacjeOgloszenia;
}

.SkontaktujSie {
  grid-area: SkontaktujSie;
}

.adres {
  grid-area: adres;
  display: flex;
  align-items: center;

  .adresTable {
    tr {
      td {

      }
    }
  }
}

.formularzPytanie {
  grid-area: formularzPytanie;
}

.zdjzaproszenie {
  grid-area: zdjzaproszenie;
  display: flex;
  align-items: center;

  span {
    width: calc(100% - 150px);
    text-align: center;
  }
}

.zapraszamSpan {
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 2px;
  color: #00105c;
  text-shadow: 0px 0px 1px white;
}

.adresNaglowek1 {
  font-size: 30px;
  font-weight: bolder;
  color: green;
  text-shadow: 0px 0px 1px white;
}

.adresTable {
  letter-spacing: 1px;
  font-size: 25px;
  color: #011679;
}


.inputNapiszDoNas {
  border: 2px inset #3c78b7;
  border-radius: 20px;
  width: 220px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}


.maszPytanie {
  letter-spacing: 1px;
  font-size: 30px;
  color: #011679;
  font-weight: bolder;
  text-shadow: 0px 0px 1px white;
}

.wpiszNumerEmail {
  font-size: 20px;
  color: green;
}

.buttonWyslij, .buttonReset {
  width: 150px;
  height: 30px;
  background: #e3f9f6;
  border: 1px solid #01570a;
  color: green;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  transition: 200ms;

  &:hover {
    box-shadow: 0px 0px 2px 2px #d1d9d1;
    cursor: pointer;
    color: white;
    background: #01570a;
  }
}

.buttonReset {
  border: 1px solid #a10808;
  color: #a10808;


  &:hover {
    color: white;
    background: #a10808;
  }
}
