<div class="container">
  <div class="ImieNazwisko">
    <span class="imieNazwisko"> Janusz Cisek </span>
  </div>
  <div class="zdj">
    <img src="assets/fryzjer.jpg">
  </div>
  <div class="opis">
    <p class="opisP">Ja pracuję 2 lata, mam duże doświadczenie,<br> zapraszam wszystkich do mnie! Gwaranture <br> bardzo
      fajną
      fryzure!</p>
  </div>
  <div class="uslugiCennik"></div>
  <div class="informacjeOgloszenia">
    <span> We wtorek będę nie pracować!</span>
  </div>
  <div class="SkontaktujSie">
    <table>
      <tr>
        <td colspan="2">
          Skontaktuj się ze mną jeśli masz jakieś pytania:
        </td>
      </tr>
      <tr>
        <td>
          Numer telefonu:
        </td>
        <td>
          +48 7 888 30 720
        </td>
      </tr>
      <tr>
        <td>
          E-mail:
        </td>
        <td>
          janusz@gmail.com
        </td>
      </tr>
    </table>
  </div>
  <div class="adres">
    <table class="adresTable">
      <tr>
        <td colspan="2" class="adresNaglowek1">
          Gdzie mnie znajdziesz?
        </td>
      </tr>
      <tr>
        <td class="adresTable">
          Jarosław,
        </td>
        <td class="adresTable">
          ul. Słowackiego 16
        </td>
      </tr>
      <tr>
        <td colspan="2" class="adresTable">Numer lokalu: 16</td>
      </tr>
    </table>
  </div>
  <div class="formularzPytanie">
    <table>
      <tr>
        <td colspan="2" class="maszPytanie"> Masz jakieś pytanie? Pisz śmiało</td>
      </tr>
      <tr>
        <td><input class="inputNapiszDoNas" placeholder="Imię"></td>
        <td><input class="inputNapiszDoNas" placeholder="Nazwisko"></td>
      </tr>
      <tr>

      </tr>
      <tr>
        <td><input class="inputNapiszDoNas" placeholder="E-mail"></td>

        <td><input class="inputNapiszDoNas" placeholder="Numer telefonu"></td>
        <td class="wpiszNumerEmail">Wpisz swój numer telefonu lub e-mail <br>Żebyśmy mogli z tobą skontaktować</td>
      </tr>
      <tr>
        <td colspan="2"><textarea style="width: 455px; height: 200px; border-radius:10px; resize: none"
                                  class="inputNapiszDoNas"
                                  placeholder="Treść"></textarea></td>
      </tr>
      <tr>
        <td>
          <button type="reset">Reset</button>
        </td>
        <td>
          <button>Wyślij</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="zdjzaproszenie">
    <span class="zapraszamSpan">Zapraszam!</span>
  </div>
</div>
