<app-table [async]="false" [data]="dane" [paggiantion]="false" [title]="'Podsumowanie pracy pracowników:'">
  <ng-template TemplateId="thead">
    <th>Lp</th>
    <th>Pracownik</th>
    <th>Wizyty dziś</th>
    <th>Wizyty wczoraj</th>
    <th>Tydzień</th>
    <th>Poprzedni tydzień</th>
    <th>Miesiąc</th>
    <th>Poprzedni miesiąc</th>
  </ng-template>
  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td>{{ obj.pracownik.imie + ' ' + obj.pracownik.nazwisko }}</td>
    <td>{{ obj.wizytyDzis.odbyte }} na {{ obj.wizytyDzis.suma }} ({{ obj.wizytyDzis.kwota | kwota }}zł)</td>
    <td>{{ obj.wizytyWczoraj.suma }} ({{ obj.wizytyWczoraj.kwota | kwota }}zł)</td>
    <td>{{ obj.wizytyOStatniTydzien.suma }} ({{ obj.wizytyOStatniTydzien.kwota | kwota }}zł)</td>
    <td>{{ obj.wizytyPoprzedniTydzien.suma }} ({{ obj.wizytyPoprzedniTydzien.kwota | kwota }}zł)</td>
    <td>{{ obj.wizytyOstatniMiesiac.suma }} ({{ obj.wizytyOstatniMiesiac.kwota | kwota }}zł)</td>
    <td>{{ obj.wizytyPoprzedniMiesiac.suma }} ({{ obj.wizytyPoprzedniMiesiac.kwota | kwota }}zł)</td>
  </ng-template>
</app-table>
