<div
  #wizytaDiv
  (click)="zarzadzaj()"
  [animation]="true"
  [disablePopover]="disablePopover()"
  [ngClass]="{ symulacja: symulator, odwolane: wizyta.dataOdwolania }"
  [ngStyle]="{ top: top, height: wysokosc }"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  class="termin"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  placement="top"
  popoverTitle="Popover on top"
  triggers="mouseenter:mouseleave">
  <h3 *ngIf="wizytaDiv.clientHeight > 30">
    {{ wizyta.poczatek | date : 'HH:mm' }} {{ wizyta.koniec | date : 'HH:mm' }}
  </h3>

  <div *ngIf="wizytaDiv.clientHeight >= 65 && !wizyta.cancled()" class="zarzadzaj">Zarządzaj</div>
</div>
<ng-template #popTitle>
  Wizyta <b>{{ wizyta.poczatek | date : 'HH:mm' }} {{ wizyta.koniec | date : 'HH:mm' }} </b></ng-template
>
<ng-template #popContent>
  <table>
    <tr>
      <td>Klient:</td>
      <td>
        {{ wizyta.customer.firstName + ' ' + wizyta.customer.lastName }}
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        {{ wizyta.customer.email }}
      </td>
    </tr>
    <tr>
      <td>Telefon:</td>
      <td>
        {{ wizyta.customer.phone }}
      </td>
    </tr>
    <tr *ngIf="wizyta.dataOdwolania" class="odwolanie">
      <td>Data&nbsp;odwołania</td>
      <td>{{ wizyta.dataOdwolania | date : 'dd.MM.yyyy  HH:mm' }}</td>
    </tr>
  </table>
</ng-template>
