.termin {
  width: 80%;
  height: 50px;
  background: rgba(20, 0, 255, 0.16);
  position: absolute;
  border: 1px solid rgba(45, 45, 45, 0.32);
  // border: 1px solid rgba(45, 45, 45, 0.62);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  transition: scale 0.1s, color 1200ms ease-in-out;
  //border-top: 3px dashed rgba(0, 0, 0, 0.7);

  &.odd {
    background: rgba(0, 157, 255, 0.16);
  }

  &.odwolane {
    border-top: 3px dashed rgba(73, 73, 73, 0.8);
    background-color: rgba(213, 255, 196, 0.42);
    width: 10%;
    right: 0px;

    h3 {
      display: none;
    }
  }

  &.missedVisit {
    border-top: 3px dashed rgba(0, 10, 245, 0.8);
    background-color: rgba(255, 196, 196, 0.42);
    width: 10%;
    right: 10%;

    h3 {
      display: none;
    }
  }

  .zarzadzaj {
    visibility: hidden;
    width: 100%;
    height: 34px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-top: 2px solid black;
  }

  h3 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #0101c7;
    text-shadow: 0px 0px 1px #646464;
    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: 1000px) {
      font-size: 17px;
    }
    @media (max-width: 800px) {
      font-size: 12px;
    }
    @media (max-width: 600px) {
      font-size: 8px;
    }
  }

  &:hover {
    cursor: help;
    // background: #f6f5f5;
    // scale: 1.051;
    .zarzadzaj {
      visibility: visible;
      background: rgba(20, 0, 255, 0.16);
    }
  }

  .wybierz,
  .anuluj {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

    font-family: math;
    border: none;
    text-shadow: 0px 0px 1px #6a6a6a;
    position: relative;
    z-index: 19;
  }

  .anuluj {
    color: #fdfdfd;
  }

  .wybierz {
    color: #1316de;
  }
}

.symulacja {
  background: rgba(255, 0, 0, 0.54);
  opacity: 0.5;
  outline: 1px solid #000000;

  h3 {
    color: black !important;
  }
}

table {
  tr {
    td:last-child {
      padding-left: 5px;
    }
  }
}

.odwolanie {
  color: red;
  font-weight: bold;
}

.niewWykonana {
  color: #6e0000;
  font-weight: bold;
}

.visitContainer {
  display: flex;

  .tableContainer:nth-child(n + 2) {
    margin-left: 10px;
    padding-left: 10px;

    border-left: 1px solid rgba(0, 0, 0, 0.6);
  }
}
