<div
  #wizytaDiv
  (click)="zarzadzaj($event)"
  [animation]="true"
  [attr.data-visit]="wizyta.id"
  [disablePopover]="disablePopover()"
  [ngClass]="{
    symulacja: symulator,
    odwolane: wizyta.cancled(),
    missedVisit: wizyta.completed == false,
    odd: idIndex % 2 == 1
  }"
  [ngStyle]="{ top: top, height: wysokosc }"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  class="termin"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  placement="top"
  popoverTitle="Popover on top"
  triggers="mouseenter:mouseleave">
  <h3 *ngIf="wizytaDiv.clientHeight > 30 && wizyta.completed != false">
    {{ wizyta.poczatek | date : 'HH:mm' }} {{ wizyta.koniec | date : 'HH:mm' }}
  </h3>

  <app-confirm-visit-button [visit]="wizyta"></app-confirm-visit-button>

  <div *ngIf="wizytaDiv.clientHeight >= 65 && !wizyta.cancled() && wizyta.completed != false" class="zarzadzaj">
    Zarządzaj
  </div>
</div>
<ng-template #popTitle>
  <div style="display: flex">
    <div
      *ngFor="let visit of visit_.actualTrigeredElements"
      [style]="{ width: 100 / visit_.actualTrigeredElements.length + '%' }">
      Wizyta
      <b
        >{{ getVisitFromID(visit)?.poczatek | date : 'HH:mm' }} {{ getVisitFromID(visit)?.koniec | date : 'HH:mm' }}
      </b>
    </div>
  </div>
</ng-template>
<ng-template #popContent>
  <div class="visitContainer">
    <div *ngFor="let visit of visit_.actualTrigeredElements" class="tableContainer">
      <table>
        <tr>
          <td>Klient:</td>
          <td>
            {{ getVisitFromID(visit)?.customer?.firstName + ' ' + getVisitFromID(visit)?.customer?.lastName }}
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            {{ getVisitFromID(visit)?.customer?.email }}
          </td>
        </tr>
        <tr>
          <td>Telefon:</td>
          <td>
            {{ getVisitFromID(visit)?.customer?.phone }}
          </td>
        </tr>
        <tr *ngIf="getVisitFromID(visit)?.completed == false" class="niewWykonana">
          <td colspan="2">Wizyta oznaczona jako nie wykonana</td>
        </tr>
        <tr *ngIf="getVisitFromID(visit)?.dataOdwolania" class="odwolanie">
          <td>Data&nbsp;odwołania</td>
          <td>{{ getVisitFromID(visit)?.dataOdwolania | date : 'dd.MM.yyyy  HH:mm' }}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
