<app-table
  (searchChange)="setDataWithSearch($event)"
  [async]="false"
  [collectionSize]="files_.filesData.length"
  [data]="getDataByFilter(files_.filesData)"
  [loading]="files_.filesDataLoading"
  [pageSize]="15"
  [paggiantionMaxElementArray]="[10, 15, 20, 35, 50, 100]"
  [paggiantion]="true"
  [search]="true"
  [title]="'Lista plików zakładu:'">
  <ng-template TemplateId="thead">
    <th>Podgląd</th>
    <th>Lp</th>
    <th>Nazwa</th>
    <th>Rozmiar</th>
    <th>Data wysłania</th>
    <th>Zarządzaj</th>
  </ng-template>
  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td style="width: 60px; text-align: left">
      <ng-template #bigImage
        ><img [src]="env.api + '/pliki/image/' + obj.id" style="max-width: 400px; max-height: 400px"
      /></ng-template>
      <img
        [ngbPopover]="bigImage"
        [src]="env.api + '/pliki/image/' + obj.id | quality : 15"
        popoverTitle="Zdęcie:"
        style="max-width: 60px; max-height: 30px"
        triggers="mouseenter:mouseleave" />
    </td>

    <td>{{ index }}</td>
    <td>{{ obj.nazwa }}</td>
    <td [ngStyle]="{ color: obj.size > 0.5 * 1024 * 1024 ? 'red' : '' }">{{ obj.size | fileSize }}</td>
    <td>{{ obj.dataUtworzenia | date : 'dd.MM.yyyy HH:mm' }}</td>
    <td>
      <button (click)="deleteImage(obj.id)" class="domyslnyButtonUsun noPaddingTopBottom">Usuń</button>
    </td>
  </ng-template>
</app-table>
