<div class="modal-header">
  <h4 class="modal-title">Przypisywanie pracowników do usługi</h4>
  <button (click)="activeModal.close('Nie')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body">
  <h3>Usługa: {{ usluga.title }}</h3>
  <table>
    <tr>
      <th>Wykonawca</th>
      <th>Dołączenie</th>
    </tr>
    <tr *ngFor="let pracownik of pracownicy">
      <td>{{ pracownik.firstname }} {{ pracownik.lastname }}</td>
      <td><input (click)="ustaw($event, pracownik)" [checked]="czyZaznaczony(pracownik)" type="checkbox" /></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('Nie')" class="domyslnyButtonZapisz">Zamknij</button>
</div>
