.naglowek1 {
  color: #1c1c1c;
  text-shadow: 0px 0px 1px black;
  font-size: 23px;
  font-family: math;
  font-weight: bolder;
  padding-left: 20px;
}

.naglowek2 {
  font-family: math;
  font-size: 21px;
  font-weight: bolder;
  color: #1c1c1c;
  text-shadow: 0px 0px 1px black;
}

.sumaSpan {
  color: green;
  font-family: math;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.naglowekZalecane {
  font-family: math;
  font-size: 20px;
  color: #1c1c1c;
  text-shadow: 0px 0px 1px black;
}

.naglowekNawiasy {
  font-family: math;
  font-size: 20px;
  color: #1c1c1c;
  text-shadow: 0px 0px 1px black;
}
