<div class="naglowekZolty">
  <h2 class="naglowek1Wzoltym">Usługa SMS</h2>
  <span class="naglowek1Wzoltym2"
    >Zarządzaj usługą SMS w celu powiadamiania swoich klientów o nadchodzących wizytach</span
  >
  <br />
</div>
<app-usluga-sms-ustawienia></app-usluga-sms-ustawienia>
<app-usluga-sms-informacje></app-usluga-sms-informacje>

<app-usluga-sms-historia></app-usluga-sms-historia>
<app-sms-history-table></app-sms-history-table>
1* - jest to przewidywana opłata związana z kosztem wysyłania smsów jaka może zostać pobrana z konta zakładu. Kwota ta
jest jedynie przewidywana, i może ulec zmianie.
