<div class="modal-header">
  <h4 class="modal-title">Opcje dodatkowe usługi:</h4>
  <button (click)="activeModal.close('Nie')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body">
  <h5>Opis usługi:</h5>
  <app-ngx-editor [(value)]="usluga.description" [maxLength]="1000"></app-ngx-editor>
  <h5>Zdjęcie usługi:</h5>
  <app-select-image (imageIdChange)="usluga.imageId = $event" [imageId]="usluga.imageId" />
  <h5>Kategoria:</h5>
  <input
    [(ngModel)]="usluga.category"
    [ngModelOptions]="{ standalone: true }"
    [ngbTypeahead]="search"
    class="categorieInput"
    id="typeahead-format"
    type="text" />
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('Nie')" class="domyslnyButtonZapisz">Zamknij</button>
</div>
