<div class="rejestracja">
  <div class="naglowek" id="rejestracjaFormularz">
    <span>Rejestracja na wizytę</span>
  </div>
  <div class="kroki">
    <div
      *ngFor="let k of [].constructor(6); let index = index"
      [ngClass]="{
        kolkoJuzPo: index + 1 < krok,
        kolkoAktywne: index + 1 == krok
      }"
      class="kolko kolko1">
      <p>{{ index + 1 }}</p>
    </div>
    <!-- Wybór pracownika -> wybór usługi -> wpisanieDanych-->
  </div>
  <div class="formularz">
    <ng-container [ngSwitch]="krok">
      <app-wybor-pracownika (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="1"></app-wybor-pracownika>
      <app-wybor-uslug (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="2"></app-wybor-uslug>
      <app-kalendarz (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="3"></app-kalendarz>
      <app-wpisanie-danych (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="4"></app-wpisanie-danych>
      <app-weryfikacja (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="5"></app-weryfikacja>
      <app-podsumowanie (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="6"></app-podsumowanie>
      <app-termin-nie-dostepny (wyslijKrok)="ustawKrok($event)" *ngSwitchCase="-1"></app-termin-nie-dostepny>
    </ng-container>
  </div>
</div>
