<div class="rejestracja">
  <div class="naglowek">
    <span>Rejestracja na wizyte</span>
  </div>
  <div class="kroki">
    <div
      class="kolko kolko1"
      [ngClass]="{ kolkoJuzPo: k < krok, kolkoAktywne: k == krok }"
      *ngFor="let k of [1, 2, 3, 4, 5]"
    >
      <p>{{ k }}</p>
    </div>
    <!-- Wybór pracownika -> wybór usługi -> wpisanieDanych-->
  </div>
  <div class="formularz">
    <ng-container [ngSwitch]="krok">
      <app-wybor-pracownika
        *ngSwitchCase="1"
        (wyslijKrok)="ustawKrok($event)"
      ></app-wybor-pracownika>
      <app-wybor-uslug
        *ngSwitchCase="2"
        (wyslijKrok)="ustawKrok($event)"
      ></app-wybor-uslug>
      <app-kalendarz
        *ngSwitchCase="3"
        (wyslijKrok)="ustawKrok($event)"
      ></app-kalendarz>
      <app-wpisanie-danych
        *ngSwitchCase="4"
        (wyslijKrok)="ustawKrok($event)"
      ></app-wpisanie-danych>
      <app-weryfikacja *ngSwitchCase="5" (wyslijKrok)="ustawKrok($event)">
      </app-weryfikacja>
      <app-podsumowanie
        *ngSwitchCase="6"
        (wyslijKrok)="ustawKrok($event)"
      ></app-podsumowanie>
    </ng-container>
  </div>
</div>
