.historiaTransakcjiH3 {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
}

.historiaTransakcji {
}

.statusyPlatnosci {
  font-weight: bolder;
}

.podTabela {
  width: 100%;
}

.PodTabelaNaglowek {
  background: #797979;

  th {
    border-top: 1px solid black;
  }
}

.PodTabelaTr {
  &:nth-of-type(even) {
    background: #d2d2d2 !important;
  }

  &:nth-of-type(odd) {
    background: #b0b0b0 !important;
  }
}

.ostatni {
  border-bottom: 2px solid black;
}

.przyciskRozwijania {
  width: 100px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #37c944;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  transition: 100ms;
  box-shadow: 0px 0px 4px 1px inset rgba(0, 0, 0, 0.69);

  &.zwin {
    background-color: #24832c;

    &:hover {
      background-color: #1a6c20;
    }
  }

  &:hover {
    background-color: #45d351;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
