<app-table
  [async]="false"
  [collectionSize]="listaPlatnosci.length"
  [data]="listaPlatnosci"
  [subTableOpenVariable]="'czyRozwiniete'"
  [title]="'Historia transakcji:'">
  <ng-template TemplateId="thead">
    <th>Nr.</th>
    <th>Nazwa</th>
    <th>Data</th>
    <th>Kwota</th>
    <th class="menageButton" colspan="2">Status</th>
  </ng-template>

  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td>
      {{ obj.opis | maxDlugosc : isMobile() }}
      <button [ngbPopover]="obj.opis" class="questionDescription" container="body" placement="top" popoverTitle="Opis:">
        ?
      </button>
    </td>
    <td>{{ obj.dataUtworzenia | date : 'dd.MM.yyyy  HH:mm' }}</td>
    <td>{{ liczba(obj.kwota) / 100 }}zł</td>
    <ng-container [ngSwitch]="obj.probyPlatnosci[obj.probyPlatnosci.length - 1].status">
      <td *ngSwitchCase="'NEW'" class="statusyPlatnosci" style="color: #005200">Nowa</td>
      <td *ngSwitchCase="'CONFIRMED'" class="statusyPlatnosci" style="color: green">Zatwierdzona</td>
      <td *ngSwitchCase="'PENDING'" class="statusyPlatnosci" style="color: #d3b500">Oczekująca</td>
      <td *ngSwitchCase="'ERROR'" class="statusyPlatnosci" style="color: #ff0000">Błąd</td>
      <td *ngSwitchCase="'EXPIRED'" class="statusyPlatnosci" style="color: #4b4b4b">Przeterminowana</td>
      <td *ngSwitchCase="'ABANDONED'" class="statusyPlatnosci" style="color: #0010c5">Opuszczona</td>
      <td *ngSwitchCase="'REJECTED'" class="statusyPlatnosci" style="color: #000000">Odrzucona</td>
    </ng-container>

    <td>
      <button (click)="zamknijWszystkie()" *ngIf="obj.czyRozwiniete" class="przyciskRozwijania zwin">Zwiń</button>
      <button
        (click)="zamknijWszystkie(); obj.czyRozwiniete = true"
        *ngIf="!obj.czyRozwiniete"
        class="przyciskRozwijania">
        Rozwiń
      </button>
      <button
        (click)="otworzPlatnosc(obj.linkDoPlatnosci)"
        *ngIf="obj.probyPlatnosci[obj.probyPlatnosci.length - 1].status == 'NEW' && obj.linkDoPlatnosci != undefined">
        Opłać ponownie
      </button>
    </td>
  </ng-template>

  <ng-template TemplateId="subTableHead" let-index="index" let-obj>
    <th colspan="2"></th>
    <th>Nr.</th>
    <th>Identyfikator</th>
    <th>Data</th>
    <th>Status</th>
  </ng-template>
  <ng-template TemplateId="subTableBody" let-index="index" let-obj>
    <!-- <tr [ngClass]="{ ostatni: index == obj.length - 1 }" class="PodTabelaTr">-->
    <td colspan="2"></td>
    <td>{{ index + 1 }}</td>
    <td>{{ obj.identyfikatorPayNow }}</td>
    <td>{{ obj.data | date : 'dd.MM.yyyy  HH:MM' }}</td>
    <ng-container [ngSwitch]="obj.status">
      <td *ngSwitchCase="'NEW'" class="statusyPlatnosci" style="color: #005200">Nowa</td>
      <td *ngSwitchCase="'CONFIRMED'" class="statusyPlatnosci" style="color: green">Zatwierdzona</td>
      <td *ngSwitchCase="'PENDING'" class="statusyPlatnosci" style="color: #d3b500">Oczekująca</td>
      <td *ngSwitchCase="'ERROR'" class="statusyPlatnosci" style="color: #ff0000">Błąd</td>
      <td *ngSwitchCase="'EXPIRED'" class="statusyPlatnosci" style="color: #4b4b4b">Przeterminowana</td>
      <td *ngSwitchCase="'ABANDONED'" class="statusyPlatnosci" style="color: #0010c5">Opuszczona</td>
      <td *ngSwitchCase="'REJECTED'" class="statusyPlatnosci" style="color: #000000">Odrzucona</td>
    </ng-container>
  </ng-template>
</app-table>
