:host {
  display: contents;
}

.menuTopContainer {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  h3 {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 0;
    letter-spacing: 4px;
  }
}
