<div class="podsumowanieAdministratora">
  <app-information-div-for-schedule
    [icon]="faMoneyBills"
    [smallText]="'Aktualny stan konta zakładu'"
    [titile]="'Stan konta:'"
    [value]="HarmonogramDaneDlaAdministratora.konto / 100 + 'zł'"></app-information-div-for-schedule>
  <app-information-div-for-schedule
    [icon]="faCalendar"
    [smallText]="
      'Data pobrania opłaty</br>Pozostało <span class=\'active\'> ' +
      HarmonogramDaneDlaAdministratora.timeToEndSub() +
      '</span> dni'
    "
    [titile]="'Data ważności'"
    [value]="HarmonogramDaneDlaAdministratora.subskrypcjaDo | date : 'dd.MM.yyyy'">
  </app-information-div-for-schedule>
  <app-information-div-for-schedule
    [icon]="faBook"
    [smallText]="'Wszystkie wykonane wizyty'"
    [titile]="'Wykonane wiz.:'"
    [value]="HarmonogramDaneDlaAdministratora.zrealizowaneWizyty"
    title="Zarezerwowane wizyty:"></app-information-div-for-schedule>
  <app-information-div-for-schedule
    [icon]="faList"
    [smallText]="'Wizyty w dniu dzisiejszym'"
    [titile]="'Wizyty dziś'"
    [value]="HarmonogramDaneDlaAdministratora.wizytyDzis"></app-information-div-for-schedule>
  <app-information-div-for-schedule
    [icon]="faCalendarWeek"
    [smallText]="'Wizyty w miesiącu: ' + HarmonogramDaneDlaAdministratora.wizytyWTymMiesiacu + ''"
    [titile]="'Wizyty w tyg.:'"
    [value]="HarmonogramDaneDlaAdministratora.wizytyWTymTygodniu"></app-information-div-for-schedule>
  <app-information-div-for-schedule
    [icon]="faCalculator"
    [last]="true"
    [smallText]="'Zarezerwowane wizyty'"
    [titile]="'Zarezerwowane'"
    [value]="HarmonogramDaneDlaAdministratora.zarezerwowaneWizyty"></app-information-div-for-schedule>

</div>
