$colorRamki: 2px solid #afb0b4;
.podsumowanieAdministratora {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  h4 {
    width: 100%;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 15px;
    }
  }

  table:nth-of-type(1) {
    border-bottom: $colorRamki;
    border-left: $colorRamki;
  }

  table:nth-of-type(2) {
    border-bottom: $colorRamki;
  }

  table:nth-of-type(3) {
    border-right: $colorRamki;
    border-bottom: $colorRamki;
  }

  table {
    padding: 10px;

    td {
      @media (max-width: 700px) {
        font-size: 12px;
      }
    }

    th {
      font-size: 14px;
      letter-spacing: 1px;
      padding-right: 10px;
      text-shadow: 0px 0px 1px black;
      @media (max-width: 700px) {
        font-size: 12px;
      }
    }
  }
}
