<div class="podsumowanieAdministratora">
  <table style="display: inline-block">
    <tr>
      <th>Stan konta:</th>
      <td>55zł</td>
    </tr>
    <tr>
      <th>
        Zarezerwowane wizyty:
      </th>
      <td>
        33
      </td>
    </tr>
  </table>
  <table style="display: inline-block">
    <tr>
      <th>Subskrypcja ważna do:</th>
      <td>04.08.2023</td>
    </tr>
    <tr>
      <th>Lorem ipsum dolor.</th>
      <td>Lorem ipsum dolor.</td>
    </tr>
  </table>
  <table style="display: inline-block">
    <tr>
      <th>Wizyty w tym tygodniu:</th>
      <td>12</td>
    </tr>
    <tr>
      <th>Wizyty w tym miesiącu:</th>
      <td>43</td>
    </tr>
  </table>
</div>
