<app-tabela-przerw-filter></app-tabela-przerw-filter>
<table [ngClass]="{ tablicaLoading: tabelaPrzerw_.pobieranieDanych }" class="tablica">
  <tr class="wyszukiwarka">
    <td class="title" colspan="5">
      <h3>Sracz:</h3>
    </td>
    <td class="wyszukiwarkaTD" colspan="5">
      <fa-icon icon="magnifying-glass"></fa-icon>
      <input (keyup)="onSearchChange($event)" placeholder="wyszukiwarka (wartość wartość2 itd.)" />
    </td>
  </tr>
  <tr #naglowek>
    <th>Lp</th>
    <th *ngIf="czyWolnyDzien()">Data</th>
    <th *ngIf="czyPrzerwa()">Poczatek</th>
    <th *ngIf="czyPrzerwa()">Koniec</th>
    <th>Opis</th>
    <th>Powtarzalność</th>
    <th>Typ</th>
    <th>Zarządzanie</th>
  </tr>
  <tr *ngFor="let element of tabelaPrzerw_.dane; let index = index">
    <td>{{ paggination.indexCount(index) }}</td>
    <td *ngIf="czyWolnyDzien()">{{ element.data }}</td>
    <td *ngIf="czyPrzerwa()">{{ element.poczatek }}</td>
    <td *ngIf="czyPrzerwa()">{{ element.koniec }}</td>
    <td>{{ element.opis }}</td>
    <td *ngIf="tabelaPrzerw_.filterRegularnosci.value == 'jednorazowe'">Jednorazowe</td>
    <td *ngIf="!(tabelaPrzerw_.filterRegularnosci.value == 'jednorazowe')">Regularne</td>
    <td *ngIf="tabelaPrzerw_.filter.value == 'dniwolne'">Dni wolne</td>
    <td *ngIf="!(tabelaPrzerw_.filter.value == 'dniwolne')">Przerwy</td>
    <td>
      <div container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>

        <div ngbDropdownMenu>
          <button (click)="usun(element)" ngbDropdownItem>Usuń</button>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor="let k of paggination.emptyRowArray()">
    <td *ngFor="let k of [].constructor(naglowek.cells.length)"></td>
  </tr>
</table>
<app-table-pagination
  #paggination
  (changeData)="getDataFormPaggination($event)"
  [collectionSize]="tabelaPrzerw_.daneSize"
  [pageSizeArray]="[2, 5, 7, 10, 20, 50, 100]"
  [page]="tabelaPrzerw_.page.value"></app-table-pagination>
