<app-tabela-przerw-filter></app-tabela-przerw-filter>

<app-table
  (changeData)="tabelaPrzerw_.getData()"
  (changePage)="tabelaPrzerw_.page = $event"
  (changeRowsOnPage)="tabelaPrzerw_.pageSize = $event"
  [collectionSize]="tabelaPrzerw_.daneSize"
  [data]="tabelaPrzerw_.dane"
  [loading]="tabelaPrzerw_.pobieranieDanych"
  [title]="'Lista przerw/dni wolnych'">
  <ng-template TemplateId="thead">
    <th>Nr</th>
    <th *ngIf="czyWolnyDzien()">Data</th>
    <th *ngIf="czyPrzerwa()">Poczatek</th>
    <th *ngIf="czyPrzerwa()">Koniec</th>
    <th>Opis</th>
    <th>Powtarzalność</th>
    <th>Typ</th>
    <th class="menageButton">Zarządzanie</th>
  </ng-template>

  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td *ngIf="czyWolnyDzien()">{{ obj.data }}</td>
    <td *ngIf="czyPrzerwa()">{{ obj.poczatek }}</td>
    <td *ngIf="czyPrzerwa()">{{ obj.koniec }}</td>
    <td [title]="obj.opis" style="cursor: help">{{ obj.opis | maxDlugosc : 40 }}</td>
    <td *ngIf="tabelaPrzerw_.filterRegularnosci.value == 'jednorazowe'">Jednorazowe</td>
    <td *ngIf="!(tabelaPrzerw_.filterRegularnosci.value == 'jednorazowe')">Regularne</td>
    <td *ngIf="tabelaPrzerw_.filter.value == 'dniwolne'">Dni wolne</td>
    <td *ngIf="!(tabelaPrzerw_.filter.value == 'dniwolne')">Przerwy</td>
    <td>
      <div container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>
        <div ngbDropdownMenu>
          <button (click)="usun(obj)" ngbDropdownItem>Usuń</button>
        </div>
      </div>
    </td>
  </ng-template>
</app-table>
