<div class="napiszNam" id="napiszNam">
  <div class="tytul">
    <table class="naglowek">
      <tr>
        <td class="skontatujSieZnami">Skontaktuj się z nami</td>
      </tr>
      <tr>
        <td class="zostawWiadomosc">
          Zostaw swoją wiadomość, <br/>
          a my damy odpowiedź na twój adres e-mail,<br/>
          który wskażesz
        </td>
      </tr>
    </table>
  </div>

  <div class="formularz">
    <form>
      <table class="formularzTab">
        <tr>
          <td colspan="2">
            <span class="zostawWiadomosc"
            >Wybierz komu chcesz wysłać wiadomość</span
            >
          </td>
        </tr>
        <tr>
          <td>
            <select
              [(ngModel)]="napiszNam.napiszNamObj.komuWyslac"
              [ngModelOptions]="{ standalone: true }"
              [ngClass]="{
                czerwoneInputy: napiszNam.napiszNamObj.komuWyslacPuste
              }"
              class="selectNapiszDoNas"
            >
              <option [disabled]="true">Wybierz:</option>
              <option>Zakład</option>
              <option [disabled]="true">Pracownicy:</option>
              <option
                [value]="pracownik.id"
                *ngFor="let pracownik of listaPracownikow"
              >
                {{ pracownik.imie }} {{ pracownik.nazwisko }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <input
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pusteImie }"
              class="inputNapiszDoNas"
              placeholder="Imię"
              [(ngModel)]="napiszNam.napiszNamObj.imie"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
          <td>
            <input
              [ngClass]="{
                czerwoneInputy: napiszNam.napiszNamObj.pusteNazwisko
              }"
              class="inputNapiszDoNas"
              type="text"
              [(ngModel)]="napiszNam.napiszNamObj.nazwisko"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Nazwisko"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pustyEmail }"
              class="inputNapiszDoNas"
              type="text"
              [(ngModel)]="napiszNam.napiszNamObj.adresEmail"
              [ngModelOptions]="{ standalone: true }"
              placeholder="E-mail"
            />
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <textarea
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pustaTresc }"
              style="
                width: 470px;
                height: 200px;
                border-radius: 10px;
                resize: none;
              "
              class="inputNapiszDoNas"
              [(ngModel)]="napiszNam.napiszNamObj.wiadomosc"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Wpisz swoją wiadomość"
            ></textarea>
          </td>
        </tr>
      </table>

      <div class="divNaPrzycisk">

        <button class="buttonReset" (click)="reset()" type="reset" [disabled]="aktywnyPrzycisk">Reset</button>

        <button class="buttonWyslij" (click)="wyslij()" type="submit" [disabled]="aktywnyPrzycisk">Wyślij</button>
      </div>
      <div class="divNaKomunikaty">
        <span *ngIf="!napiszNam.napiszNamObj.czyWszystkoUzupelnione" class="czerwone">Uzupełnij wszystkie pola</span>

        <span *ngIf="wiadomoscWyslana" class="czerwone"> <fa-icon [icon]="faIcons.check" class="faIconCheck"></fa-icon>Twoja wiadomość została wysłana, <br>
       oczekuj odpowiedzi od nas   </span>
        <span *ngIf="
          wiadomoscNieWyslana && napiszNam.napiszNamObj.czyWszystkoUzupelnione
        " class="czerwone">

          Twoja wiadomość nie została wysłana, <br>skontaktuj się z administratorem
    </span>
      </div>


    </form>
  </div>
</div>
