<div class="napiszNam" id="napiszNam">
  <div class="tytul" data-aos="fade-right" data-aos-delay="50" data-aos-once="true">
    <table class="naglowek">
      <tr>
        <td class="skontatujSieZnami">Skontaktuj się z nami</td>
      </tr>
      <tr>
        <td class="zostawWiadomosc">
          Zostaw swoją wiadomość, <br />
          a my damy odpowiedź na twój adres e-mail,<br />
          który wskażesz
        </td>
      </tr>
    </table>
  </div>

  <div class="formularz" data-aos="fade-left" data-aos-delay="50" data-aos-once="true">
    <form>
      <table (keydown)="napiszNam.napiszNamObj.touched = true" class="formularzTab">
        <tr>
          <td colspan="2">
            <span class="zostawWiadomosc">Wybierz komu chcesz wysłać wiadomość</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <select
              [(ngModel)]="napiszNam.napiszNamObj.komuWyslac"
              [ngClass]="{
                czerwoneInputy: napiszNam.napiszNamObj.komuWyslacPuste
              }"
              [ngModelOptions]="{ standalone: true }"
              class="selectNapiszDoNas">
              <option [disabled]="true">Wybierz:</option>
              <option>Zakład</option>
              <option [disabled]="true">Pracownicy:</option>
              <option *ngFor="let pracownik of listaPracownikow" [value]="pracownik.id">
                {{ pracownik.firstname }} {{ pracownik.lastname }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <input
              [(ngModel)]="napiszNam.napiszNamObj.imie"
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pusteImie }"
              [ngModelOptions]="{ standalone: true }"
              class="inputNapiszDoNas"
              placeholder="Imię" />
          </td>
          <td>
            <input
              [(ngModel)]="napiszNam.napiszNamObj.nazwisko"
              [ngClass]="{
                czerwoneInputy: napiszNam.napiszNamObj.pusteNazwisko
              }"
              [ngModelOptions]="{ standalone: true }"
              class="inputNapiszDoNas"
              placeholder="Nazwisko"
              type="text" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              [(ngModel)]="napiszNam.napiszNamObj.adresEmail"
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pustyEmail }"
              [ngModelOptions]="{ standalone: true }"
              class="inputNapiszDoNas"
              placeholder="E-mail"
              type="text" />
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <textarea
              [(ngModel)]="napiszNam.napiszNamObj.wiadomosc"
              [ngClass]="{ czerwoneInputy: napiszNam.napiszNamObj.pustaTresc }"
              [ngModelOptions]="{ standalone: true }"
              class="inputNapiszDoNasTextArea"
              placeholder="Wpisz swoją wiadomość"></textarea>
          </td>
        </tr>
      </table>

      <div class="divNaPrzycisk">
        <button (click)="reset()" [disabled]="aktywnyPrzycisk" class="buttonReset" type="reset">Reset</button>

        <button (click)="wyslij()" [disabled]="aktywnyPrzycisk || captcha == null" class="buttonWyslij" type="submit">
          Wyślij
        </button>
      </div>
      @if (napiszNam.napiszNamObj.touched) {
        <re-captcha (resolved)="resolved($event)" [siteKey]="env.googleCaptchaKey" class="recaptcha"></re-captcha>
      }
      <div class="divNaKomunikaty">
        <span *ngIf="!napiszNam.napiszNamObj.czyWszystkoUzupelnione" class="czerwone">Uzupełnij wszystkie pola</span>

        <span *ngIf="wiadomoscWyslana" class="czerwone">
          <fa-icon [icon]="faIcons.check" class="faIconCheck"></fa-icon>Twoja wiadomość została wysłana, <br />
          oczekuj odpowiedzi od nas
        </span>
        <span *ngIf="wiadomoscNieWyslana && napiszNam.napiszNamObj.czyWszystkoUzupelnione" class="czerwone">
          Twoja wiadomość nie została wysłana, <br />skontaktuj się z administratorem
        </span>
        <span *ngIf="!emailPrawidlowy" class="czerwone">Wpisz poprawny swój adres e-mail</span>
      </div>
    </form>
  </div>
</div>
