.napiszNam {
  width: 100%;
  float: left;
  background: #fcfcfc;

  padding-top: 15px;
  box-sizing: border-box;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  gap: 110px;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 70px;
  }
  @media (max-width: 880px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: min-content;
    padding: 10px;
    gap: 50px;
  }
  @media (max-width: 580px) {
    gap: 30px;
  }

  .tytul {
    width: min-content;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    min-width: 415px;
    @media (max-width: 880px) {
      width: 100vw;
      padding: 10px;
      min-width: 315px;
    }
    @media (max-width: 580px) {
      min-width: auto;
    }

    .naglowek {
      tr {
        .skontatujSieZnami {
          font-size: 35px;
          font-weight: bolder;
          color: blue;
          @media (max-width: 700px) {
            font-size: 27px;
          }
          @media (max-width: 600px) {
            font-size: 22px;
          }
          @media (max-width: 400px) {
            font-size: 18px;
          }
        }
      }
    }
  }

  .formularz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: min-content;
    @media (max-width: 880px) {
      width: 100vw;
    }

    .formularzTab {
      width: 80%;
      @media (max-width: 680px) {
        width: 100%;
      }
    }

    .komunikaty {
      width: 10%;
      display: flex;
      flex-direction: column;
    }
  }
}

.zostawWiadomosc {
  font-size: 25px;
  color: blue;
  letter-spacing: 1px;
  text-shadow: 0px 0px 1px #051956;
  @media (max-width: 600px) {
    padding: 3px 7px 3px 7px;
    font-size: 18px;
  }
  @media (max-width: 400px) {
    font-size: 15px;
  }
}

.inputNapiszDoNas {
  border: 2px inset #2491f9;
  border-radius: 20px;
  width: 250px;
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  margin: 8px 2px 2px 8px;
  @media (max-width: 680px) {
    width: 160px;
  }
  @media (max-width: 480px) {
    width: 130px;
  }
  @media (max-width: 320px) {
    width: 110px;
  }
}

.selectNapiszDoNas {
  border: 2px inset #2491f9;
  border-radius: 20px;
  width: 250px;
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #000000;
  background: white;
  margin: 10px 0 0 8px;
  @media (max-width: 680px) {
    width: 160px;
  }
}

.inputNapiszDoNasTextArea {
  border: 2px inset #2491f9;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: #000000;
  background: white;
  margin: 10px 0 0 8px;

  width: 470px;
  height: 200px;
  border-radius: 10px;
  resize: none;
  @media (max-width: 680px) {
    width: 90%;
  }
}

.buttonWyslij,
.buttonReset {
  width: 150px;
  height: 30px;
  background: #e3f9f6;
  border: 1px solid #01570a;
  border-radius: 20px;
  transition: 400ms;
  font-family: math;
  font-size: 18px;
  font-weight: bolder;
  color: #027002;
  margin-top: 20px;
  @media (max-width: 580px) {
    width: 80px;
  }

  &:hover:not([disabled]) {
    box-shadow: 0px 0px 2px 2px #d1d9d1;
    cursor: pointer;
    color: white;
    background: #01570a;
  }

  &:disabled {
    filter: grayscale(0.4);
    cursor: not-allowed;
    border: 1px solid #ababab;
  }
}

.buttonReset {
  margin: 2px 10px 2px 10px;
  border: 1px solid #a10808;
  color: #a10808;

  &:hover:not([disabled]) {
    color: white;
    background: #a10808;
  }
}

.czerwoneInputy {
  border: 2px inset #d30505 !important;
}

.czerwone {
  color: #cc0303;
  font-size: 18px;
  text-shadow: 0px 0px 1px #313030;
  font-family: math;
  font-weight: bold;
}

.divNaKomunikaty {
  margin: 5px 0px 5px 0px;
  min-height: 55px;
}

.faIconCheck {
  color: green;
  position: relative;
  top: 5px;
  font-size: 29px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 1px #686868);
}
