.napiszNam {
  width: 100%;
  float: left;
  background: #fcfcfc;
  height: 600px;


  .tytul {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 80px;

    .naglowek {
      tr {
        .skontatujSieZnami {
          font-size: 35px;
          font-weight: bolder;
          color: blue;

        }

        .zostawWiadomosc {
          font-size: 25px;
          color: blue;
          letter-spacing: 1px;
          text-shadow: 0px 0px 1px #051956
        }
      }
    }

  }

  .formularz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;

    .formularzTab {
      width: 80%;

    }

    .komunikaty {
      width: 10%;
      display: flex;
      flex-direction: column;
    }
  }
}


.inputNapiszDoNas {
  border: 2px inset #2491f9;
  border-radius: 20px;
  width: 220px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}


.buttonWyslij, .buttonReset {
  width: 150px;
  height: 30px;
  background: #e3f9f6;
  border: 1px solid #01570a;
  color: green;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  transition: 200ms;

  &:hover {
    box-shadow: 0px 0px 2px 2px #d1d9d1;
    cursor: pointer;
    color: white;
    background: #01570a;
  }
}

.buttonReset {
  border: 1px solid #a10808;
  color: #a10808;


  &:hover {
    color: white;
    background: #a10808;
  }
}

.czerwoneInputy {
  border: 2px inset #720202 !important;
}


.czerwone {
  color: #cc0303;
  font-size: 18px;
  text-shadow: 0px 1px 1px #313030;
  font-family: math;
  font-weight: bold;
}
