<div class="modal-body">
  <table>
    <tr>
      <th>Początek:</th>
      <td>
        <input (ngModelChange)="godzinaRozpoczecia = $event" [ngModel]="godzinaRozpoczecia" type="time" />
      </td>
    </tr>

    <tr>
      <th>Koniec:</th>
      <td>
        <input (ngModelChange)="godzinaZakonczenia = $event" [ngModel]="godzinaZakonczenia" type="time" />
      </td>
    </tr>
    <tr *ngIf="danePodreczne_.wlasciciel">
      <th>Dotyczy:</th>
      <td>
        <app-select-dotyczy (dotyczyChange)="dotyczy = $event" [wyswietlanieOpcjiZakladu]="true"></app-select-dotyczy>
      </td>
    </tr>
    <tr>
      <th>Powtarzanie:</th>
      <td>
        Jednorazowe:
        <input [(ngModel)]="regularne" [value]="false" name="k" type="radio" />
        &nbsp; &nbsp; &nbsp; &nbsp; Regularne:
        <input [(ngModel)]="regularne" [value]="true" name="k" type="radio" />
      </td>
    </tr>
    <ng-container *ngIf="regularne">
      <tr>
        <th>Początek</th>
        <td><input [(ngModel)]="dataPoczatek" type="date" /></td>
      </tr>
      <tr>
        <th>Koniec</th>
        <td><input [(ngModel)]="dataKoniec" type="date" /></td>
      </tr>
      <tr>
        <th>Dni:</th>
        <td>
          <input [(ngModel)]="dniTygodnia.poniedzialek" type="checkbox" /> Poniedziałek<br />
          <input [(ngModel)]="dniTygodnia.wtorek" type="checkbox" /> Wtorek<br />
          <input [(ngModel)]="dniTygodnia.sroda" type="checkbox" /> Środa<br />
          <input [(ngModel)]="dniTygodnia.czwartek" type="checkbox" /> Czwartek<br />
          <input [(ngModel)]="dniTygodnia.piatek" type="checkbox" /> Piątek<br />
          <input [(ngModel)]="dniTygodnia.sobota" type="checkbox" /> Sobota<br />
          <input [(ngModel)]="dniTygodnia.niedziela" type="checkbox" /> Niedziela<br />
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!regularne">
      <tr>
        <th>Data</th>
        <td><input [(ngModel)]="data" type="date" /></td>
      </tr>
    </ng-container>
    <tr>
      <th>Opis</th>
      <td><textarea [(ngModel)]="opis" cols="35" rows="2"></textarea></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('anuluj')">Anuluj</button>
  <button (click)="dodaj()">Dodaj</button>
</div>
