<div class="naglowek">
  <span> Wybierz pracownika do którego chcesz się zapisać na wizytę </span>
</div>
<div class="select">
  <ng-select
    class="selectPracownicy"
    [items]="pracownicy"
    [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.wybranyPracownik"
    bindLabel="pracownik"
    bindValue="id"
    placeholder="Wybierz"
  >
  </ng-select>
</div>
<span class="czerwone">
  <ng-container
    *ngIf="
      ZarejestrujSieService.DaneKlientaClass.niewybranyPracownik;
      else puste
    "
  >
    Wybierz pracownika, aby przejść dalej
  </ng-container>
  <ng-template #puste> <span style="visibility: hidden"> --</span></ng-template>
</span>
<div class="divNaPrzycisk">
  <button class="buttonDalej" (click)="przejdzDalej()">Dalej</button>
</div>
