<div class="naglowek">
  <span> Wybierz pracownika do którego chcesz się zapisać na wizytę </span>
</div>
<div class="select">
  <ng-select
    [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.wybranyPracownik"
    [items]="pracownicy" [searchable]="false"
    bindLabel="pracownik"
    bindValue="id"
    class="selectPracownicy inputyFormularz"
    placeholder="Wybierz"
  >
  </ng-select>
</div>

<div class="divNaPrzycisk">
  <span class="czerwone">
  <ng-container
    *ngIf="
      ZarejestrujSieService.DaneKlientaClass.niewybranyPracownik;
      else puste
    "
  >
    Wybierz pracownika, aby przejść dalej
  </ng-container>
  <ng-template #puste> <span style="visibility: hidden"> --</span></ng-template>
</span>
  <button (click)="przejdzDalej()" class="buttonDalej">Dalej</button>
</div>
