<ul>
  <a [routerLink]="['harmonogram']" routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.flaga"></fa-icon>
      <span> Harmonogram na dziś </span>
    </li>
  </a>
  <a [routerLink]="['listaKlientow']" routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.klienci"></fa-icon>
      <span> Lista klientów </span>
    </li>
  </a>
  <a [routerLink]="['mojeKonto']" routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.czlowieczek"></fa-icon>
      <span> Moje konto </span>
    </li>
  </a>
  <a
    [routerLink]="['mojZaklad']"
    routerLinkActive="aktywneMenu"
    *ngIf="token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.wiezowiec"></fa-icon>
      <span> Mój zakład </span>
    </li>
  </a>
  <a
    [routerLink]="['uslugi']"
    routerLinkActive="aktywneMenu"
    *ngIf="token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.tag"></fa-icon>
      <span> Usługi </span>
    </li>
  </a>
  <a [routerLink]="['zarejestrowaneWizyty']" routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.karta"></fa-icon>
      <span> Zarejestrowane wizyty </span>
    </li>
  </a>
  <a
    [routerLink]="['zarzadzaniePracownikami']"
    routerLinkActive="aktywneMenu"
    *ngIf="token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.czlowieczki"></fa-icon>
      <span> Pracownicy </span>
    </li>
  </a>
  <a [routerLink]="['kalendarzTerminow']" routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.kalendarz"></fa-icon>
      <span> Kalendarz terminów </span>
    </li>
  </a>

  <a
    [routerLink]="['platnosci']"
    routerLinkActive="aktywneMenu"
    *ngIf="token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.kartaPlatnicza"></fa-icon>
      <span> Płatności </span>
    </li>
  </a>
  <a
    [routerLink]="['sms']"
    routerLinkActive="aktywneMenu"
    *ngIf="token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.sms"></fa-icon>
      <span> Usługa SMS </span>
    </li>
  </a>
  <a
    [routerLink]="['stronaReprezentacyjnaUstawienia']"
    *ngIf="token_.czyWlasciciel()"
    routerLinkActive="aktywneMenu">
    <li>
      <fa-icon [icon]="ikonki.zdjecie"></fa-icon>
      <span> Strona reprezentacyjna </span>
    </li>
  </a>

  <a
    [href]="podreczne_.linkDoStronyReklamowej()"
    target="_blank"
    *ngIf="!token_.czyWlasciciel()">
    <li>
      <fa-icon [icon]="ikonki.zdjecie"></fa-icon>
      <span> Strona reprezentacyjna </span>
    </li>
  </a>
</ul>
