<nav>

  <h4>Moje konto:</h4>
  <a [routerLink]="['harmonogram']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.flaga"></fa-icon>
    <span> Harmonogram na dziś </span>
  </a>
  <a [routerLink]="['zarejestrowaneWizyty']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.karta"></fa-icon>
    <span> Kalendarz</span>
  </a>


  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['mojZaklad']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.wiezowiec"></fa-icon>
    <span> Mój zakład </span>
  </a>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['uslugi']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.tag"></fa-icon>
    <span> Usługi </span>
  </a>


  <!--
  <a [routerLink]="['kalendarzTerminow']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.kalendarz"></fa-icon>
    <span> Kalendarz terminów </span>
  </a>
-->


  <a [routerLink]="['raporty']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.flaga"></fa-icon>
    <span>Raporty </span>
  </a> <a [routerLink]="['listaKlientow']" routerLinkActive="aktywneMenu">
  <fa-icon [icon]="ikonki.klienci"></fa-icon>
  <span> Lista klientów </span>
</a>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['stronaReprezentacyjnaUstawienia']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.zdjecie"></fa-icon>
    <span> Strona reprezentacyjna </span>
  </a>
  <h4>Zakład:</h4>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['podsumowanie']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.flaga"></fa-icon>
    <span>Podsumowanie </span>
  </a>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['platnosci']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.kartaPlatnicza"></fa-icon>
    <span> Płatności </span>
  </a>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['sms']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.sms"></fa-icon>
    <span> Usługa SMS </span>
  </a>
  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['registerPage']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.zdjecie"></fa-icon>
    <span> Strona reprezentacyjna </span>
  </a>

  <a *ngIf="token_.czyWlasciciel()" [routerLink]="['files']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="faFile"></fa-icon>
    <span> Pliki i zdjęcia </span>
  </a>
  <a [routerLink]="['raporty']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.flaga"></fa-icon>
    <span>Raporty </span>
  </a>
  <a *ngIf="!token_.czyWlasciciel()" [href]="podreczne_.linkDoStronyReklamowej()" target="_blank">
    <fa-icon [icon]="ikonki.zdjecie"></fa-icon>
    <span> Strona reprezentacyjna </span>
  </a>
<h4>Profil:</h4>
  <a [routerLink]="['mojeKonto']" routerLinkActive="aktywneMenu">
    <fa-icon [icon]="ikonki.czlowieczek"></fa-icon>
    <span> Moje konto </span>
  </a>

</nav>
