ul {
  margin: 0;
  padding: 0;

  fa-icon {
    color: black !important;
  }

  a {
    text-decoration: none;

    &:nth-child(even) {
      li {
        background: #1a45ac;

        span {
          color: white;
        }

        &:hover {
          background: #1e4ec0;
          cursor: pointer;

          span {
            color: #efecec;
          }
        }
      }
    }

    &:nth-child(odd) {
      li {
        background: #f5f5f5;

        span {
          color: black;
        }

        &:hover {
          background: #f7fbff;
          cursor: pointer;

          span {
            color: #010146;
          }
        }
      }
    }

    li {
      width: 100%;
      height: 40px;
      margin: 4px 0 4px 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      box-shadow: -1px 1px 1px 1px #a8a8a8;

      fa-icon {
        padding-right: 8px;
        padding-left: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
      }

      span {

        padding-left: 7px;
        padding-right: 7px;
        letter-spacing: 1px;
        text-shadow: 0px 0px 1px black;
        font-size: 17px;
        text-decoration: none;
        font-weight: bolder;


      }
    }
  }
}

//style Dla menu kiedy jesteśmy w jakimś oknie
.aktywneMenu {
  li {
    box-shadow: 0px 0px 2px 2px #6e6302 !important;
    background: #d0b500 !important;
    //   background: rgb(0, 34, 175) !important;
    // background: linear-gradient(0deg, rgba(0, 34, 175, 1) 0%, rgba(198, 184, 82, 1) 0%, rgba(46, 74, 196, 1) 20%, rgba(50, 119, 222, 1) 55%, rgba(84, 149, 245, 1) 70%, rgba(106, 166, 255, 1) 82%, rgba(134, 183, 255, 1) 94%, rgba(161, 192, 237, 1) 100%, rgba(242, 242, 242, 1) 100%) !important;

    span {

      color: white !important;
    }
  }

}
