<div class="filtry">
  <div class="switchButtonDiv">
    <button
      (click)="filter = 'przyszle'; zmianaFiltra()"
      class="switchButton"
      [ngClass]="{ switchButtonAktywny: filter == 'przyszle' }">
      Przyszłe
    </button>
    <button
      (click)="filter = 'zakonczone'; zmianaFiltra()"
      class="switchButton"
      [ngClass]="{ switchButtonAktywny: filter == 'zakonczone' }">
      Zakończone
    </button>
    <button
      (click)="filter = 'odwolane'; zmianaFiltra()"
      class="switchButton"
      [ngClass]="{ switchButtonAktywny: filter == 'odwolane' }">
      Odwołane
    </button>
  </div>
</div>
<table class="tablica" [ngClass]="{ tablicaLoading: pobieranieDanych }" #tablica>
  <tr class="wyszukiwarka">
    <td colspan="5" class="title">
      <h3>Wizyty:</h3>
    </td>
    <td colspan="5" class="wyszukiwarkaTD">
      <fa-icon icon="magnifying-glass"></fa-icon>
      <input placeholder="wyszukiwarka (wartość wartość2 itd.)" (keyup)="onSearchChange($event)" />
    </td>
  </tr>
  <tr>
    <th>Lp.</th>
    <th>Data</th>
    <th>Początek</th>
    <th>Koniec</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Telefon</th>
    <th>Email</th>
    <th>Usługi</th>
    <th>Zarządzanie</th>
  </tr>
  <tr *ngFor="let wizyta of zwrocDane(); let index = index">
    <td>{{ index + strona * 10 - 10 + 1 }}</td>
    <td>{{ wizyta.poczatek | date : 'dd.MM.YYYY' }}</td>
    <td>{{ wizyta.poczatek | date : 'hh:mm' }}</td>
    <td>{{ wizyta.koniec | date : 'hh:mm' }}</td>
    <td>{{ wizyta.imie }}</td>
    <td>{{ wizyta.nazwisko }}</td>
    <td>{{ wizyta.numerTelefonu }}</td>
    <td>{{ wizyta.email }}</td>
    <td>{{ wizyta.uslugiTab.length }}</td>
    <td>
      <div ngbDropdown container="body">
        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Wybierz:</button>

        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="wyswietl(wizyta)">Wyświetl</button>
          <button ngbDropdownItem>Odwołaj</button>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor="let k of [].constructor(Math.abs(pageSize - wizyty.length))">
    <td *ngFor="let k2 of [].constructor(tablica.childNodes[1].childNodes.length)"></td>
  </tr>
</table>
<div class="paggination">
  <ngb-pagination
    [(page)]="strona"
    [pageSize]="pageSize"
    [collectionSize]="iloscWizytOgolna"
    [maxSize]="7"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="pobierzDane()"></ngb-pagination>
  <select [(ngModel)]="pageSize" (change)="pobierzDane()">
    <option *ngFor="let k of [10, 20, 50, 100]">{{ k }}</option>
  </select>
</div>
