<div class="filtry">
  <div class="switchButtonDiv">
    <button
      (click)="filter = 'przyszle'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'przyszle' }"
      class="switchButton">
      Przyszłe
    </button>
    <button
      (click)="filter = 'zakonczone'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'zakonczone' }"
      class="switchButton">
      Zakończone
    </button>
    <button
      (click)="filter = 'odwolane'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'odwolane' }"
      class="switchButton">
      Odwołane
    </button>
  </div>
</div>
<app-table
  (changeData)="pobierzDane()"
  (changeRowsOnPage)="pageSize = $event"
  (searchChange)="serachChange($event)"
  [(page)]="strona"
  [collectionSize]="iloscWizytOgolna"
  [data]="zwrocDane()"
  [displaySum]="true"
  [loading]="pobieranieDanych"
  [pageSize]="15"
  [search]="true"
  [title]="'Wizyty:'">
  <ng-template TemplateId="thead">
    <th class="NotInMobile">Lp.</th>
    <th>Data</th>
    <th>Początek</th>
    <th>Koniec</th>
    <th>Imię</th>
    <th class="NotInMobile">Nazwisko</th>
    <th class="NotInMobile">Oznaczenie</th>
    <th class="NotInMobile">Telefon</th>
    <th class="NotInMobile">Email</th>
    <th class="NotInMobile">Usługi</th>
    <th>Zarządzanie</th>
  </ng-template>
  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td class="NotInMobile">{{ index }}</td>
    <td *ngIf="napis(obj.poczatek) != undefined">{{ napis(obj.poczatek) }}</td>
    <td *ngIf="napis(obj.poczatek) == undefined">{{ obj.poczatek | date : 'dd.MM.YYYY' }}</td>
    <td>{{ obj.poczatek | date : 'HH:mm' }}</td>
    <td>{{ obj.koniec | date : 'HH:mm' }}</td>
    <td>{{ obj.customer.firstName }}</td>
    <td class="NotInMobile">{{ obj.customer.lastName }}</td>
    <td class="NotInMobile">
      <span *ngIf="obj.completed == undefined" class="color1"> Nieoznaczone </span>
      <span *ngIf="obj.completed == true" class="color2"> Wykonane </span>
      <span *ngIf="obj.completed == false" class="color3"> Niewykonane </span>
    </td>
    <td class="NotInMobile">{{ obj.customer.phone }}</td>
    <td class="NotInMobile">{{ obj.customer.email }}</td>

    <td *ngIf="obj.czySaUslugi(); else opis" class="NotInMobile">
      {{ obj.uslugi?.uslugi?.length }}
    </td>
    <ng-template #opis>
      <td class="NotInMobile">Opis</td>
    </ng-template>
    <td>
      <div class="ngbDropdownMobile" container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>

        <div ngbDropdownMenu>
          <button (click)="wyswietl(obj)" ngbDropdownItem>Wyświetl</button>
          <button (click)="cancleVisit(obj)" *ngIf="filter == 'przyszle'" ngbDropdownItem>Odwołaj</button>
          <button (click)="updateVisit(obj)" *ngIf="filter == 'przyszle'" ngbDropdownItem>Zmodyfikuj</button>
        </div>
      </div>
    </td>
  </ng-template>
</app-table>
