<div class="filtry">
  <div class="switchButtonDiv">
    <button
      (click)="filter = 'przyszle'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'przyszle' }"
      class="switchButton">
      Przyszłe
    </button>
    <button
      (click)="filter = 'zakonczone'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'zakonczone' }"
      class="switchButton">
      Zakończone
    </button>
    <button
      (click)="filter = 'odwolane'; zmianaFiltra()"
      [ngClass]="{ switchButtonAktywny: filter == 'odwolane' }"
      class="switchButton">
      Odwołane
    </button>
  </div>
</div>
<table #tablica [ngClass]="{ tablicaLoading: pobieranieDanych }" class="tablica">
  <tr class="wyszukiwarka">
    <td class="title" colspan="5">
      <h3>Wizyty:</h3>
    </td>
    <td class="wyszukiwarkaTD" colspan="5">
      <fa-icon icon="magnifying-glass"></fa-icon>
      <input (keyup)="onSearchChange($event)" placeholder="wyszukiwarka (wartość wartość2 itd.)" />
    </td>
  </tr>
  <tr>
    <th class="NotInMobile">Lp.</th>
    <th>Data</th>
    <th>Początek</th>
    <th>Koniec</th>
    <th>Imię</th>
    <th class="NotInMobile">Nazwisko</th>
    <th class="NotInMobile">Telefon</th>
    <th class="NotInMobile">Email</th>
    <th class="NotInMobile">Usługi</th>
    <th>Zarządzanie</th>
  </tr>
  <tr *ngFor="let wizyta of zwrocDane(); let index = index">
    <td class="NotInMobile">{{ index + strona * 10 - 10 + 1 }}</td>
    <td *ngIf="napis(wizyta.poczatek) != undefined">{{ napis(wizyta.poczatek) }}</td>
    <td *ngIf="napis(wizyta.poczatek) == undefined">{{ wizyta.poczatek | date : 'dd.MM.YYYY' }}</td>
    <td>{{ wizyta.poczatek | date : 'hh:mm' }}</td>
    <td>{{ wizyta.koniec | date : 'hh:mm' }}</td>
    <td>{{ wizyta.customer.firstName }}</td>
    <td class="NotInMobile">{{ wizyta.customer.lastName }}</td>
    <td class="NotInMobile">{{ wizyta.customer.phone }}</td>
    <td class="NotInMobile">{{ wizyta.customer.email }}</td>

    <td *ngIf="wizyta.czySaUslugi(); else opis" class="NotInMobile">
      {{ wizyta.uslugi?.uslugi?.length }}
    </td>
    <ng-template #opis>
      <td class="NotInMobile">Opis</td>
    </ng-template>
    <td>
      <div class="ngbDropdownMobile" container="body" ngbDropdown>
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Wybierz:</button>

        <div ngbDropdownMenu>
          <button (click)="wyswietl(wizyta)" ngbDropdownItem>Wyświetl</button>
          <button ngbDropdownItem>Odwołaj</button>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor="let k of [].constructor(Math.abs(paggination.savePageSize - wizyty.length))">
    <td *ngFor="let k2 of [].constructor(tablica.childNodes[1].childNodes.length)"></td>
  </tr>
</table>
<div class="paggination">
  <app-table-pagination
    #paggination
    (changeData)="pobierzDane()"
    [(page)]="strona"
    [(pageSize)]="pageSize"
    [collectionSize]="iloscWizytOgolna"
    [disabled]="pobieranieDanych"></app-table-pagination>

  <!--<ngb-pagination
    [(page)]="strona"
    [pageSize]="pageSize"
    [collectionSize]="iloscWizytOgolna"
    [maxSize]="7"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="pobierzDane()"></ngb-pagination>
  <select [(ngModel)]="pageSize" (change)="pobierzDane()">
    <option *ngFor="let k of [10, 20, 50, 100]">{{ k }}</option>
  </select>-->
</div>
