$kolor: #c4c4c4;

.naglowkiTabeli {
  text-align: center;

  line-height: 21px;

  .dataThClass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-size: 18px;
    @media (max-width: 720px) {
      font-size: 12px;
    }
    position: relative;

    span:first-child {
      @media (max-width: 720px) {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 22px;
        display: block;
        height: 1.2em;
        white-space: nowrap;
      }
    }

    span:last-child {
      //width: 0px;
      //  height: 65px;
      @media (max-width: 720px) {
        display: flex;
        flex-direction: column;

        /* position: relative;
         top: -30px;
         display: block;
         transform: rotate(74deg);*/
      }
    }
  }
}

.wyswietlaneGodzinySpan {
  position: absolute;
  top: -12.5px;
  font-family: math;
  font-size: 15px;
  color: #404040;
  text-shadow: 0px 0px 1px black;
  @media (max-width: 720px) {
    font-size: 10px;
  }
}

.wyswietlaneDniSpan {
  font-family: math;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  text-shadow: 0px 0px 1px black;
  padding-bottom: 10px;
  @media (max-width: 720px) {
    font-size: 13px;
    line-height: 13px;
  }
}

.wyswietlaneDniSpan.data {
  font-size: 15px;
  @media (max-width: 720px) {
    font-size: 12px;
  }
}

.godzina {
  tr:first-of-type {
    border-top: 1px solid $kolor;
    border-bottom: 1px solid $kolor;
  }

  &:nth-of-type(even) {
    td {
      border-bottom: 1px solid #0500e1;
    }
  }

  td {
    height: 14px;
    border-left: 1px solid $kolor;
    border-bottom: 1px solid darken($kolor, 61%);
    width: calc(100% / 7.2);

    &:first-of-type {
      border-left: none;
      border-bottom: none;
      width: 42px;
      font-weight: bold;
      font-family: math;
      display: block;
      font-size: 15px;
    }

    &:last-of-type {
      border-right: 1px solid $kolor;
    }
  }
}

.pracownikDropDown {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

.divNaSpan {
  width: 100%;
  float: left;
  text-align: center;
  height: min-content;

  span {
  }
}

$kolorPrzycisku: #313131;
.zarzadzanie {
  margin-top: 10px;

  button {
    width: 100%;
    border-radius: 0px;
    height: 34px;
    padding: 0;
    border-color: $kolorPrzycisku;
    color: $kolorPrzycisku;
    @media (max-width: 800px) {
      white-space: normal;
      font-size: 7px;
    }
  }

  div {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    text-align: center;

    button {
      width: 100%;
      border-color: $kolorPrzycisku;
      color: $kolorPrzycisku;
    }
  }
}

.poleKlikalne {
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.44);
    //  background: rgba(185, 185, 185, 0.32) !important;
  }
}

.dzisiejszaData {
  span {
    color: #de0000;
    text-shadow: 1px 1px 1px #000000;
  }
}

.dzienInfo {
  text-align: center;
  font-weight: bold;
  @media (max-width: 600px) {
    font-size: 6px;
  }
}

.pracownikIFilter {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

table.ladowanieDanych {
  position: relative;
  z-index: 100;

  tr:not(:first-child) {
    td {
      &:not(:first-child) {
        filter: blur(4px);
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    filter: blur(7px);
    width: 100%;
    //  background-color: rgba(0, 0, 0, 0.11);
    z-index: 101;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-image: url('../../../../assets/gear.png');
    background-size: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    $time: 2s;
    -webkit-animation: rotating $time linear infinite;
    -moz-animation: rotating $time linear infinite;
    -ms-animation: rotating $time linear infinite;
    -o-animation: rotating $time linear infinite;
    animation: rotating $time linear infinite;
    z-index: 102;
  }
}

::ng-deep.confirmDisconfirmDiv {
  @media (max-width: 700px) {
    display: none !important;
  }
}

.calendar {
  overflow: hidden;
}
