<table style="width: 100%;">
  <tr>
    <td colspan="8">
      <div class="sterowanie">
        <button class="jakiTydzienButton teraz" (click)="teraz()  " *ngIf="licznikPrzyciskow !=0 ">Teraz
        </button> &nbsp; &nbsp; &nbsp;
        <button class="jakiTydzienButton" (click)="WLEWO()">Poprzedni tydzień
        </button>
        <div class="jakiMiesiacDiv">
          <span>  {{miesiace[miesiac() - 1]}} - Tydzień: {{tydzien()}}</span>

        </div>
        <button class="jakiTydzienButton" (click)="WPrawo()"> Następny tydzień</button>
      </div>
    </td>
  </tr>

  <tr>
    <th class="wyswietlaneGodzinySpan" style="font-size: 18px">
      Godzina:
    </th>
    <th *ngFor="let dzien of dni" class="naglowkiTabeli">
      <span [ngClass]="{dzisiejszaData:czyToDzis(dzien.data)}">
      <span class="wyswietlaneDniSpan"> {{dzien.nazwa}}</span> <br>
      <span class="wyswietlaneDniSpan" style="font-size: 15px">{{dzien.samaData()}}</span>
      </span>
      <div ngbDropdown class="zarzadzanie" *ngIf="zarzadzanie">
        <button type="button" class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle>
          Zarządzanie dniem
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Oznacz jako dzień wolny</button>
          <button ngbDropdownItem>Dodaj przerwę</button>
        </div>
      </div>
    </th>

  </tr>
  <tr>
    <td></td>
    <td style="position: relative;height: 0px" *ngFor="let dzien of dni">
      <ng-container *ngFor="let wizyta of terminyNaDzien(dzien)">
        <app-termin-komponent [godzinaRozpoczecia]="Kalendarz_.godzinaRozpoczecia" style="width: 150px;"
                              [wizyta]="wizyta"></app-termin-komponent>

      </ng-container>


      <ng-container *ngFor="let wolnyTermin of SymulatorWolneterminyNaDzien(dzien)">
        <app-termin-komponent [godzinaRozpoczecia]="Kalendarz_.godzinaRozpoczecia" style="width: 150px;"
                              [wizyta]="wolnyTermin"
                              [symulator]="true"
                              *ngIf="symulator"
        ></app-termin-komponent>

      </ng-container>
    </td>


  </tr>
  <tr class="godzina" *ngFor="let k of [].constructor(Kalendarz_.godzinaZakonczenia * 2);let index = index">

    <td style="position:relative;"><span class="wyswietlaneGodzinySpan">
      {{Kalendarz_.godzina(index)}}</span></td>
    <td
      [ngStyle]="kolorTla(dzien,index)"

      style="position: relative;height: 25px"
      *ngFor="let dzien of dni"
      [ngClass]="{poleKlikalne:true}"
      (click)="kliknietoPole(dzien,index)"

    >
      <span *ngIf="!czyPracuje(dzien.dzien)" style="width: 100%;text-align: center;display: block;color:#343434">---------</span>
      <div *ngIf="czyToDzis(dzien.data) && index == 0

">
        <app-kalendarz-godzina-kreska-komponent
          [poczatek]="[Kalendarz_.godzinaRozpoczecia,0]"
          [koniec]="[Kalendarz_.godzinaZakonczenia + Kalendarz_.godzinaRozpoczecia,0]"
          [wysokosc]="((Kalendarz_.godzinaZakonczenia * 2)*25)"
          [sumaCzasu]="(10*60)"></app-kalendarz-godzina-kreska-komponent>

      </div>
    </td>

  </tr>
</table>
<button (click)="symulator = !symulator;generujWIzyty()">Symulator</button>
ID pracownika <input [(ngModel)]="symulatorPracownikID" (keydown)="generujWIzyty()">
<br>
ID wizyt <input [(ngModel)]="symulatorWizytyID" (keydown)="generujWIzyty()">
