$kolor: #c4c4c4;
.jakiMiesiacDiv {
  width: 300px;
  text-align: center;

  span {
    font-family: math;
    font-size: 21px;
    font-weight: bold;
    color: #013a70;
    text-shadow: 0px 0px 1px black;
  }
}

.naglowkiTabeli {

  text-align: center;
  line-height: 14px;
  //  padding-bottom: 10px;

  span {
    font-size: 24px;

  }
}

.wyswietlaneGodzinySpan {
  position: absolute;
  top: -12.5px;
  font-family: math;
  font-size: 15px;
  color: #404040;
  text-shadow: 0px 0px 1px black;

}

.wyswietlaneDniSpan {
  font-family: math;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  text-shadow: 0px 0px 1px black;
}

.godzina {


  tr:first-of-type {
    border-top: 1px solid $kolor;
    border-bottom: 1px solid $kolor;
  }

  &:nth-of-type(even) {
    td {
      border-bottom: 1px solid #0500e1;
    }
  }

  td {
    height: 14px;
    border-left: 1px solid $kolor;
    border-bottom: 1px solid darken($kolor, 61%);
    width: 150px;


    &:first-of-type {
      border-left: none;
      border-bottom: none;
      width: 30px;
      font-weight: bold;
      font-family: math;
      font-size: 15px;

    }

    &:last-of-type {
      border-right: 1px solid $kolor;
    }

  }
}

.sterowanie {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  position: relative;

  .teraz {
    position: absolute;
    left: 50px;
    background: #0dc004;

    &:hover {
      background: #058c04;
    }
  }
}

h2 {
  text-align: center;
}

.divNaSpan {
  width: 100%;
  float: left;
  text-align: center;
  height: min-content;

  span {

  }
}

.jakiTydzienButton {
  width: 145px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  background: #2138b5;
  color: white;
  text-shadow: 1px 1px 3px black;
  box-shadow: 0px 0px 2px 1px #0e064a;
  border: inset 1px #250ba4;
  font-family: math;
  letter-spacing: 1px;

  &:hover:not([disabled]) {
    cursor: pointer;
    background: #243cc0;
  }

  &:disabled {
    cursor: not-allowed;
    background: gray;
    border: solid 1px #242424;
    box-shadow: none;
  }
}

$kolorPrzycisku: #313131;
.zarzadzanie {
  margin-top: 10px;

  button {
    width: 100%;
    border-radius: 0px;
    height: 34px;
    padding: 0;
    border-color: $kolorPrzycisku;
    color: $kolorPrzycisku;
  }

  div {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    text-align: center;

    button {
      width: 100%;
      border-color: $kolorPrzycisku;
      color: $kolorPrzycisku;
    }
  }
}

.poleKlikalne {

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.44);
    //  background: rgba(185, 185, 185, 0.32) !important;

  }
}

.dzisiejszaData {


  span {
    color: #de0000;
    text-shadow: 1px 1px 1px #000000;
  }
}

.dzienInfo {
  text-align: center;
  font-weight: bold;
}
