h2 {
  padding: 5px;
  text-align: center;
  color: whitesmoke;
}

h3 {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid black;
  background: #c4c4c4;
  margin-bottom: 0;
}

.offcanvas-body {
  padding: 0 !important;
}

.helpContainer {
  width: 100%;
  overflow-y: auto;

  h4 {
    padding-top: 7px;
    padding-bottom: 4px;
    box-shadow: 0 0 2px 2px inset black;
    background: #e6e6e6;
    box-shadow: -1px 0px 12px -3px inset #c4c4c4;
    margin: 0;
  }

  p {
    padding: 5px;
    text-indent: 10px;
  }
}

.mainContainer {
  height: 100vh;
  overflow-y: auto;
}

.offcanvas-header {
  padding-right: 25px;
  box-shadow: 1px 0px 12px -3px inset #1300f2;
  background: #7ac0ff;
  padding: 3px 20px 3px 10px !important;
}
