h2 {
  padding: 5px;
  text-align: center;
}

h3 {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid black;
}

.container {
  padding: 5px;
  width: 100%;
  overflow-y: auto;
}

.mainContainer {
  height: 100vh;
  overflow-y: auto;
}

.offcanvas-header {
  padding-right: 25px;
}
