.harmonogram {
  width: 100%;
  display: flex;
  justify-content: center;

  table {
  }

}

.wizyta {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;

  .aktualna {
    width: 300px;
    background: red;

  }

  .nastepna {
    width: 300px;
    background: red;
  }
}
