<div class="naglowekZolty">
    <span class="naglowek1Wzoltym"
    >Harmonogram na dziś
    </span>
</div>
<h2>
  Witaj {{podreczneDane_.danePodreczneObiekt.zalogowanyUzytkownik?.imie }} {{podreczneDane_.danePodreczneObiekt.zalogowanyUzytkownik?.nazwisko }}
</h2>
<hr style="color: gray">
<app-harmonogram-podsumowanie-administratora
  *ngIf="token_.czyWlasciciel()"></app-harmonogram-podsumowanie-administratora>
<div class="harmonogram">
  <app-harmonogram-dnia></app-harmonogram-dnia>
</div>
<hr style="color: gray">
<hr style="color: gray">

<div class="wizyta">
  <app-harmonogram-aktualna-wizyta></app-harmonogram-aktualna-wizyta>
  <app-harmonogram-nastepna-wizyta></app-harmonogram-nastepna-wizyta>

</div>
<hr style="color: gray">
<hr style="color: gray">
