<div class="naglowekZolty">
  <!-- <span class="naglowek1Wzoltym">Harmonogram na dziś </span>-->
  <app-system-active-information-panel style="width: 100%"></app-system-active-information-panel>
</div>
<h2>
  Witaj {{ podreczneDane_.danePodreczneObiekt.zalogowanyUzytkownik?.firstname }}
  {{ podreczneDane_.danePodreczneObiekt.zalogowanyUzytkownik?.lastname }}
</h2>

<app-harmonogram-podsumowanie-administratora
  *ngIf="token_.czyWlasciciel()"></app-harmonogram-podsumowanie-administratora>
<div class="harmonogram">
  <app-harmonogram-dnia></app-harmonogram-dnia>
</div>

<div class="wizyta">
  <app-harmonogram-aktualna-wizyta></app-harmonogram-aktualna-wizyta>
  <app-harmonogram-nastepna-wizyta></app-harmonogram-nastepna-wizyta>
</div>
