h2 {
  text-align: center;
}

.naglowekZolty {
  min-height: 0;
  background: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.harmonogram {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 1250px) {
    display: none;
  }

  table {
  }
}

.wizyta {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;
  @media (max-width: 850px) {
    flex-direction: column;

    align-content: center;
  }

  .aktualna {
    width: 300px;
    background: red;
    max-width: 450px;
  }

  .nastepna {
    width: 300px;
    background: red;
    max-width: 450px;
  }
}
