.harmonogram {
  width: 100%;
  display: flex;
  justify-content: center;

  table {
  }

}

.wizyta {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .aktualna {
    width: 300px;
    background: red;

  }

  .nastepna {
    width: 300px;
    background: red;
  }
}
