<div class="modal-header">
  <h4 *ngIf="!edit" class="modal-title">Rejestracja wizyty:</h4>
  <h4 *ngIf="edit" class="modal-title">Modyfikacja wizyty:</h4>
  <button (click)="activeModal.close('Nie')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<form (ngSubmit)="sendHandler()" [formGroup]="formualrzRejestracjiWizyty">
  <div class="modal-body">
    <table>
      <tr>
        <th>Klient*:</th>
        <td>
          <input formControlName="imie" placeholder="imię" />
          <input formControlName="nazwisko" placeholder="nazwisko" />
        </td>
      </tr>
      <tr>
        <th>Termin*:</th>
        <td>
          <input formControlName="termin" type="date" />
        </td>
      </tr>
      <tr>
        <th>Godziny*:</th>
        <td>
          <input formControlName="poczatek" type="time" value="12:12" /> <input formControlName="koniec" type="time" />
        </td>
      </tr>
      <tr>
        <th>Telefon*:</th>
        <td>
          <div class="select">
            <select formControlName="prefix" type="text">
              <option>+48</option>
              <option>+380&nbsp;&nbsp;&nbsp;</option>
            </select>
          </div>
          <input formControlName="telefon" type="tel" />
        </td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><input formControlName="email" type="email" /></td>
      </tr>

      <tr *ngIf="edit">
        <th>Wykonanie:</th>
        <td>
          Nieokreślone
          <input [value]="" checked="checked" formControlName="confirmed" name="confirmed" type="radio" /><br />
          Wykonane <input formControlName="confirmed" name="confirmed" type="radio" value="true" /> <br />Niewykonane
          <input formControlName="confirmed" name="confirmed" type="radio" value="false" />
        </td>
      </tr>
      <tr>
        <th>Konifguracja</th>
        <td>
          Ręczna:
          <input
            (click)="zmianaOkna($event)"
            [(ngModel)]="tryb"
            [ngModelOptions]="{ standalone: true }"
            name="type"
            type="radio"
            value="manual" />
          &nbsp; &nbsp;Automatyczna:
          <input
            (click)="zmianaOkna($event)"
            [(ngModel)]="tryb"
            [ngModelOptions]="{ standalone: true }"
            name="type"
            type="radio"
            value="auto" />
        </td>
      </tr>
      <tr *ngIf="token_.czyWlasciciel()">
        <th>Przypisanie:</th>
        <td>
          <div class="select">
            <select formControlName="wykonawca">
              <option *ngFor="let pracownik of kalendarz_.pracownicy" [value]="pracownik.id">
                {{ pracownik.imie + ' ' + pracownik.nazwisko }}&nbsp;&nbsp;&nbsp;
              </option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <th>Cena</th>
        <td><input formControlName="cena" style="width: 100px" type="number" />zł</td>
      </tr>
    </table>
    <div *ngIf="tryb == 'auto'" class="auto">
      <h4>Usługi ({{ obliczCene() }}zł)</h4>
      <div class="listaUslug">
        <ul>
          <li *ngFor="let usluga of uslugi_.listaUslug">
            <input (click)="klikniecie($event, usluga)" [checked]="usluga.zaznaczone" type="checkbox" />&nbsp;{{
              usluga.nazwa
            }}
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="tryb == 'manual'" class="manual">
      <h4>Usługi</h4>
      <table>
        <tr>
          <th>Opis usługi</th>
          <td><textarea formControlName="opis" placeholder="Opis zaplanowanych usług"></textarea></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <p *ngIf="!edit" class="info">
      Utworzenie wizyty jest jednoznaczne z powiadomieniem użytkownika w formie email oraz sms.
    </p>
    <p *ngIf="edit" class="info">
      Zmodyfikowanie wizyty jest jednoznaczne z powiadomieniem użytkownika w formie email oraz sms.
    </p>

    <div>
      <button (click)="activeModal.close('anuluj')" [disabled]="buttonBlock" class="domyslnyButtonAnuluj" type="button">
        Anuluj</button
      >&nbsp;
      <button
        *ngIf="!edit"
        [disabled]="formualrzRejestracjiWizyty.invalid || buttonBlock"
        class="domyslnyButtonZapisz"
        type="submit">
        Zarejestruj
      </button>
      <button
        *ngIf="edit"
        [disabled]="formualrzRejestracjiWizyty.invalid || buttonBlock"
        class="domyslnyButton4"
        type="submit">
        Zmodyfikuj
      </button>
    </div>
  </div>
</form>
