:host {
  display: block;
  height: 100%;
}

.bannerImg {
  height: 30px;
  padding-left: 20px;
}

.tabelka {
  padding: 10px;

  table {
    width: 100%;

    tr {
      th {
        width: 240px;
      }

      td {
        width: max-content;
      }
    }
  }
}

.toRight {
  text-align: right;
  width: 100%;
  padding: 15px 25px 0 0;
}

.leftRightContainer {
  display: flex;
  width: 100%;
  height: 100%;

  .left {
    width: calc(100% - 350px);
    flex-shrink: 1;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .right {
    z-index: 10;
    background: rgba(229, 229, 229, 0.56);
    //box-shadow: -2px 0 2px 2px #e5e5e5;
    width: 350px;
    flex-shrink: 10;
    text-align: center;
    height: 100%;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

::ng-deep {
  .NgxEditor {
    height: 200px;
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 200px;
  }
}
