.bannerImg {
  height: 30px;
  padding-left: 20px;
}

.tabelka {
  padding: 10px;

  table {
    width: 100%;

    tr {
      th {
        width: 240px;
      }

      td {
        width: max-content;
      }
    }
  }
}

.toRight {
  text-align: right;
  width: 100%;
  padding: 15px 25px 0 0;
}
