.rejestracjaKlienta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .formularz {
    width: 1250px;
    height: 550px;

    position: relative;
    flex-wrap: wrap;

    table {
      height: min-content;
      //margin-left: 80px;
      display: block;

      tr {
        td {
          padding-top: 5px;
        }
      }
    }
  }

}

.logInput {
  width: 280px;
  height: 30px;
}

.czerwoneKomunikaty {
  margin-top: 15px;
  display: block;
  padding-left: 0;
  width: 90%;
  padding-right: 15px;
}

.ButtonZarejestruj {
  position: absolute;
  bottom: 55px;

  &:disabled {
    filter: grayscale(90%);
    cursor: default;
  }
}

.chceszSieZalogowacLubZarejestrowac {
  position: absolute;
  bottom: 20px;
}







