<div class="rejestracjaKlienta">
  <h1 class="h1dlaTytuluPanelu">Rejestracja do Systemu Automatycznego Zapisu
    <fa-icon [icon]="fontAwesome.powrotIconka" class="iconkaPowrotu" (click)="powrotOJedenKrok()"></fa-icon>
  </h1>
  <form>
    <div class="formularz" *ngIf="rejestracjaUdana" style="flex-direction: column;justify-content: flex-start">
      <h2 style="font-size: 29px; text-align: center; color: #020c5d;  width: 100%; height: 70px;float: left">Na Twoją
        pocztę
        wysłaliśmy e-mail z linkiem
        podtwierdzającym
        rejestracje!</h2>
      <span style="color: #031091; text-align: center;font-size: 26px; width: 100%; float: left"> Sprawdź pocztę aby dokończyć swoją rejestracje.
      </span>
      <a [routerLink]="['../logowanieKlienta']"
         style="width: 100%;text-align: center;font-size: 25px;padding-top: 70px;font-weight: bolder">Przejdź
        do panelu
        logowania</a>
    </div>

    <div class="formularz" *ngIf="!rejestracjaUdana">

      <table class=" daneKlienta">
        <tr>
          <td colspan="2"><h2 class="naglowekWformularzu">Dane klienta:</h2></td>
        </tr>
        <tr>
          <td><label for="imie" class="naglowekDwaWformularzu">
            <span *ngIf="!rejestracjaKlienta.imiePoprawne  && !rejestracjaKlienta.imiePuste "
                  class="wykrzyknik">!</span>

            Imię*</label></td>
          <td><input id="imie" type="text" [(ngModel)]="rejestracjaKlienta.imie" [ngModelOptions]="{standalone: true}"
                     class="logInput"
                     [ngClass]="{'wpiszDane': this.rejestracjaKlienta.imiePuste  || !rejestracjaKlienta.imiePoprawne}">
          </td>
        </tr>
        <tr>
          <td><label for="nazwisko"
                     class="naglowekDwaWformularzu">
            <span
              *ngIf="!rejestracjaKlienta.nazwiskoPoprawne && !rejestracjaKlienta.nazwiskoPuste"
              class="wykrzyknik">!</span>
            Nazwisko*</label></td>
          <td><input id="nazwisko" [(ngModel)]="rejestracjaKlienta.nazwisko" [ngModelOptions]="{standalone: true}"
                     class="logInput"
                     [ngClass]="{'wpiszDane': this.rejestracjaKlienta.nazwiskoPuste || !rejestracjaKlienta.nazwiskoPoprawne}">
          </td>
        </tr>
        <tr>
          <td><label for="numerTelefonu" class="naglowekDwaWformularzu">
            <span *ngIf="!rejestracjaKlienta.numerTelefonuPoprawne  && !rejestracjaKlienta.numerTelefonuPuste"
                  class="wykrzyknik">!</span>
            Numer telefonu*</label></td>
          <td>
            <select [ngClass]="{'wpiszDane': this.rejestracjaKlienta.numerTelefonuPuste}" class="logInput"
                    [(ngModel)]="rejestracjaKlienta.prefiks"
                    [ngModelOptions]="{standalone: true}" style="width: 80px; height: 39px; background: #e3e2e2">
              <option>+48</option>
              <option>+380</option>
            </select>
            <input id="numerTelefonu" [(ngModel)]="rejestracjaKlienta.numerTelefonu"
                   [ngModelOptions]="{standalone: true}"
                   class="logInput"
                   [ngClass]="{'wpiszDane': this.rejestracjaKlienta.numerTelefonuPuste  || !rejestracjaKlienta.numerTelefonuPoprawne ||rejestracjaKlienta.numerTelefonuZarejestrowanyKomunikat}"
                   style="width: 200px"></td>
        </tr>
        <tr><label for="email">
          <td class="naglowekDwaWformularzu">
            <span *ngIf="!rejestracjaKlienta.adresEmailPoprawne && !rejestracjaKlienta.adresEmailPuste"
                  class="wykrzyknik">!</span>
            Adres e-mail*
          </td>
        </label>
          <td><input id="email" [(ngModel)]="rejestracjaKlienta.adresEmail" [ngModelOptions]="{standalone: true}"
                     class="logInput"
                     [ngClass]="{'wpiszDane': this.rejestracjaKlienta.adresEmailPuste  || !rejestracjaKlienta.adresEmailPoprawne || rejestracjaKlienta.emailJuzZajestrowanyKomunikat}">
          </td>
        </tr>
        <tr>
          <td style="position: relative"><input style="transform: scale(172%);position: relative;top:-3px" id="rodo"
                                                type="checkbox" [(ngModel)]="rejestracjaKlienta.rodo"
                                                [ngModelOptions]="{standalone: true} "
                                                [ngClass]="{'rodoIregulamin': rejestracjaKlienta.rodoPuste}">
            <span class="naglowekDwaWformularzu"><label for="rodo" style="padding-left: 25px"
            >RODO</label></span>
          </td>
        </tr>
        <tr>
          <td style="position: relative"><input style="transform: scale(172%);position: relative;top:-3px"
                                                id="regulamin" type="checkbox"
                                                [(ngModel)]="rejestracjaKlienta.regulamin"
                                                [ngModelOptions]="{standalone: true}"
                                                [ngClass]="{'rodoIregulamin': rejestracjaKlienta.regulaminPusty}">

            <span class="naglowekDwaWformularzu"><label for="regulamin" style="padding-left: 25px"
            >Regulamin</label>
          </span></td>
        </tr>
      </table>
      <table class=" hasloKlienta" style="margin-left: 50px;">
        <tr>
          <td colspan="2">
            <h2 style="position: relative" class="naglowekWformularzu">Utwórz hasło
              <fa-icon style="top: -2px" [tp]="wymaganiaHasla" tpVariation="popper"
                       class="zapytajnik"
                       [tpTrigger]="'mouseenter'" [tpClassName]="'wymaganiaHasla'"
                       [icon]="fontAwesome.znakZapytajnika"></fa-icon>
            </h2>
          </td>
        </tr>
        <tr>
          <td class="naglowekDwaWformularzu"><label for="haslo1">
            <span *ngIf="!rejestracjaKlienta.czyHaslaSpelniajaWymagania && !rejestracjaKlienta.haslo1puste"
                  class="wykrzyknik">!</span>
            Hasło:*</label></td>
          <td><input id="haslo1" [type]="rejestracjaKlienta.podgladWlaczJeden? 'text' : 'password' "
                     [(ngModel)]="rejestracjaKlienta.haslo1"
                     [ngModelOptions]="{standalone: true}"
                     class="logInput"
                     [ngClass]="{'wpiszDane': this.rejestracjaKlienta.haslo1puste || !this.rejestracjaKlienta.czyHaslaTakieSame || !this.rejestracjaKlienta.czyHaslaSpelniajaWymagania}">
            <fa-icon
              [icon]="rejestracjaKlienta.podgladWlaczJeden ? fontAwesome.oczkoZamkniete : fontAwesome.oczko "
              (click)="rejestracjaKlienta.podgladWlaczJeden =! rejestracjaKlienta.podgladWlaczJeden"
              class="Podglad"></fa-icon>
          </td>
        </tr>
        <tr>
          <td class="naglowekDwaWformularzu"><label for="haslo2">
            <span *ngIf="!rejestracjaKlienta.czyHaslaSpelniajaWymagania && !rejestracjaKlienta.haslo2puste"
                  class="wykrzyknik">!</span>
            Powtórz hasło:*</label></td>
          <td><input id="haslo2" [type]="rejestracjaKlienta.podgladWlaczDwa ? 'text' : 'password'"
                     [(ngModel)]="rejestracjaKlienta.haslo2"
                     [ngModelOptions]="{standalone: true}"
                     class="logInput"
                     [ngClass]="{'wpiszDane': this.rejestracjaKlienta.haslo2puste || !this.rejestracjaKlienta.czyHaslaTakieSame || !this.rejestracjaKlienta.czyHaslaSpelniajaWymagania}">
            <fa-icon [icon]="rejestracjaKlienta.podgladWlaczDwa ? fontAwesome.oczkoZamkniete : fontAwesome.oczko"
                     (click)="rejestracjaKlienta.podgladWlaczDwa =! rejestracjaKlienta.podgladWlaczDwa"
                     class="Podglad"></fa-icon>
          </td>
        </tr>
        <tr
          *ngIf="!rejestracjaKlienta.czyWszystkieDaneWpisane || !rejestracjaKlienta.czyDwaHaslaWpisane || rejestracjaKlienta.haslo1puste || rejestracjaKlienta.haslo2puste">
          <td colspan="2"><span class="czerwoneKomunikaty">Uzupełnij wszystkie pola zaznaczone na czerwono!</span>
          </td>
        </tr>
        <tr *ngIf="!rejestracjaKlienta.czyHaslaTakieSame">
          <td colspan="2"><span class="czerwoneKomunikaty">Wprowadzone różne hasła, spróbuj jeszcze raz!</span>
          </td>
        </tr>
        <tr *ngIf="!rejestracjaKlienta.czyHaslaSpelniajaWymagania">
          <td colspan="2"><span class="czerwoneKomunikaty">Hasła nie spełniają wymagań, spróbuj jeszcze raz!</span>
          </td>
        </tr>
        <tr *ngIf="!rejestracjaUdanaKomunikat">
          <td colspan="2"><span
            class="czerwoneKomunikaty">Rejestracja nieudana, skontaktuj się z administratorem!</span>
          </td>
        </tr>
        <tr *ngIf="rejestracjaKlienta.emailJuzZajestrowanyKomunikat">
          <td colspan="2"><span class="czerwoneKomunikaty">Wpisany e-mail już jest zarejestrowany w systemie!</span>
          </td>
        </tr>
        <tr *ngIf="rejestracjaKlienta.numerTelefonuZarejestrowanyKomunikat">
          <td colspan="2"><span class="czerwoneKomunikaty">Wpisany numer telefonu już jest zarejestrowany<br> w systemie!</span>
          </td>
        </tr>

      </table>

      <span class="apropoRodoIregulamin"
            style="position: absolute; bottom: 95px; left: 125px">* oznacza że pole jest wymagane<br> ! oznacza że pole nie spełnia wymagań </span>

      <button (click)="zarejestruj()" class="ButtonZarejestrujIzaloguj"
              [disabled]="rejestracjaKlienta.daneWTrakcieWysylania">
        Zarejestruj
      </button>
      <a class="chceszSieZalogowacLubZarejestrowac" [routerLink]="['../logowanieKlienta']"> Logowanie do
        zarejestrowanego konta</a>
    </div>
  </form>
</div>

<ng-template #wymaganiaHasla let-hide>
  <h6 style="font-size: 20px; color: darkblue; margin-top: 0; font-weight: bolder; margin-bottom: 0">Takie wymagania
    powinno spełniać
    hasło:</h6>
  <ul style="font-size: 18px; color: #07579b">
    <li>
      Musi zawierać minimum 8 znaków;
    </li>
    <li>
      Może zawierać maksymalnie 100 znaków;
    </li>
    <li>
      Musi zawierać przynajmniej jedną dużą i jedną małą literę;
    </li>
    <li>
      Musi zawierać przynajmniej jedną cyfrę;
    </li>
    <li>
      Musi zawierać minimum jeden znak specjalny;
    </li>
    <li>
      Nie może zawierać spację.
    </li>
  </ul>

</ng-template>



