$kolor: #d4e4fc;
.jakiMiesiacDiv {
  width: 300px;
  text-align: center;
  @media (max-width: 700px) {
    width: 40%;
    max-width: 300px;
  }
  @media (max-width: 600px) {
    width: 40%;
  }

  span {
    font-family: math;
    font-size: 21px;
    font-weight: bold;
    color: #013a70;
    text-shadow: 0px 0px 1px black;
    @media (max-width: 700px) {
      font-size: 15px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
}

.wyswietlaneGodzinySpan {
  position: relative;
  top: -6.5px;
  font-family: math;
  font-size: 14px;
  color: #404040;
  text-shadow: 0px 0px 1px black;
}

.wyswietlaneGodzinySpan.tekst {
  font-size: 18px;


  @media (max-width: 700px) {
    font-size: 15px;
  }
  @media (max-width: 500px) {
    visibility: hidden;
  }
}

.wyswietlaneDniSpan {
  font-family: math;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  text-shadow: 0px 0px 1px black;

  &.krotkie {
    display: none;
  }

  @media (max-width: 700px) {
    font-size: 15px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
    &:first-of-type {
      width: calc(100vw / 10);
      text-overflow: ellipsis;
      overflow: hidden;
      height: 1.2em;
      display: block;
      white-space: nowrap;
    }
    &.krotkie {
      display: block;
      text-align: center;
    }
    &.dlugie {
      display: none;
    }
  }

  &:last-of-type {
    font-size: 16px;
  }
}

.wyswietladnieDniaTh {
  width: 125px;
  @media (max-width: 700px) {
    width: auto;
  }
}

.godzina {
  tr:first-of-type {
    border-top: 1px solid $kolor;
    border-bottom: 1px solid $kolor;
  }

  td {
    line-height: 0;
    height: 14px;
    border-left: 1px solid $kolor;
    border-bottom: 1px solid $kolor;

    &:first-of-type {
      border-left: none;
      border-bottom: none;
      font-weight: bold;
      font-family: math;
      font-size: 15px;
    }

    &:last-of-type {
      border-right: 1px solid $kolor;
    }
  }
}

.sterowanie {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    padding-bottom: 10px;
  }
}

h2 {
  text-align: center;
}

.divNaSpan {
  width: 100%;
  float: left;
  text-align: center;
  height: min-content;

  span {
  }
}

.jakiTydzienButton {
  width: 145px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  background: #2138b5;
  color: white;
  text-shadow: 1px 1px 3px black;
  box-shadow: 0px 0px 2px 1px #0e064a;
  border: inset 1px #250ba4;
  font-family: math;
  letter-spacing: 1px;

  @media (max-width: 700px) {
    font-size: 14px;
  }
  @media (max-width: 500px) {
    width: min-content;
    font-size: 12px;
    height: 26px;
    span {
      display: none;
    }
  }

  &:hover:not([disabled]) {
    cursor: pointer;
    background: #243cc0;
  }

  &:disabled {
    cursor: not-allowed;
    background: gray;
    border: solid 1px #242424;
    box-shadow: none;
  }
}

.dzis {
  span {
    color: #af0000 !important;
    font-weight: bold;
    font-size: 17px;
    @media (max-width: 700px) {
      font-size: 14px;
    }
    @media (max-width: 400px) {
      font-size: 13px;
    }
  }
}

.dzienBezPracy {
  width: 100%;
  text-align: center;
  display: block;
  color: #343434;
  line-height: 10px;
  @media (max-width: 700px) {
    font-size: 3px;
  }
  @media (max-width: 400px) {
    font-size: 1px;
  }
}
