<div class="aktualna">
  <h2 class="naglowki1form" style="text-decoration: underline">Aktualna wizyta:</h2>
  <div class="block1">
    <table *ngIf="aktualnaWizyta != undefined else brak">
      <tr>
        <td class="naglowki2form">Klient:</td>
        <td>
          {{aktualnaWizyta.imie + " " + aktualnaWizyta.nazwisko}}
        </td>
      </tr>
      <tr>
        <td class="naglowek">
          Koniec za:
        </td>
        <td class="naglowek2">
          {{czasDoKoncaWizyty()}}
        </td>
      </tr>
      <tr>
        <td class="naglowek">Początek:</td>
        <td class="naglowek2">{{aktualnaWizyta.poczatek|date:"HH:mm"}}</td>
      </tr>
      <tr>
        <td class="naglowek">
          Koniec:
        </td>
        <td class="naglowek2">
          {{aktualnaWizyta.koniec|date:"HH:mm"}}
        </td>
      </tr>
      <tr>
        <td class="naglowek">
          Usługi
        </td>
        <td>
          <ul class="naglowek2">
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

</div>

<ng-template #brak>
  Aktualnie nie odbywa się żadna wizyta
</ng-template>
