.informacjaOnas {
  background: #fcfcfc;
  width: 100%;
  float: left;
  position: relative;
  z-index: 99;
  padding-top: 20px;
  height: min-content;

  .container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    width: 100%;
    grid-auto-flow: row;
    grid-template-areas:
    "panel dane"
  }


  .panel {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "podstawoweInformacje"
    "uslugi "
    "uslugi ";
    grid-area: panel;

  }

  .uslugi {
    grid-area: uslugi;
  }

  .opis {
    grid-area: opis;
  }


  .kontakt {
    grid-area: kontakt;
    display: flex;
    align-items: center;
    justify-content: left;

  }

  .dane {
    grid-area: dane;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    div {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }

  .podstawoweInformacje {
    grid-area: podstawoweInformacje;
    display: flex;
    align-items: start;
    justify-content: right;


  }


  .Adres {
    grid-area: Adres;
    display: flex;
    align-items: center;
    justify-content: left;

  }

}

.informacjeOnasTytul {
  margin: 0;
  font-family: math;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #b40c00;
  letter-spacing: 1px;
  text-shadow: 0px 1px 2px black;

}

.informacjaNaglowek1 {
  width: min-content;
  font-size: 23px;
  font-weight: bold;
  color: #03208a;
  font-family: math;
  text-shadow: 0px 1px 2px #95b5ee;
}

.informacjaNaglowek2 {
  font-size: 20px;
  color: #2441aa;
  font-family: math;

  text-shadow: 0px 1px 1px blue;
}


.tabelaDane {
  padding-left: 30px;
  width: 440px;


}


.uslugi {
  display: flex;
  align-items: start;
  justify-content: right;
}

.tabelaRamka {

  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px 4px 1px #b8babd;
  margin-left: 50px;
  padding-bottom: 20px;


}

.uslugiTytul {
  font-size: 29px;
  font-weight: bold;
  color: #950000;
  letter-spacing: 1px;
  font-family: math;
  text-align: left;
  text-shadow: 0px 0px 1px #8f8f8f;
}


.uslugiTable {
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: inset 0px 0px 1pc 1px rgba(226, 234, 245, 0.65);
  border: 1px solid gainsboro;
  margin-top: 20px;
  margin-bottom: 20px;

  table {
    margin: 20px;
    width: 600px;
    height: min-content;
    min-height: 200px;


    margin-right: 50px;
  }

}


