<div class="informacjaOnas" id="ONas">
  <div class="containerONas">
    <div class="dane">
      <div
        [attr.data-aos-duration]="animation_.animationTimeBannerPanels"
        data-aos="fade-left"
        data-aos-delay="50"
        data-aos-once="true">
        <app-onas-kontakt></app-onas-kontakt>
      </div>
      <div [attr.data-aos-duration]="animation_.animationTimeBannerPanels" data-aos="fade-left" data-aos-once="true">
        <app-onas-godziny-otwarcia></app-onas-godziny-otwarcia>
      </div>
      <div
        [attr.data-aos-duration]="animation_.animationTimeBannerPanels"
        data-aos="fade-left"
        data-aos-delay="50"
        data-aos-once="true">
        <app-onas-adres></app-onas-adres>
      </div>
    </div>

    <div class="panel">
      <span
        [attr.data-aos-duration]="animation_.animationTimeBannerPanels"
        class="uslugi"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-once="true">
        <app-onas-uslugi></app-onas-uslugi>
      </span>
      <div
        [attr.data-aos-duration]="animation_.animationTimeBannerPanels"
        class="podstawoweInformacje"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-once="true">
        <app-onas-dane-podstawowe></app-onas-dane-podstawowe>
      </div>
    </div>
  </div>
</div>
