<div class="informacjaOnas">
  <div class="container">
    <div class="kontakt">
      <table>
        <tr>
          <td colspan="2">Nasz kontakt:</td>
        </tr>
        <tr>
          <td>Numer telefonu</td>
          <td>+48 7 888 30 720</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>kornelia@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="GodzinyOtwarcia"></div>
    <div class="DanePodstawowe">
      <table>
        <tr>
          <td colspan="2">
            Trochę informacji o naszym zakładzie
          </td>
        </tr>
        <tr>
          <td>
            Data założenia
          </td>
          <td>
            20:06:2023
          </td>
        </tr>
        <tr>
          <td>
            Ilość pracowników
          </td>
          <td>
            20
          </td>
        </tr>
        <tr>
          <td>
            NIP
          </td>
          <td>
            2062023
          </td>
        </tr>
        <tr>
          <td>
            REGION
          </td>
          <td>
            20062023
          </td>
        </tr>
      </table>
    </div>
    <div class="Uslugi"></div>
    <div class="Adres"></div>
    <div class="Opis"></div>
  </div>
</div>
