<div class="informacjaOnas">
  <div class="container">
    <div class="kontakt">
      <table>
        <tr>
          <td colspan="2" class="informacjeOnasTytul">Nasz kontakt:</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Numer telefonu</td>
          <td class="informacjaNaglowek2"> +48 7 888 30 720</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">E-mail</td>
          <td class="informacjaNaglowek2">kornelia@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="GodzinyOtwarcia">
      <table>
        <tr>
          <td colspan="2" class="informacjeOnasTytul">
            Godziny otwarcia:
          </td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Poniedziałek -</td>
          <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Wtorek -</td>
          <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Środa -</td>
          <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Czwartek -</td>
          <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Piątek -</td>
          <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Sobota -</td>
          <td class="nieczynne"> nieczynne</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Niedziela -</td>
          <td class="nieczynne"> nieczynne</td>
        </tr>
      </table>
    </div>
    <div class="DanePodstawowe">
      <table>
        <tr>
          <td colspan="2" class="informacjeOnasTytul">
            Trochę informacji o naszym zakładzie:
          </td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">
            Data założenia:
          </td>
          <td class="informacjaNaglowek2">
            20:06:2023
          </td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">
            Ilość pracowników:
          </td>
          <td class="informacjaNaglowek2">
            20
          </td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">
            NIP:
          </td>
          <td class="informacjaNaglowek2">
            2062023
          </td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">
            REGION:
          </td>
          <td class="informacjaNaglowek2">
            20062023
          </td>
        </tr>
      </table>
    </div>
    <div class="Uslugi"></div>
    <div class="Adres">
      <table>
        <tr>
          <td class="informacjeOnasTytul">Gdzie nas znajdziesz:</td>
          <td><img style="width: 50px; height: 40px; float: left" src="assets/logoMapy.png"></td>
        </tr>
        <tr>
          <td colspan="2" class="informacjaNaglowek1">woj.Podkarpackie</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Jarosław,</td>
          <td class="informacjaNaglowek2">16</td>
        </tr>
        <tr>
          <td class="informacjaNaglowek1">Numer lokalu:</td>
          <td class="informacjaNaglowek2">43</td>
        </tr>
        <tr>
          <td class="zobaczMape">Zobacz mapę</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="Opis">

      <div class="opisDiv">
          <span class="opis">
            Zapraszamy do nas, gwarantujemy dobrą jakość! Pracujemy od 10 lat
          </span>
      </div>

    </div>
  </div>
</div>
