:host ::ng-deep app-moje-konto-zdjecie-profilowe {
  div {
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
  }
}

.imageAndSetImage {
  display: flex;
  flex-direction: column;
}

.panelZakladu {
  min-height: 100%;

  .naglowekZolty {
  }

  .mojeKonto {
    width: calc(100% - 30px);
    display: flex;
    justify-content: flex-start;
    margin: 20px 15px 20px 15px;
    @media (max-width: 700px) {
      margin: 4px;
      width: 100%;
      flex-direction: column;
    }

    form {
      flex-grow: 2;
    }

    .imageAndSetImage {
      flex-grow: 5;
      align-items: flex-end;
    }

    .informacjeTable {
      border-bottom: 1px solid #afb0b4;
      border-right: 1px solid #afb0b4;
      display: block;
      padding: 20px;
    }
  }

  .zmianaHasla {
    margin: 40px 0 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    @media (max-width: 700px) {
      justify-content: left;
      margin: 4px;
    }

    .zapytajnik {
      margin: 10px 0 10px 10px;
    }

    .zmianaHaslaTable {
      border-top: 2px dotted #afb0b4;
      border-left: 2px dotted #afb0b4;
      display: block;
      padding: 20px;
      height: 150px;
    }
  }

  .naPrzycisk {
    width: 100%;
    height: 150px;
    min-height: auto;
    position: relative;
  }
}

.wyloczone {
  filter: blur(1px);
  pointer-events: none;
  cursor: not-allowed;
}
