.hamburgerMenuDiv.open {
  top: 35px;
  transition: top 0.4s ease;

  @media (max-width: 1500px) {
    visibility: visible;
  }
}

.hamburgerMenuDiv {
  position: absolute;
  transition: top 0.9s ease, visibility 4s;
  top: -600px;
  z-index: 199;
  visibility: hidden;
  background: #a6a6a6;
  border-bottom: 2px solid green;
}
