<div class="modal-body">
  <table>
    <tr>
      <th>Dotyczy:</th>
      <td *ngIf="danePodreczne_.wlasciciel">
        <app-select-dotyczy (dotyczyChange)="dotyczy = $event" [wyswietlanieOpcjiZakladu]="true"></app-select-dotyczy>
      </td>
    </tr>
    <tr>
      <th>Data</th>
      <td>
        <input type="date" />
      </td>
    </tr>
    <tr>
      <th>Opis</th>
      <td><textarea cols="35" rows="2"></textarea></td>
    </tr>
    <tr>
      <th>Powtarzanie:</th>
      <td>
        Jednorazowe:
        <input [(ngModel)]="regularne" [value]="false" name="k" type="radio" />
        &nbsp; &nbsp; &nbsp; &nbsp; Regularne:
        <input [(ngModel)]="regularne" [value]="true" name="k" type="radio" />
      </td>
    </tr>
    <tr>
      <th>Powtarzanie:</th>
      <td>
        <input type="checkbox" />Co tydzień<br />
        <input type="checkbox" /> Co miesiąc<br />
        <input type="checkbox" /> Co rok<br />
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('anuluj')">Anuluj</button>
  <button (click)="dodaj()">Dodaj</button>
</div>
