<div class="modal-body">
  <table>
    <tr *ngIf="danePodreczne_.wlasciciel">
      <th>Dotyczy:</th>
      <td>
        <app-select-dotyczy (dotyczyChange)="dotyczy = $event" [wyswietlanieOpcjiZakladu]="true"></app-select-dotyczy>
      </td>
    </tr>
    <tr>
      <th>Data</th>
      <td>
        <input [(ngModel)]="data" type="date" />
      </td>
    </tr>
    <tr>
      <th>Opis</th>
      <td><textarea [(ngModel)]="opis" cols="35" rows="2"></textarea></td>
    </tr>
    <tr>
      <th>Powtarzanie:</th>
      <td>
        Jednorazowe:
        <input [(ngModel)]="regularne" [value]="false" name="k" type="radio" />
        &nbsp; &nbsp; &nbsp; &nbsp; Regularne:
        <input [(ngModel)]="regularne" [value]="true" name="k" type="radio" />
      </td>
    </tr>
    <tr *ngIf="regularne">
      <th>Powtarzanie:</th>
      <td>
        <input [(ngModel)]="coIle" [value]="'tydzien'" name="powtarzenieRadio" type="radio" />Co tydzień<br />
        <input [(ngModel)]="coIle" [value]="'miesiac'" name="powtarzenieRadio" type="radio" /> Co miesiąc<br />
        <input [(ngModel)]="coIle" [value]="'rok'" name="powtarzenieRadio" type="radio" /> Co rok<br />
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('anuluj')" class="domyslnyButtonAnuluj">Anuluj</button>
  <button (click)="dodaj()" class="domyslnyButtonZapisz">Dodaj</button>
</div>

