.kreska {
  width: 20px;
  height: 4px;
  background: green;
  position: absolute;
  z-index: 200;


  &:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: -4px;
    left: -8px;
  }

  &:before {
    content: "";
    display: block;
    width: 11px;
    height: 2px;
    left: 18px;
    top: 1px;
    background: green;
    position: absolute;
  }


}
