.panelZakladu {
  width: 100%;
  min-height: 100%;
  background: #fbfeff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  form {
    width: 100%;
  }

  .containerMojZaklad {
    //  margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      'tabela1 tabela1'
      'tabela2 tabela2'
      'tabela3 tabela4'
      'tabela5 tabela6';
    @media (max-width: 1200px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      //   margin-top: 11px;
    }
  }

  .tabela1 {
    grid-area: tabela1;
    display: flex;
    justify-content: center;
    padding: 10px;

    table {
      border-top: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      padding: 20px;
      display: block;
    }
  }

  .tabela2 {
    grid-area: tabela2;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;

    table {
      border-top: 2px solid #afb0b4;
      border-right: 2px solid #afb0b4;
      display: block;
      padding: 10px;

      tr:not(:first-of-type) {
        td {
          &:not(:first-of-type) {
            input {
              margin-left: 10px;
              @media (max-width: 700px) {
                margin: 0;
              }
            }

            ui-switch {
              margin-left: 20px;
              @media (max-width: 700px) {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .tabela3 {
    margin-top: 50px;
    grid-area: tabela3;
    display: flex;
    justify-content: center;
    padding: 10px;

    table {
      border-bottom: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      display: block;
      padding: 10px;
    }
  }

  .tabela4 {
    margin-left: 40px;
    margin-top: 50px;
    grid-area: tabela4;
    display: flex;
    justify-content: center;
    padding: 10px;

    table {
      border-bottom: 2px solid #afb0b4;
      border-right: 2px solid #afb0b4;
      display: block;
      padding: 10px;
      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }

  .tabela5 {
    padding-right: 10px;
  }

  .tabela6 {
    padding-left: 20px;

    table.tableBorder {
      border-top: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      padding: 10px;
      display: block;
    }

    .payMethod {
      margin-left: 9px;
    }
  }
}

.tabela1,
.tabela2,
.tabela3,
.tabela4,
.tabela5,
.tabela6 {
  @media (max-width: 1200px) {
    padding: 5px !important;
    margin-left: 0px !important;
    table {
      padding: 5px !important;
    }
  }
}

.input220 {
  width: 220px;

  @media (max-width: 1200px) {
    width: 100px;
  }
}

.kodPocztowy {
  width: 155px;
  @media (max-width: 170px) {
    width: 80px;
  }
}

.kodPocztowy2 {
  width: 172px;
  @media (max-width: 170px) {
    width: 80px;
  }
}

.telefon {
  width: 267px;
  margin-left: 2px;
  @media (max-width: 170px) {
    width: 80px;
  }
}
