<div class="panelZakladu">
  <div class="naglowekZolty">
    <span class="naglowek1Wzoltym">Uzupełnij formularz danymi o swoim zakładzie </span>
    <span class="naglowek1Wzoltym2"> * oznacza że pole jest zalecane do uzupełnienia </span>

    <span class="naglowek1Wzoltym2">
      Publiczne/prywatne - służy do określenia, jakie dane mają być wyświetlane na stronie reprezentacyjnej
    </span>
  </div>
  <form (ngSubmit)="zapisz()">
    <div class="containerMojZaklad">
      <div class="tabela1">
        <table class="daneZakladuTab">
          <tr>
            <td class="naglowki1form" colspan="2">
              Dane zakładu:
              <ui-switch
                [(ngModel)]="mojZakladKlasa.daneZakladuCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="nazwa">Nazwa*</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.nazwa"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad zaznaczoneLogiZaklad"
                id="nazwa"
                type="text" />
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="Nip">Nip</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.nip"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="Nip"
                type="text" />
            </td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.nipCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="Regon">Regon</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.regon"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="Regon"
                type="text" />
            </td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.regonCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="dataZalozenia">Data założenia</label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.dataZalozenia"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input32pxheight"
                id="dataZalozenia"
                type="date" />
            </td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.dataZalozeniayCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">Ilość pracowników</td>
            <td class="naglowki2form">{{ mojZakladKlasa.iloscPracownikow }}</td>
            <td>
              <ui-switch
                [(ngModel)]="mojZakladKlasa.iloscPracownikowCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki1form" colspan="2" style="padding-top: 40px">Adres</td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="wojewodztwo">Województwo*</label>
            </td>
            <td>
              <select
                [(ngModel)]="mojZakladKlasa.wojewodztwo"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input32pxheight"
                id="wojewodztwo">
                <option value="dolnoslaskie">Dolnośląskie</option>
                <option value="kujawsko-pomorskie">Kujawsko-pomorskie</option>
                <option value="lubelskie">Lubelskie</option>
                <option value="lubuskie">Lubuskie</option>
                <option value="lodzkie">Łódzkie</option>
                <option value="malopolskie">Małopolskie</option>
                <option value="mazowieckie">Mazowieckie</option>
                <option value="opolskie">Opolskie</option>
                <option value="podkarpackie">Podkarpackie</option>
                <option value="podlaskie">Podlaskie</option>
                <option value="pomorskie">Pomorskie</option>
                <option value="slaskie">Śląskie</option>
                <option value="swietokrzyskie">Świętokrzyskie</option>
                <option value="warminsko-mazurskie">Warmińsko-mazurskie</option>
                <option value="wielkopolskie">Wielkopolskie</option>
                <option value="zachodniopomorskie">Zachodniopomorskie</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="nazwaUlicy">Nazwa ulicy*</label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.nazwaUlicy"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="nazwaUlicy"
                type="text" />
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Numer budynku/lokalu*</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.numerDomu"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input32pxheight"
                type="text" />
              <span style="font-size: 25px"> / </span>
              <input
                [(ngModel)]="mojZakladKlasa.numerLokalu"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input32pxheight"
                type="text" />
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="kodPocztowy">Kod pocztowy</label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.kodPocztowy1"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad kodPocztowy"
                id="kodPocztowy"
                maxlength="2"
                type="text" />
              <span style="font-size: 25px"> - </span>
              <input
                [(ngModel)]="mojZakladKlasa.kodPocztowy2"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad kodPocztowy2"
                maxlength="3"
                type="text" />
            </td>
          </tr>
          <tr>
            <td class="naglowki1form" colspan="2">Uzupełnij jeśli masz zakład w mieście</td>
          </tr>

          <tr>
            <td class="naglowki2form">
              <label for="miasto">Miasto*</label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.miasto"
                [disabled]="!zapiszButton || !czyMiasto"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="miasto"
                type="text" />
              <input
                (click)="czyMiasto = true; mojZakladKlasa.powiat = ''; mojZakladKlasa.wies = ''"
                *ngIf="!czyMiasto && zapiszButton"
                type="button"
                value="Włącz" />
            </td>
          </tr>

          <tr>
            <td class="naglowki1form" colspan="2">Uzupełnij jeśli masz zakład we wsi</td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="powiat">Powiat*</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.powiat"
                [disabled]="!zapiszButton || czyMiasto"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="powiat"
                type="text" />
              <input
                (click)="czyMiasto = false; mojZakladKlasa.miasto = ''"
                *ngIf="czyMiasto && zapiszButton"
                type="button"
                value="Włącz" />
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="wies">Wieś*</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.wies"
                [disabled]="!zapiszButton || czyMiasto"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="wies"
                type="text" />
            </td>
          </tr>
        </table>
      </div>
      <div class="tabela2">
        <table class="godzinyOtwarciaTab">
          <tr>
            <td class="naglowki1form" colspan="3">
              Ustaw godziny otwarcia i zamknięcia w robocze dni

              <span class="unchecked">
                <ui-switch
                  [(ngModel)]="mojZakladKlasa.godzinyCzyWyswietlic"
                  [disabled]="!zapiszButton"
                  [ngModelOptions]="{ standalone: true }"
                  checkedLabel="Publiczne"
                  class="przelacznikPublicznePrywatne"
                  uncheckedLabel="Prywatne"></ui-switch>
              </span>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Niedziela</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.niedziela.otwarcie"
                [disabled]="!mojZakladKlasa.niedziela.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.niedziela.zamkniecie"
                [disabled]="!mojZakladKlasa.niedziela.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.niedziela.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Poniedziałek</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.poniedzialek.otwarcie"
                [disabled]="!mojZakladKlasa.poniedzialek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.poniedzialek.zamkniecie"
                [disabled]="!mojZakladKlasa.poniedzialek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.poniedzialek.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Wtorek</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.wtorek.otwarcie"
                [disabled]="!mojZakladKlasa.wtorek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.wtorek.zamkniecie"
                [disabled]="!mojZakladKlasa.wtorek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.wtorek.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Środa</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.sroda.otwarcie"
                [disabled]="!mojZakladKlasa.sroda.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.sroda.zamkniecie"
                [disabled]="!mojZakladKlasa.sroda.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.sroda.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Czwartek</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.czwartek.otwarcie"
                [disabled]="!mojZakladKlasa.czwartek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.czwartek.zamkniecie"
                [disabled]="!mojZakladKlasa.czwartek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.czwartek.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Piątek</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.piatek.otwarcie"
                [disabled]="!mojZakladKlasa.piatek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.piatek.zamkniecie"
                [disabled]="!mojZakladKlasa.piatek.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.piatek.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label>Sobota</label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.sobota.otwarcie"
                [disabled]="!mojZakladKlasa.sobota.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Otwarcie"
                type="time" />
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.sobota.zamkniecie"
                [disabled]="!mojZakladKlasa.sobota.czynnyDzien || !zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad logInputZaklad_czas"
                placeholder="Zamknięcie"
                type="time" />
              <ui-switch
                [(ngModel)]="mojZakladKlasa.sobota.czynnyDzien"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Czynne"
                class="przelacznikCzynneNieczynne"
                uncheckedLabel="Nieczynne"></ui-switch>
            </td>
          </tr>
        </table>
      </div>
      <div class="tabela3">
        <table class="SkontaktujSieZnamiTab">
          <tr>
            <td class="naglowki1form" colspan="3">
              Podstawowy kontakt z zakładem:
              <ui-switch
                [(ngModel)]="mojZakladKlasa.naszKontaktCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form"><label for="email">E-mail </label></td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.email"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                id="email"
                type="text" />
            </td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.emailCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="numerTelefonu"> Numer telefonu </label>
            </td>
            <td>
              <select
                [(ngModel)]="mojZakladKlasa.prefiksTelefonu"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad"
                style="width: 80px">
                <option>+48</option>
                <option>+380</option>
              </select>
              <input
                [(ngModel)]="mojZakladKlasa.numerTelefonu"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad telefon"
                id="numerTelefonu"
                maxlength="9"
                type="text" />
            </td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.telefonCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
        </table>
      </div>
      <div class="tabela4">
        <table class="ustawieniaMapyTab">
          <tr>
            <td class="naglowki1form">Ustawienia mapy:</td>
            <td class="unchecked">
              <ui-switch
                [(ngModel)]="mojZakladKlasa.mapaCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="wysokosc"> Wysokość geograficzna </label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.wysokosc"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input220"
                id="wysokosc"
                type="text" />
            </td>
          </tr>
          <tr>
            <td class="naglowki2form">
              <label for="Szerokosc"> Szerokość geograficzna </label>
            </td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.szerokosc"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input220"
                id="Szerokosc"
                type="text" />
            </td>
          </tr>
        </table>
      </div>
      <div class="tabela5">
        <app-pracownicy-moj-zaklad [czyWidoczne]="zapiszButton"></app-pracownicy-moj-zaklad>
      </div>
      <div class="tabela6">
        <table>
          <tr>
            <td class="naglowki2form">
              <label for="opis"> Cennik usług</label>
            </td>
            <td></td>
            <td>
              <ui-switch
                [(ngModel)]="mojZakladKlasa.uslugiCzyWyswietlic"
                [disabled]="!zapiszButton"
                [ngModelOptions]="{ standalone: true }"
                checkedLabel="Publiczne"
                class="unchecked"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="Prywatne"></ui-switch>
            </td>
          </tr>
          <tr>
            <th>Możliwość płątności kartą</th>
            <td></td>
            <td>
              <ui-switch
                [disabled]="!zapiszButton"
                checkedLabel="tak"
                class="unchecked"
                class="przelacznikPublicznePrywatne"
                uncheckedLabel="nie"></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Identyfikator</td>
            <td>
              <input
                [(ngModel)]="mojZakladKlasa.identyfikator"
                [disabled]="!zapiszButton || !zmienIdentyfikator"
                [ngModelOptions]="{ standalone: true }"
                class="logInputZaklad input220"
                type="text" />
            </td>
            <td>
              <button
                (click)="zmienIdentyfikatorFun()"
                [disabled]="!(!zmienIdentyfikator && zapiszButton)"
                type="button">
                Odblokuj
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="divNaPrzycisk">
      <button
        (click)="zapisz()"
        *ngIf="zapiszButton == true"
        [disabled]="zablokowanyPrzycisk"
        class="zmodyfikujZapiszButton"
        type="submit">
        Zapisz
      </button>
      <button (click)="zmodyfikujFunkcja()" *ngIf="zmodyfikuj == true" class="zmodyfikujZapiszButton">
        Zmodyfikuj
      </button>
    </div>
  </form>
</div>
