.panelZakladu {
  width: 100%;
  min-height: 100%;
  background: #fbfeff;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

  .container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
    "tabela1 tabela1"
    "tabela2 tabela2"
    "tabela3 tabela4"
    "tabela5 tabela6";
  }


  .tabela1 {
    grid-area: tabela1;
    display: flex;
    justify-content: center;
    padding: 20px;

    table {
      border-top: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      padding: 20px;
      display: block;
    }
  }


  .tabela2 {
    grid-area: tabela2;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;

    table {
      border-top: 2px solid #afb0b4;
      border-right: 2px solid #afb0b4;
      display: block;
      padding: 20px;

      tr:Not(:first-of-type) {
        td {
          &:Not(:first-of-type) {
            input {
              margin-left: 20px;
            }

            ui-switch {
              margin-left: 30px
            }
          }
        }
      }
    }

  }

  .tabela3 {
    margin-top: 50px;
    grid-area: tabela3;
    display: flex;
    justify-content: center;
    padding: 20px;

    table {
      border-bottom: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      display: block;
      padding: 20px;
    }
  }

  .tabela4 {
    margin-left: 40px;
    margin-top: 50px;
    grid-area: tabela4;
    display: flex;
    justify-content: center;
    padding: 20px;

    table {
      border-bottom: 2px solid #afb0b4;
      border-right: 2px solid #afb0b4;
      display: block;
      padding: 20px;

    }

  }

  .tabela5 {
    padding-right: 20px;
  }

  .tabela6 {
    padding-left: 30px;

    table {
      border-top: 2px solid #afb0b4;
      border-left: 2px solid #afb0b4;
      padding: 20px;
      display: block;
    }
  }
}

.input220 {
  width: 220px;
}
