<div class="wyszukiwarka">
  <div class="title">
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf="search" class="wyszukiwarkaTD">
    <fa-icon icon="magnifying-glass"></fa-icon>
    <input (keyup)="onSearchChange($event)" placeholder="Wyszukiwarka (wartość wartość2 itd.)" />
  </div>
</div>
<table #tablica [ngClass]="{ tablicaLoading: loading }" class="tablicaBetter">
  <thead>
    <tr>
      <ng-container *ngTemplateOutlet="thead"></ng-container>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngIf="async; else asyncFalse">
      <tr #header *ngFor="let obj of data | slice : 0 : pageSize; let index = index">
        <ng-container *ngTemplateOutlet="tbody; context: { $implicit: obj, index: indexCount(index) }"></ng-container>
      </tr>
      <tr *ngFor="let k of [].constructor(emptyRowCalc())">
        <td *ngFor="let k2 of [].constructor(tablica.rows[1].cells.length)">&nbsp;</td>
      </tr>
    </ng-container>
    <ng-template #asyncFalse>
      <!-- brak asynchronicznosci  -->

      <ng-container *ngFor="let obj of data | slice : (page - 1) * pageSize : page * pageSize; let index = index">
        <tr #header>
          <ng-container *ngTemplateOutlet="tbody; context: { $implicit: obj, index: index + 1 }"></ng-container>
        </tr>
        <ng-container *ngIf="obj[subTableOpenVariable]">
          <tr>
            <td [attr.colspan]="tablica.rows[0].cells.length + 1">
              <table class="subTable">
                <thead>
                  <tr class="PodTabelaNaglowek">
                    <ng-container *ngTemplateOutlet="subTableHead"></ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subObj of obj.probyPlatnosci; let Subindex = index" class="PodTabelaTr">
                    <ng-container
                      *ngTemplateOutlet="
                        subTableBody;
                        context: { $implicit: subObj, index: indexCount(Subindex) }
                      "></ng-container>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
      </ng-container>

      <tr *ngFor="let k of [].constructor(emptyRowCalcNoAsync())">
        <td *ngFor="let k2 of [].constructor(tablica.rows[0].cells.length)"></td>
      </tr>
    </ng-template>
  </tbody>

  <tfoot>
    <ng-container *ngTemplateOutlet="tfoot"></ng-container>
  </tfoot>
</table>
<div #pag *ngIf="paggiantion" class="paggination">
  <div class="group1">
    <ngb-pagination
      (pageChange)="saveChange()"
      [(page)]="page"
      [boundaryLinks]="true"
      [collectionSize]="collectionSize"
      [maxSize]="pag.clientWidth > 600 ? 8 : 3"
      [pageSize]="pageSize"
      [rotate]="true"
      [size]="pag.clientWidth > 2000 ? 'auto' : 'sm'"></ngb-pagination>
    <select (change)="saveChange()" [(ngModel)]="pageSize">
      <option *ngFor="let k of [5, 10, 15, 20]">{{ k }}</option>
    </select>
  </div>
  <span class="tekst">Wyświetlono {{ page }} z {{ pageCount() }} stron. </span>
</div>
