<app-table
  [async]="false"
  [collectionSize]="klient.wizyty.length"
  [data]="klient.wizyty"
  [displaySum]="true"
  [search]="false"
  [subTableOpenVariable]="'uslugiTabela'"
  [subTableVariable]="'uslugiArray'"
  [title]="'Wizyty u pracownika: (' + employee + ')'">
  <ng-template TemplateId="thead">
    <th class="NotInMobile">Nr.</th>
    <th>Data</th>
    <th>Utworzenie</th>
    <th>Wykonanie</th>
    <th>Kwota</th>
    <th>Zarządzanie</th>
  </ng-template>

  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td class="NotInMobile">{{ index }}</td>
    <td>{{ obj.poczatek | date: 'dd.MM.yyyy      hh:mm/' }}{{ obj.koniec | date: 'hh:mm' }}</td>

    <td>
      <ng-container *ngIf="obj.tryb == 'reklamowa'">Strona reklamowa</ng-container>
      <ng-container *ngIf="obj.tryb != 'reklamowa'">Ręczne</ng-container>
    </td>
    <td>
      <app-completed-visit-status [visit]="obj"></app-completed-visit-status>
    </td>
    <td>{{ obj.cena }}zł</td>

    <td>
      <button (click)="wyswietlDaneDodatkowe(obj)" *ngIf="obj.tryb !== 'manual'" class="domyslnyButton3">Usługi</button>
      <button (click)="wyswietlDaneDodatkowe(obj)" *ngIf="obj.tryb == 'manual'" class="domyslnyButton3">Opis</button>

      <button class="domyslnyButtonUsun">Usuń</button>
    </td>
  </ng-template>
  <ng-template TemplateId="subTableBody" let-index="index" let-obj>
    <td colspan="4">
      <div *ngIf="obj.nazwa; else opis" class="uslugaWWizycie">
        <span class="hash">#{{ index }}</span
        >{{ obj.nazwa }} - {{ obj.cena }}zł
      </div>
      <ng-template #opis><b>Opis usługi:</b> {{ obj }}</ng-template>
    </td>
  </ng-template>
</app-table>
