.termin {
  height: 148px;
  top: 0px;
  background: rgba(187, 206, 255, 0.63);
  position: absolute;
  z-index: 100;
  box-shadow: 0px 0px 1px 1px #92ad92;
  box-sizing: border-box;
  padding-left: 5px;
  border-right: 3px solid rgba(78, 78, 78, 0.75);
  //border-bottom: 2px solid #8edaff;
  //border-top: 2px solid #8edaff;
  &.even {
    background: rgba(187, 237, 255, 0.63);
  }

  b {
    position: absolute;
    display: block;
    transform: rotate(90deg);
    top: 8px;
    left: 5px;
  }

  .slash {
    background: red;
  }
}

span {
  margin-left: 1px;
  margin-right: 1px;
  font-family: math;
  font-size: 14px;
  line-height: 31px;
  text-shadow: 0px 0px 1px black;
  position: relative;
  top: 0px;
}
