<div
  #termin
  [animation]="true"
  [ngClass]="{ even: id % 2 == 1 }"
  [ngStyle]="{ left: przesuniecieWPrawo + 'px', width: szerokosc + 'px' }"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  class="termin"
  container="body"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  placement="auto"
  popoverTitle="Popover on top"
  triggers="mouseenter:mouseleave">
  <ng-container *ngIf="termin.clientWidth >= 27">
    <span> {{ wizyta.poczatek | date : 'HH' }} <b>:</b></span> <br />
    <span> {{ wizyta.poczatek | date : 'mm' }} <b>/</b></span> <br />
    <span> {{ wizyta.koniec | date : 'HH' }} <b>:</b></span> <br />
    <span> {{ wizyta.koniec | date : 'mm' }} </span>
  </ng-container>
  <app-confirm-visit-button
    (updateComplete)="harmonogram_.pobierzWizytyDzis()"
    *ngIf="termin.clientWidth > 39"
    [visit]="wizyta"></app-confirm-visit-button>
</div>

<ng-template #popTitle>
  <div style="width: 240px">
    Wizyta <b>{{ wizyta.poczatek | date : 'HH:mm' }} {{ wizyta.koniec | date : 'HH:mm' }} </b>
  </div>
</ng-template>
<ng-template #popContent>
  <table>
    <tr>
      <td>Klient:</td>
      <td>
        {{ wizyta.customer.firstName + ' ' + wizyta.customer.lastName }}
      </td>
    </tr>
    <tr *ngIf="wizyta.customer.email.length > 0">
      <td>Email:</td>
      <td>
        {{ wizyta.customer.email }}
      </td>
    </tr>
    <tr>
      <td>Telefon:</td>
      <td>
        {{ wizyta.customer.phone }}
      </td>
    </tr>
  </table>
</ng-template>
