:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep {
  app-ngx-editor {
    background: red;
  }
}

.panelZakladu {
  display: flex;
  flex-grow: 999;
  flex-direction: column;
}

.formContainer {
  flex-grow: 1;
  padding: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settingsSubTitle {
  padding: 5px;
  color: #646464;
}
