<div class="naglowekZolty">
  <span class="naglowek1Wzoltym">Ustawiania strony reprezentacyjnej</span>
</div>

<div class="panelZakladu">
  <div class="left">
    <div class="registerPageMenu">
      <a *ngFor="let x of ['Ustawienia ogólne',2,3,4,5,'Stopka']">
        {{x}}
      </a>
    </div>
    <router-outlet />
    <app-strona-reprezentacyjna-ustawienia (odswiez)="OdswiezPodglad()"></app-strona-reprezentacyjna-ustawienia>
  </div>
  <div class="right">
    <h3>Podgląd strony reklamowej:</h3>
    <div class="iframe-container">
      <iframe *ngIf="linkDoPodlgadu.length > 6" [src]="bezpiecznyLink" frameborder="0"></iframe>
    </div>
  </div>
</div>
