.logInput {
  width: 280px;
  height: 25px;
  font-size: 18px;
  border: 2px inset #2491f9;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.czerwonyInput {
  border: 2px inset #d30505 !important;
}
