<div class="naglowek">
  <p>
    <span>Dokonaj weryfikację aby się zapisać na wizytę </span> <br/>
    <span> Na twój adres e-mail został wysłany kod, wpisz go poniżej:</span>
  </p>
</div>
<form>
  <table>
    <tr>
      <td>
        <input
          [ngClass]="{
            czerwonyInput:
              ZarejestrujSieService.DaneKlientaClass.niepoprawnyKod ||
              ZarejestrujSieService.DaneKlientaClass.kodWeryfikacjaPusty
          }"
          class="logInput"
          placeholder="Kod"
          [(ngModel)]="ZarejestrujSieService.DaneKlientaClass.kodWeryfikacja"
          [ngModelOptions]="{ standalone: true }"
        />
      </td>
    </tr>
  </table>
  <div class="divNaPrzycisk">
    <span class="czerwone" *ngIf="kodNieWpisany == true">Wpisz kod, aby przejść dalej</span>
    <span class="czerwone" *ngIf="ZarejestrujSieService.DaneKlientaClass.niepoprawnyKod == true">Wpisany kod niepoprawny, spróbuj jeszcze raz</span>
    <button class="buttonDalej" (click)="przejdzDalej()">Dalej</button>
  </div>
</form>
