<div class="uslugiTable">
  <table>
    <tr>
      <td class="informacjeOnasTytul" colspan="2">
        Trochę informacji o naszym zakładzie
        <fa-icon [icon]="faIcons.info" class="iconkaPodstawowe"></fa-icon>
      </td>

    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.establishmentDate">
      <td class="informacjaNaglowek1">Data założenia:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.dataZalozenia }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.numberOfEmployees">
      <td class="informacjaNaglowek1">Ilość pracowników:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.iloscPracownikow }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.nip">
      <td class="informacjaNaglowek1">NIP:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.NIP }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.regon">
      <td class="informacjaNaglowek1">REGON:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.REGON }}
      </td>
    </tr>
  </table>

</div>
