<div class="uslugiTable">
  <table>
    <tr>
      <td colspan="2" class="informacjeOnasTytul">
        Trochę informacji o naszym zakładzie
        <fa-icon class="iconkaPodstawowe" [icon]="faIcons.info"></fa-icon>
      </td>

    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.dataZalozeniayCzyWyswietlic">
      <td class="informacjaNaglowek1">Data założenia:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.dataZalozenia }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.iloscPracownikowCzyWyswietlic">
      <td class="informacjaNaglowek1">Ilość pracowników:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.iloscPracownikow }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.nipCzyWyswietlic">
      <td class="informacjaNaglowek1">NIP:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.NIP }}
      </td>
    </tr>
    <tr *ngIf="DanePodstawowe_.danePodstawowe.wyswietlaneDane.regonCzyWyswietlic">
      <td class="informacjaNaglowek1">REGON:</td>
      <td class="informacjaNaglowek2">
        {{ DanePodstawowe_.danePodstawowe.REGON }}
      </td>
    </tr>
  </table>

</div>
