<form>
  <div class="modal-header">
    <h4 *ngIf="tryb == 'dodawanie'" class="modal-title">Dodawanie pracownika</h4>
    <h4 *ngIf="tryb == 'modyfikacja'" class="modal-title">Modyfikacja danych</h4>
    <h4 *ngIf="tryb == 'wyswietlenie'" class="modal-title">Informacje o pracowniku</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td class="naglowki1form" colspan="2">Dane pracownika</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="imie">Imię:*</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.imie"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="imie"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.imie }}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="nazwisko">Nazwisko:*</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.nazwisko"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="nazwisko"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.nazwisko }}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="adresEmail">Adres e-mail:*</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adresEmail"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="adresEmail"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.adresEmail }}</td>
      </tr>
      <tr>
        <td>
          <label class="naglowki2form" for="nrTelefonu">Numer telefonu:</label>
        </td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <select
            (click)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.prefiksTelefonu"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            style="width: 80px; height: 32px; background: #e3e2e2; position: relative; bottom: -1px">
            <option>+48</option>
            <option>+380</option>
          </select>
          <input
            [(ngModel)]="pracownikObj.numerTelefonu"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="nrTelefonu"
            maxlength="9"
            style="width: 170px; margin: 2px"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">
          {{ pracownikObj.prefiksTelefonu }}
          {{ pracownikObj.numerTelefonu }}
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="naglowki1form" colspan="2">Adres zamieszkania</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="wojewodztwo"> Województwo: </label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <select
            (click)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.wojewodztwo"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="wojewodztwo">
            <option value="dolnoslaskie">Dolnośląskie</option>
            <option value="kujawsko-pomorskie">Kujawsko-pomorskie</option>
            <option value="lubelskie">Lubelskie</option>
            <option value="lubuskie">Lubuskie</option>
            <option value="lodzkie">Łódzkie</option>
            <option value="malopolskie">Małopolskie</option>
            <option value="mazowieckie">Mazowieckie</option>
            <option value="opolskie">Opolskie</option>
            <option value="podkarpackie">Podkarpackie</option>
            <option value="podlaskie">Podlaskie</option>
            <option value="pomorskie">Pomorskie</option>
            <option value="slaskie">Śląskie</option>
            <option value="swietokrzyskie">Świętokrzyskie</option>
            <option value="warminsko-mazurskie">Warmińsko-mazurskie</option>
            <option value="wielkopolskie">Wielkopolskie</option>
            <option value="zachodniopomorskie">Zachodniopomorskie</option>
          </select>
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.adres.wojewodztwo }}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="miasto">Miasto:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.miasto"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="miasto"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.adres.miasto }}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form" for="ulica">Ulica:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.ulica"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            id="ulica"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">{{ pracownikObj.adres.ulica }}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form">Numer domu/lokalu:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.nrDomu"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            style="width: 100px"
            type="text" />

          <span style="font-size: 25px">&nbsp;/&nbsp;</span>
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.nrLokalu"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            style="width: 100px"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">
          {{ pracownikObj.adres.nrDomu }}
          <span *ngIf="pracownikObj.adres.nrLokalu.toString().length > 0" style="font-size: 25px">&nbsp;/&nbsp;</span>
          {{ pracownikObj.adres.nrLokalu }}
        </td>
      </tr>
      <tr>
        <td><label class="naglowki2form">Kod pocztowy:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.kodPocztowy1"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            maxlength="2"
            style="width: 80px"
            type="text" />
          <span style="font-size: 25px">&nbsp;-&nbsp;</span>
          <input
            (keydown)="iloscKlikniec = 0"
            [(ngModel)]="pracownikObj.adres.kodPocztowy2"
            [ngModelOptions]="{ standalone: true }"
            class="logInputZaklad"
            maxlength="3"
            style="width: 100px"
            type="text" />
        </td>
        <td *ngIf="tryb == 'wyswietlenie'" class="wyswietlanieDanych">
          {{ pracownikObj.adres.kodPocztowy1 }}
          <span style="font-size: 25px">&nbsp;-&nbsp;</span>
          {{ pracownikObj.adres.kodPocztowy2 }}
        </td>
      </tr>
    </table>

    <app-moje-konto-zdjecie-profilowe
      [idUzytkownika]="idUzytkownika"
      [modyfikacja]="tryb != 'wyswietlenie'"
      [width]="200"
      [wlasne]="false">
    </app-moje-konto-zdjecie-profilowe>
  </div>
  <div *ngIf="tryb != 'wyswietlenie'" class="modal-footer">
    <span
      *ngIf="!pracownikObj.czyWszystkoWpisane && iloscKlikniec == 1"
      class="czerwoneKomunikatyZaklad"
      style="padding-right: 180px"
    >Nie uzupełnione wszystkie pola! Czy na pewno chcesz zapisać dane?
    </span>
    <span
      *ngIf="iloscKlikniec == 1 && tryb == 'modyfikacja'"
      class="czerwoneKomunikatyZaklad"
      style="padding-right: 180px"
    >Czy na pewno chcesz zmodyfikować dane?
    </span>
    <button
      (click)="zapisz()"
      *ngIf="tryb == 'dodawanie'"
      [disabled]="blokowaniePrzycisku"
      class="zmodyfikujZapiszButton"
      type="submit">
      Zapisz
    </button>
    <button
      (click)="zmodyfikuj()"
      *ngIf="tryb == 'modyfikacja'"
      [disabled]="blokowaniePrzycisku"
      class="zmodyfikujZapiszButton"
      type="submit">
      Zmodyfikuj
    </button>
  </div>
</form>
