<form>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="tryb == 'dodawanie'">Dodawanie pracownika</h4>
    <h4 class="modal-title" *ngIf="tryb == 'modyfikacja'">Modyfikacja danych</h4>
    <h4 class="modal-title" *ngIf="tryb == 'wyswietlenie'">Informacje o pracowniku</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <table>
      <tr>
        <td class="naglowki1form" colspan="2">Dane pracownika</td>
      </tr>
      <tr>
        <td><label for="imie" class="naglowki2form">Imię:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input id="imie" type="text" class="logInputZaklad"
                                                  [(ngModel)]="pracownikObj.imie"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}">
        </td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.imie}}</td>
      </tr>
      <tr>
        <td><label for="nazwisko" class="naglowki2form">Nazwisko:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input id="nazwisko" type="text" class="logInputZaklad"
                                                  [(ngModel)]="pracownikObj.nazwisko"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}"></td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.nazwisko}}</td>
      </tr>
      <tr>
        <td><label for="adresEmail" class="naglowki2form">Adres e-mail:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input id="adresEmail" type="text" class="logInputZaklad"
                                                  [(ngModel)]="pracownikObj.adresEmail"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}"></td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.adresEmail}}</td>
      </tr>
      <tr>
        <td>
          <label for="nrTelefonu" class="naglowki2form">Numer telefonu:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <select class="logInputZaklad"
                  style="width: 80px; height: 32px; background: #e3e2e2;position: relative;bottom: -1px"
                  (click)="iloscKlikniec = 0"
                  [(ngModel)]="pracownikObj.prefiksTelefonu"
                  [ngModelOptions]="{standalone: true}">
            <option>+48</option>
            <option>+380</option>
          </select>
          <input style="width: 170px; margin: 2px" id="nrTelefonu" type="text" maxlength="9" class="logInputZaklad"
                 [(ngModel)]="pracownikObj.numerTelefonu"
                 [ngModelOptions]="{standalone: true}">
        </td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'">
          {{pracownikObj.prefiksTelefonu}}
          {{pracownikObj.numerTelefonu}}
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="2" class="naglowki1form">Adres zamieszkania</td>
      </tr>
      <tr>
        <td><label for="wojewodztwo" class="naglowki2form">
          Województwo:
        </label>

        </td>
        <td *ngIf="tryb != 'wyswietlenie'">
          <select class="logInputZaklad" id="wojewodztwo" [(ngModel)]="pracownikObj.adres.wojewodztwo"
                  (click)="iloscKlikniec = 0"
                  [ngModelOptions]="{standalone: true}">
            <option value="dolnoslaskie">Dolnośląskie</option>
            <option value="kujawsko-pomorskie">Kujawsko-pomorskie</option>
            <option value="lubelskie">Lubelskie</option>
            <option value="lubuskie">Lubuskie</option>
            <option value="lodzkie">Łódzkie</option>
            <option value="malopolskie">Małopolskie</option>
            <option value="mazowieckie">Mazowieckie</option>
            <option value="opolskie">Opolskie</option>
            <option value="podkarpackie">Podkarpackie</option>
            <option value="podlaskie">Podlaskie</option>
            <option value="pomorskie">Pomorskie</option>
            <option value="slaskie">Śląskie</option>
            <option value="swietokrzyskie">Świętokrzyskie</option>
            <option value="warminsko-mazurskie">Warmińsko-mazurskie</option>
            <option value="wielkopolskie">Wielkopolskie</option>
            <option value="zachodniopomorskie">Zachodniopomorskie</option>
          </select>
        </td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'">{{pracownikObj.adres.wojewodztwo}}</td>
      </tr>
      <tr>
        <td><label for="miasto" class="naglowki2form">Miasto:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input id="miasto" type="text" class="logInputZaklad"
                                                  [(ngModel)]="pracownikObj.adres.miasto"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}"></td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.adres.miasto}}</td>
      </tr>
      <tr>
        <td><label for="ulica" class="naglowki2form">Ulica:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input id="ulica" type="text" class="logInputZaklad"
                                                  [(ngModel)]="pracownikObj.adres.ulica"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}"></td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.adres.ulica}}</td>
      </tr>
      <tr>
        <td><label class="naglowki2form">Numer domu/lokalu:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input type="text" class="logInputZaklad" style="width: 100px"
                                                  [(ngModel)]="pracownikObj.adres.nrDomu"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [ngModelOptions]="{standalone: true}">

          <span
            style="font-size: 25px;">&nbsp;/&nbsp;</span>
          <input type="text" class="logInputZaklad" style="width: 100px" [(ngModel)]="pracownikObj.adres.nrLokalu"
                 (keydown)="iloscKlikniec = 0"
                 [ngModelOptions]="{standalone: true}"></td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'"> {{pracownikObj.adres.nrDomu}}
          <span
            style="font-size: 25px;">&nbsp;/&nbsp;</span>  {{pracownikObj.adres.nrLokalu}}  </td>
      </tr>
      <tr>
        <td><label class="naglowki2form">Kod pocztowy:</label></td>
        <td *ngIf="tryb != 'wyswietlenie'"><input type="text" class="logInputZaklad" style="width: 80px" maxlength="2"
                                                  (keydown)="iloscKlikniec = 0"
                                                  [(ngModel)]="pracownikObj.adres.kodPocztowy1"
                                                  [ngModelOptions]="{standalone: true}">
          <span
            style="font-size: 25px;">&nbsp;-&nbsp;</span>
          <input type="text" class="logInputZaklad" style="width: 100px" maxlength="3" (keydown)="iloscKlikniec = 0"
                 [(ngModel)]="pracownikObj.adres.kodPocztowy2"
                 [ngModelOptions]="{standalone: true}">
        </td>
        <td class="wyswietlanieDanych" *ngIf="tryb == 'wyswietlenie'">
          {{pracownikObj.adres.kodPocztowy1}}
          <span
            style="font-size: 25px;">&nbsp;-&nbsp;</span>
          {{pracownikObj.adres.kodPocztowy2}}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <span style="padding-right: 180px " *ngIf="!pracownikObj.czyWszystkoWpisane && iloscKlikniec == 1"
          class="czerwoneKomunikatyZaklad">Nie uzupełnione wszystkie pola! Czy na pewno chcesz zapisać dane? </span>
    <span style="padding-right: 180px " *ngIf="iloscKlikniec == 1"
          class="czerwoneKomunikatyZaklad">Czy na pewno chcesz zmodyfikować dane? </span>
    <button *ngIf="tryb == 'dodawanie'" type="submit" class="zmodyfikujZapiszButton" (click)="zapisz()">Zapisz</button>
    <button *ngIf="tryb == 'modyfikacja'" type="submit" class="zmodyfikujZapiszButton" (click)="zmodyfikuj()">
      Zmodyfikuj
    </button>
  </div>

</form>


