.modal-body {

  display: flex;
  justify-content: space-between;
}

.buttonZapiszZmodyfikuj {
  width: 70px;
  height: 70px;
  font-size: 13px;
}

.naglowki1form {

}

.naglowki2form {

}

.modal-footer {

  position: relative;
  height: 100px;
}

.wyswietlanieDanych {
  padding-left: 20px;
  padding-right: 30px;
  min-width: 300px;
}
