<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Odwołanie wizyty:</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    Czy na pewno chcesz odwołać wizytę ?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('nie')">Anuluj</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('tak')">Potwierdź</button>
</div>
