<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Odwołanie wizyty:</h4>
  <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
</div>
<div class="modal-body">Czy na pewno chcesz odwołać wizytę ?</div>
<div class="modal-footer">
  <button (click)="modal.dismiss('nie')" class="domyslnyButton3" type="button">Anuluj</button>
  <button (click)="modal.close('tak')" class="domyslnyButton2" type="button">Potwierdź</button>
</div>
