<div class="panel">
  <div class="mainPanel">
    <h4>Podsumowanie zakładu</h4>
    <div class="dane">
      <table>
        <tr>
          <th>Wizyty dziś</th>
          <td>{{ dane.wizytyDzis?.odbyte }} na {{ dane.wizytyDzis?.suma }}</td>
        </tr>
        <tr>
          <th>Dochód dziś</th>
          <td>
            <span class="kwota">{{ dane.dochodDzis | kwota }}zł</span>
          </td>
        </tr>
        <tr>
          <th>Wizyty w tym tygodniu</th>
          <td>{{ dane.wizytyWTygodniu?.odbyte }} na {{ dane.wizytyWTygodniu?.suma }}</td>
        </tr>
        <tr>
          <th>Dochód w tym tygodniu</th>
          <td>
            <span class="kwota">{{ dane.dochodWTygodniu | kwota }}zł</span>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th>Wizyty wczoraj</th>
          <td>{{ dane.wizytyWczoraj }}</td>
        </tr>
        <tr>
          <th>Dochód wczoraj</th>
          <td>
            <span class="kwota">{{ dane.dochodWczoraj | kwota }}zł</span>
          </td>
        </tr>
        <tr>
          <th>Wizyty w tygodniu poprzednim</th>
          <td>
            {{ dane.wizytyWTygodniuPoprzednim }}
          </td>
        </tr>
        <tr>
          <th>Dochód w tygodniu poprzednim</th>
          <td>
            <span class="kwota">{{ dane.dochodWTygodniuPoprzednim | kwota }}zł</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="dane2">
      <table>
        <tr>
          <th>Wizyty w tym miesiącu</th>
          <td>
            {{ sumaWMiesiacu() }} <span class="kwota">({{ sumaWMiesiacuKwota() | kwota }}zł)</span>
          </td>
        </tr>
        <tr>
          <th>Wizyty w poprzednim miesiącu</th>
          <td>
            {{ sumaWMiesiacuPoprzednim() }} <span class="kwota">({{ sumaWMiesiacuPoprzednimKwota() | kwota }}zł)</span>
          </td>
        </tr>
        <tr>
          <th>Suma wizyt</th>
          <td>
            {{ dane.sumaWizyt }} <span class="kwota">({{ dane.sumaWizytKwota | kwota }}zł)</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
