<div class="imieNazwisko">
  <h2>{{ daneOPracowniku.imie }} {{ daneOPracowniku.nazwisko }}</h2>
</div>
<div class="kontakt">
  <table>
    <tr>
      <td colspan="2" class="naglowek">
        Skontaktuj się ze mną jeśli masz jakieś pytania:
      </td>
    </tr>
    <tr>
      <td class="naglowek2">Numer telefonu:</td>
      <td class="naglowek3">+48 7 888 30 720</td>
      <td rowspan="2">
        <button class="napiszDoMnieButton" (click)="wybierz()">
          Napisz do mnie
        </button>
      </td>
    </tr>
    <tr>
      <td class="naglowek2">E-mail:</td>
      <td class="naglowek3">janusz@gmail.com</td>
    </tr>
  </table>
</div>
