<div class="imieNazwisko">
  <h2>{{ daneOPracowniku.imie }} {{ daneOPracowniku.nazwisko }}</h2>
</div>
<div class="kontakt">
  <table>
    <tr>
      <td class="naglowek" colspan="3">Skontaktuj się ze mną jeśli masz jakieś pytania:</td>
    </tr>
    <tr>
      <td class="naglowek2" style="width: 205px">Numer telefonu:</td>
      <td class="naglowek3">{{ daneOPracowniku.numerTelefonu }}</td>
      <td rowspan="2">
        <button (click)="wybierz()" class="napiszDoMnieButton napiszDoMnieButton1">Napisz do mnie</button>
      </td>
    </tr>
    <tr>
      <td class="naglowek2" style="width: 205px">E-mail:</td>
      <td class="naglowek3">{{ daneOPracowniku.email }}</td>
    </tr>
  </table>
  <div class="napiszDoMnieButton2">
    <button (click)="wybierz()" class="napiszDoMnieButton">Napisz do mnie</button>
  </div>
</div>
