.naglowek {
  font-family: math;
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #b40c00;
  letter-spacing: 1px;
  text-shadow: 0px 1px 2px black;
  background: #fcfcfc;
}

.naglowek2 {
  width: min-content;
  font-size: 23px;
  font-weight: bold;
  color: #03208a;
  font-family: math;
  text-shadow: 0px 1px 2px #95b5ee;
}

.naglowek3 {
  font-size: 20px;
  color: #2441aa;
  font-family: math;
  text-shadow: 0px 1px 1px blue;
}

.imieNazwisko {
  width: 800px;
  height: 50px;

  float: left;

  @media (max-width: 800px) {
    width: 95vw;
  }

  h2 {
    text-align: center;
    width: 100%;
    font-size: 28px;
    color: #0404b4;
    font-family: math;
    text-shadow: 0px 0px 1px black;
    letter-spacing: 1px;
    margin: 0;
  }
}

.kontakt {
  width: 800px;
  height: min-content;
  min-height: 100px;
  box-shadow: inset 0px 0px 1pc 1px rgba(209, 231, 255, 0.65);
  border: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  @media (max-width: 900px) {
    width: 95vw;
  }
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.napiszDoMnieButton {
  border: 2px solid #d40000;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background-color: transparent;
  color: #d40000;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #817b7b;
  font-family: math;
  transition: 200ms;

  &:hover {
    color: white;
    background-color: #b90b0b;
    border: 2px solid #a80505;
    cursor: pointer;
  }
}

.napiszDoMnieButton2 {
  display: none;
}

@media (max-width: 700px) {
  .napiszDoMnieButton1 {
    display: none;
  }
  .napiszDoMnieButton2 {
    width: 100%;
    text-align: right;
    display: block;
    padding: 10px 10px 0 0;
  }
}
