<table class="tabelaDane tabelaRamka">
  <tr>
    <td class="informacjeOnasTytul">Gdzie nas znajdziesz</td>
    <td><img class="adresIcona"
             src="assets/logoMapy.png">
    </td>
  </tr>
  <tr>
    <td colspan="2" class="informacjaNaglowek1">woj.Podkarpackie</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Jarosław,</td>
    <td class="informacjaNaglowek2">16</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Numer lokalu:</td>
    <td class="informacjaNaglowek2">43</td>
  </tr>
  <tr>
    <td class="zobaczMape" (click)="nawigacja.przeniesDoPanelu(nawigacja.nav.stopka)">Zobacz mapę</td>
    <td></td>
  </tr>
</table>
