$button-backgroundColor: #e1e1e1;
.registerPageMenu {
  width: 100%;
  display: flex;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-items: stretch;
  }
  overflow-x: hidden;

  /* div {
     /*  //flex-grow: 10;
       z-index: 2;
       width: 0;
       overflow-x: hidden;*/
  //    display: contents;
  /*  position: relative;
    @media (max-width: 800px) {
      flex-wrap: wrap;
      width: 100%;
    }
}*/

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
    height: 50px;
    background: $button-backgroundColor;
    box-shadow: 0 0 5px 3px inset rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(84, 84, 84, 0.85);
    transition: 500ms;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    z-index: 2;
    top: 0px;
    position: relative;
    @media (max-width: 800px) {
      font-size: 12px;
      padding: 0 10px;
      height: 30px;
    }

    &:hover {
      background: darken($button-backgroundColor, 10);
      cursor: pointer;
    }

    &.registerPageMenuFirstLink {
      flex-grow: 2;
      z-index: 1;
      position: relative;
    }

    &.active {
      background: lighten($button-backgroundColor, 30);
      color: #000000;
      z-index: 5;
      position: relative;
      scale: 1.15;
    }
  }
}
