<div class="kartka">
  <img src="assets/kartkaPapieru.png" />
</div>
<div class="textDiv">
  <span class="naglowek">Podsumowanie</span>
  <table class="dane">
    <tr>
      <td class="naglowek2">Imię i Nazwisko:</td>
      <td class="naglowek3">{{ rejestracja.DaneKlientaClass.imie + ' ' + rejestracja.DaneKlientaClass.nazwisko }}</td>
    </tr>
    <tr>
      <td class="naglowek2">Termin wizyty:</td>
      <td class="naglowek3">{{ rejestracja.DaneKlientaClass.wybranyTermin?.poczatek | date : 'dd.MM.YYYY' }}</td>
    </tr>
    <tr>
      <td class="naglowek2">Godzina:</td>
      <td class="naglowek3">
        {{ rejestracja.DaneKlientaClass.wybranyTermin?.poczatek | date : 'HH:mm' }} -{{
          rejestracja.DaneKlientaClass.wybranyTermin?.koniec | date : 'HH:mm'
        }}
      </td>
    </tr>
    <tr>
      <td class="naglowek2">Adres:</td>
      <td class="naglowek3">
        {{ danePodstawowe.danePodstawowe.adres.kodPocztowy }} {{ miastoWies() }}
        <br />
        {{ danePodstawowe.danePodstawowe.adres.wojewodztwo }}<br />
        Nr
        <ng-container *ngIf="danePodstawowe.danePodstawowe.adres.numerLokalu.length > 0"> /lokal:</ng-container>
        {{ danePodstawowe.danePodstawowe.adres.numerDomu }}
        <ng-container *ngIf="danePodstawowe.danePodstawowe.adres.numerLokalu.length > 0">
          / {{ danePodstawowe.danePodstawowe.adres.numerLokalu }}
        </ng-container>
      </td>
    </tr>

    <tr>
      <td class="naglowek2">Imię i nazwisko pracownika:</td>
      <td class="naglowek3">{{ wybranyPracownik().pracownik }}</td>
    </tr>
    <tr>
      <td class="naglowek2">Wybrane usługi:</td>
      <td class="naglowek3">
        <ul>
          <li *ngFor="let usluga of wybraneUslugi()">{{ usluga.title | maxDlugosc : 35 }}</li>
        </ul>
      </td>
    </tr>
    <tr *ngIf="danePodstawowe.danePodstawowe.wyswietlaneDane.services">
      <td class="naglowek2">Prognozowana cena za usługi:</td>
      <td class="naglowek3">{{ cenaZaUslugi() }} złotych</td>
    </tr>
    <tr>
      <td class="naglowek2">Kontakt do zapisanego pracownika:</td>
      <td class="naglowek3">{{ wybranyPracownik().telefon }}</td>
    </tr>
    <tr>
      <td class="naglowek2">Kontakt do zakładu:</td>
      <td class="naglowek3">{{ danePodstawowe.danePodstawowe.numerTelefonuOgolny }}</td>
    </tr>
  </table>
  <div class="emailInformation">Na twoją skrzynkę pocztową zostały wysłane szczegółowe informacje na temat wizyty.</div>
  <ng-container *ngIf="!environment.production">
    <a class="pdf" style="outline: 2px dashed red"> Kliknij, jeśli chcesz wygenerować podsumowanie w plik PDF </a>
  </ng-container>
  <button (click)="przejdzDalej()" class="buttonZarejestrujPonownie">Zarejestruj ponownie</button>
</div>
