<div class="naglowek">
  <span>Podsumowanie</span>
  <table>
    <tr>
      <td>Imię i Nazwisko:</td>
      <td>Korneliia Mushak</td>
    </tr>
    <tr>
      <td>Termin wizyty:</td>
      <td>08.08.2023</td>
    </tr>
    <tr>
      <td>Godzina:</td>
      <td>08:40</td>
    </tr>
    <tr>
      <td>Adres:</td>
      <td>Jarosław, ulica Czarnieckiego</td>
    </tr>
    <tr>
      <td>Kontakt do zapisanego pracownika:</td>
      <td>788830720</td>
    </tr>
    <tr>
      <td>Imię i nazwisko pracownika:</td>
      <td>Mateusz Osikowski</td>
    </tr>
    <tr>
      <td>Kontakt do zakładu:</td>
      <td>788830720</td>
    </tr>
    <tr>
      <td>Wybrane usługi:</td>
      <td>Strzyżenie embro</td>
    </tr>
    <tr>
      <td>Prognozowana cena za usługi:</td>
      <td>400 złotych</td>
    </tr>
    <tr>
      <td colspan="2">
        <a> Kliknij, jeśli chcesz wygenerować podsumowanie w plik PDF </a>
      </td>
    </tr>
  </table>
</div>
<div class="divNaPrzycisk">
  <button class="buttonDalej" (click)="przejdzDalej()">
    Zarejestruj ponownie
  </button>
</div>
