<app-table
  [async]="false"
  [collectionSize]="lista_.dane.historia.length"
  [data]="lista_.dane.historia"
  [pageSize]="10"
  [search]="false"
  [title]="'Historia sms:'">
  <ng-template TemplateId="thead">
    <th>Nr.</th>
    <th>Data</th>
    <th>Sms</th>
    <th>Kwota</th>
  </ng-template>
  <ng-template TemplateId="tbody" let-index="index" let-obj>
    <td>{{ index }}</td>
    <td>{{ obj.date | date : 'dd.MM.yyyy' }}</td>
    <td>{{ obj.send }}</td>
    <td>{{ obj.kwota() }}zł</td>
  </ng-template>
</app-table>
