/*.pracownicyDuzy {
  width: 100%;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cfedc6;


  .pracownicy {

    width: 93vw;
    min-height: 500px;


  }
}

.pracownik {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px !important;
  height: 500px !important;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 4px 1px #00391a;
  background: #fbfbfb;

  .imieNazwisko {
    width: 400px;
    height: 50px;
    text-align: center;

    span {

      font-size: 32px;
      font-weight: bold;
      color: #1c5bfc;
      text-shadow: 1px 1px 1px #000000;
      font-family: math;
    }

  }

  .zdjecie {
    height: 500px;

  }

  .popatrz {
    text-align: center;
    height: 50px;
    width: 400px;

    .zobacz {
      width: 100%;
      border: none;
      color: #1f3aea;
      font-size: 30px;
      text-shadow: 1px 1px 1px black;
      background: transparent;
      letter-spacing: 5px;
      border: 2px solid steelblue;

      &:hover {
        cursor: pointer;
        background: steelblue;
        color: white;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
} */


.listaPracownikow {
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #010f33;
  box-shadow: 0px 0px 5px 1px #767272;
  position: relative;
  z-index: 100;
  flex-wrap: wrap;

  .naglowek {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nasiPracownicy {
      font-family: math;
      font-size: 40px;
      letter-spacing: 1px;
      color: white;
      text-shadow: 0px 0px 1px black;

    }
  }

  .wierszPracownikow {
    width: 93vw;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .pracownik {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 320px !important;
      height: 435px !important;
      margin-left: 30px;
      margin-right: 10px;
      box-shadow: 0px 0px 0px 1px #444444;
      background: #fafafa;
      transition: scale 500ms;


      &:hover {
        scale: 1.05;

        .imieNazwisko span {
          color: #fafafa;
        }
      }

      .imieNazwisko {
        width: 100%;
        height: 45px;
        text-align: center;
        background: #460000;


        span {
          position: relative;
          top: 3px;
          font-size: 32px;
          font-weight: bold;
          color: white;
          text-shadow: 1px 1px 1px #000000;
          font-family: math;
        }
      }

      .zdjecie {
        height: 350px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .popatrz {
        width: 100%;
        text-align: center;
        height: 40px;

        .zobacz {
          width: 100%;
          border: none;
          height: 100%;
          color: #ffffff;
          font-size: 30px;
          text-shadow: 1px 2px 1px black;
          background: #460000;
          letter-spacing: 5px;
          transition: 100ms;

          &:hover {

            cursor: pointer;
            background: #540101;
          }
        }


      }
    }
  }
}





