.listaPracownikow {
  width: 100%;
  min-height: 550px;
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  // background: #010f33;
  box-shadow: 0px 0px 5px 1px #767272;
  position: relative;
  z-index: 100;
  flex-wrap: wrap;

  background-image: url('../../../../assets/tlo3.png');

  //width: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &:hover {
    cursor: pointer;
  }

  .naglowek {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nasiPracownicy {
      font-family: math;
      letter-spacing: 1px;
      color: white;
      text-shadow: 0px 0px 1px black;
      font-size: clamp(14px, 1rem + 2vw, 40px);
    }
  }

  .wierszPracownikow {
    width: 93vw;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1200px) {
      gap: 35px;
    }

    .pracownik {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 320px !important;
      margin-left: 30px;
      margin-right: 10px;
      background: #fafafa1c;
      transition: scale 500ms;
      border-radius: 10px;
      border: 1px solid white;

      &:hover {
        scale: 1.05;

        .imieNazwisko span {
          color: #fafafa;
        }
      }

      .imieNazwisko {
        width: 100%;
        height: 45px;
        text-align: center;
        background: transparent;

        span {
          position: relative;
          top: -2px;
          font-size: 30px;
          font-weight: bold;
          color: white;
          text-shadow: 1px 1px 1px #000000;
          font-family: math;
        }
      }

      .zdjecie {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .popatrz {
        width: 100%;
        text-align: center;
        height: 40px;

        .zobacz {
          width: 100%;
          border: none;
          height: 100%;
          color: #ffffff;
          font-size: 30px;
          text-shadow: 1px 2px 1px black;
          background: #00000078;
          letter-spacing: 5px;
          transition: 100ms;
          font-family: math;

          span {
            position: relative;
            bottom: 4px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.glider-next,
.glider-prev {
  font-size: 70px;
}

.glider-next {
  right: -53px !important;
}
