<table class="tabelaDane tabelaRamka">
  <tr>
    <td class="informacjeOnasTytul" colspan="2">
      Godziny otwarcia

      <img class="zegarek"
           src="assets/on-time-icon%20(1).png">
    </td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Poniedziałek -</td>
    <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Wtorek -</td>
    <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Środa -</td>
    <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Czwartek -</td>
    <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Piątek -</td>
    <td class="informacjaNaglowek2"> 08:00 - 18:00</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Sobota -</td>
    <td class="nieczynne"> nieczynne</td>
  </tr>
  <tr>
    <td class="informacjaNaglowek1">Niedziela -</td>
    <td class="nieczynne"> nieczynne</td>
  </tr>
</table>
