.block {
  width: 200px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
  @media (max-width: 700px) {
    width: 150px;
  }
  @media (max-width: 500px) {
    width: 100px;
  }

  &.notLast:after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    height: 90%;
    width: 2px;
    background: rgba(45, 45, 45, 0.63);
    border-radius: 50%;
  }

  $textColor: #363636;

  .value,
  .smallText.title {
    padding: 0;
    margin: 0;
    color: $textColor;
  }

  .title {
    font-size: 18px;
    color: $textColor;
    margin-bottom: 0px;
    @media (max-width: 700px) {
      font-size: 15px;
    }
    @media (max-width: 500px) {
      font-size: 12px;
    }

    fa-icon {
      font-size: 13px;
      position: relative;
      bottom: 2px;
      @media (max-width: 700px) {
        font-size: 10px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  .value {
    font-size: 19px;
    font-weight: bolder;
    padding-top: 4px;
    padding-bottom: 4px;
    @media (max-width: 700px) {
      font-size: 16px;
    }
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  .smallText {
    font-size: 9px;
    font-weight: bold;

    ::ng-deep .active {
      color: #0ccb00;
      font-weight: bolder;
    }

    @media (max-width: 700px) {
      font-size: 7px;
    }
    @media (max-width: 500px) {
      font-size: 6px;
    }
  }
}
