<div class="pasekTytulowy" style="position: relative">
  <h1 style="position: relative">
    {{ DanePodreczne.danePodreczneObiekt.tytulZakladu | maxDlugosc : 40 }}
  </h1>

  <button
    class="powiadomieniaButton"
    id="powiadomieniaUzytkownika_Button"
    placement="bottom-right"
    [animation]="true"
    [ngClass]="{
      powiadomienieAnimacja: powiadomienia_.nieOdczytanePowiadomieniaUzytkownika().length > 0
    }"
    (document:click)="zamkniecie($event, ngbPopoverUzytkownika, 'powiadomieniaUzytkownika_Button')"
    [ngbPopover]="powiadomieniaUzytkonikaTresc"
    [autoClose]="false"
    triggers="manual"
    #ngbPopoverUzytkownika="ngbPopover"
    (click)="otworzZakladu(ngbPopoverUzytkownika)"
    [popoverTitle]="powiadomieniaUzytkonikaTytul">
    <div class="iloscPowiadomien">
      {{ powiadomienia_.nieOdczytanePowiadomieniaUzytkownika().length }}
    </div>
    <span><fa-icon icon="envelope"></fa-icon></span>
  </button>

  <button
    id="powiadomienieZakladu_button"
    class="powiadomieniaAdminButton"
    placement="bottom-right"
    [animation]="true"
    [ngClass]="{
      powiadomienieAnimacja: powiadomienia_.nieOdczytanePowiadomieniaZakladu().length > 0
    }"
    (document:click)="zamkniecie($event, ngbPopover, 'powiadomienieZakladu_button')"
    [ngbPopover]="powiadomieniaZakladuTresc"
    *ngIf="token_.czyWlasciciel()"
    [autoClose]="false"
    triggers="manual"
    #ngbPopover="ngbPopover"
    (click)="otworz(ngbPopover)"
    [popoverTitle]="PowiadomieniaZakladuTytul">
    <div class="iloscPowiadomien">
      {{ powiadomienia_.nieOdczytanePowiadomieniaZakladu().length }}
    </div>
    <span><fa-icon icon="envelope"></fa-icon> <fa-icon class="rotating" icon="gear"></fa-icon></span>
  </button>
  <button class="wstronaStartowaButton">
    <fa-icon [icon]="fontAwesome.dom" (click)="doHarmonogramu()"></fa-icon>
  </button>
  <button class="wylogujButton" (click)="wyloguj()">
    <fa-icon [icon]="fontAwesome.wylogowanieIconka"></fa-icon>
  </button>
</div>

<ng-template #PowiadomieniaZakladuTytul id="powiadomienieZakladu_tytul">
  <span class="powiadomieniaTytul"
  >Powiadomienia systemowe:
    <button (click)="PrzeczytajWszystko()" [disabled]="powiadomienia_.nieOdczytanePowiadomieniaZakladu().length == 0">
      Przeczytaj wszystko
    </button>
    <button (click)="UsunWszystko()" [disabled]="powiadomienia_.nieUsunietePowiadomieniaZakladu().length == 0">
      Usuń wszystko
    </button>
  </span>
</ng-template>
<ng-template #powiadomieniaZakladuTresc id="powiadomienieZakladu_tresc">
  <div class="powiadomienieTresc BrakBialejRamkiPopOver">
    <div
      class="powiadomienie"
      [ngClass]="{ usuniete: powiadomienie.usuniete }"
      *ngFor="let powiadomienie of powiadomienia_.powiadomieniaZakladu">
      <fa-icon icon="x" class="usuniecie" (click)="powiadomienia_.usunPowiadomienieZakladu(powiadomienie)"></fa-icon>
      <fa-icon
        class="icon"
        icon="flag"
        (click)="powiadomienia_.odczytajPowiadomienieZakladu(powiadomienie)"
        [ngClass]="{ odczytane: powiadomienie.odczytane }"></fa-icon>
      <h3>{{ powiadomienie.tytul }}</h3>
      <span class="data">{{ powiadomienie.data | date : 'dd.MM.yyyy   hh:mm' }}</span>
      <p [innerHTML]="powiadomienie.tresc"></p>
      <!--<p class="podpis">Sracz.pl</p>-->
    </div>
  </div>
</ng-template>

<ng-template #powiadomieniaUzytkonikaTytul>
  <span class="powiadomieniaTytul"
  >Powiadomienia:
    <button
      (click)="PrzeczytajWszystkoUzytkownika()"
      [disabled]="powiadomienia_.nieOdczytanePowiadomieniaUzytkownika().length == 0">
      Przeczytaj wszystko
    </button>
    <button
      (click)="UsunWszystkoUzytkownika()"
      [disabled]="powiadomienia_.nieUsunietePowiadomieniaUzytkownika().length == 0">
      Usuń wszystko
    </button>
  </span>
</ng-template>
<ng-template #powiadomieniaUzytkonikaTresc>
  <div class="powiadomienieTresc BrakBialejRamkiPopOver">
    <div
      class="powiadomienie"
      [ngClass]="{ usuniete: powiadomienie.usuniete }"
      *ngFor="let powiadomienie of powiadomienia_.powiadomieniaUzytkownika">
      <fa-icon
        icon="x"
        class="usuniecie"
        (click)="powiadomienia_.usunPowiadomienieUzytkownika(powiadomienie)"></fa-icon>
      <fa-icon
        class="icon"
        icon="flag"
        (click)="powiadomienia_.odczytajPowiadomienieUzytkownika(powiadomienie)"
        [ngClass]="{ odczytane: powiadomienie.odczytane }"></fa-icon>
      <h3>{{ powiadomienie.tytul }}</h3>
      <span class="data">{{ powiadomienie.data | date : 'dd.MM.yyyy   hh:mm' }}</span>
      <p [innerHTML]="powiadomienie.tresc"></p>
      <!--<p class="podpis">Sracz.pl</p>-->
    </div>
  </div>
</ng-template>
